@charset "utf-8";
/*
 * CSS Document
 * This is the formatting for ADMIN pages CSS
*/

* { box-sizing: border-box; }

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #32363b;
	color: #f2f2f2;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	index: 0;
}

a.admin-link {
	display: inline;
	margin: 4px 10px;
	border: thin solid #ff66cc;
	background-color: #ff66cc;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 2px 10px;
	color: #e2e2e2;
}

#broker-combobox
{
	 display: inline-block;
	 width: 70%;
	 font-size: 1.6em;
	 margin: 5px auto;
}

#loading-icon {
	display: inline-block;
	height: 35px;
	width: 35px;
	margin: 4px 1px;
	vertical-align: top;
}

.spin {
	animation: 3s rotate linear infinite;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.drag-and-drop-account.error { background-color: #610E05 !important; }

.archive-icon {	cursor: pointer; }

table th.center, table td.center { text-align: center; }
table th.left, table td.left { text-align:  left; }
table th { font-size: 1em; line-height: 1.2em; padding: 8px 10px; }

table a {
	text-decoration: none;
	font-weight:  bold;
	color: #ff66ff;
	font-size: 1.2em;
}

#users-table td {
	height: 3.5em;
}

span.linked-account {
	display: block;
	font-size: 0.9em;
	line-height: 1.1em;
}

div.drag-and-drop-account {
	display: inline-block;
	height: 40px;
	border: 1px solid #8080ff;
	background-color: #8080ff;
	margin: 3px 5px;
	padding: 2px 4px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
}

div.drag-and-drop-account.IsTempAcct {
	border: 1px solid #0000cc !important;
	background-color: #0000cc !important;
}

div.drag-and-drop-left {
	display: inline-block;
	width: 40px; height: 40px;
	margin: 0;
	vertical-align: top;
	box-sizing: border-box;
}

div.drag-and-drop-left img {
	display: block; margin: 2px 3px;
	cursor: pointer;
}

div.drag-and-drop-right {
	display: inline-block;
	height: 40px;
	vertical-align: top;
	margin: 0;
}

span.drag-and-drop-top {
	display: block;
	height: 15px;
	font-size: .8em;
}

span.drag-and-drop-bottom {
	display: block;
	height: 25px;
	font-size: 1.3em;
}


/* Pane splitter CSS */
.split-pane-divider {
	background: #aaa;
}

#top-component {
	height: 4em;
	min-height: 2em;
}

#horizontal-divider {
	top: 4em;
	bottom: 10em;
	height: 8px;
	background-color: #666;
}

#bottom-component {
	top: 4em;
	min-height: 8em;
	margin-top: 8px;
}


#left-component {
	width: 65em;
	min-width:  25em;
}

#vertical-divider {
	left: 65em; /* same as left component width */
	width: 8px;
	background-color: #666;
}

#right-component {
	left: 65em;
	margin-left: 8px; /* same as divider width */
	min-width: 20em;
}

#top-component2 {
	height: 40em;
	min-height: 2em;
}

#horizontal-divider2 {
	top: 40em;
	bottom: 10em;
	height: 8px;
	background-color: #666;
}

#bottom-component2 {
	top: 40em;
	min-height: 8em;
	margin-top: 8px;
}


.icon#logout { background-image: url(../images/icon-logout.png); }
.icon {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 32px;
	width: 32px;
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon:hover {
	height: 32px;
	width: 32px;
	background-position: -32px 0;
}


/* noty styling */
.btn {
	cursor: pointer;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.btn.btn-cancel {
	background-color: dimgrey;
}

.btn.btn-primary {
	background-color: darkred;
}

