@charset "utf-8";
/*
 * CSS Document
 * This is where the Modular CSS formatting for elements are done
*/

.ticker-element-top-bar {
	display: block;
}

.ticker-element-top-bottom {
	display: block;
	height: 70px;
}
	 

.ticker-element-container {
	display: inline-block;
	font-size: 0px;
	border: 3px solid #666;
	background-color: #666;
	padding: 0px 0px;
	margin: 0px 35px 10px 10px;
	text-align: center;
}

.ticker-element-container .ticker-element-ticker {
	display: inline-block;
	min-width: 55px;
	background-color: #142f44;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
	padding: 0px 8px;
	vertical-align: middle;
}

.ticker-element-container .ticker-element-data {
	display: inline-block;
	background-color: #666;
	vertical-align: middle;
	padding: 3px 0px;
}


.ticker-element-container .element {
	display: inline-block;
	font-size: 12px;
	min-width: 35px;
	margin: 0px;
	padding: 0px 8px;
	border-left: 1px solid #ccc;
	vertical-align: middle;
	background-color: #666;
}

.ticker-element-container .top-element {
	display: block;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 2px;
}

.ticker-element-container .bottom-element {
	display: block;	
	font-size: 12px;
}

.ticker-element-container .average {
	font-size: 14px;	
}

.ticker-element-container .delta {
	margin-left: 4px;
	font-size: 10px;
}
