@charset "utf-8";
/*
 * CSS Document
 * This is where the universal CSS formatting for elements are done
*/

select, option {
	font-family: 'Ubuntu', sans-serif;
	padding: 2px 25px 2px 2px;
	background-color: #737373;
	color: #f2f2f2;
}


input, textarea {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	padding: .2em .5em;
	outline: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 2px 10px;
}

input[type=text] {
	border: 1px solid #f2f2f2;
	background-color: #737373;
	color: #f2f2f2;
}


input[type=button] {
	border: 1px solid #0066ff;
	background-color: #0066ff;	
	color: #f2f2f2;
	cursor: pointer;
	padding: .2em 1em;
}

input[type=button]:hover {
	border: 1px solid #4d94ff;
	background-color: #4d94ff;	
	color: #f2f2f2;
}

input[type=button]:active {
	color: red;
}

textarea {}


/* Scroll bar goodness */
::-webkit-scrollbar
{
	width: 10px;  /* for vertical scrollbars */
	height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: rgba(250,250,250,0.7); 
}

::-webkit-scrollbar-thumb
{
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: rgba(100,100,100,0.9); 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(50,50,50,50,0.4); 
}

