<?php $lastPaymentsList = $di->invoicePaymentTable->selectLast($num); ?>
<?php if ($lastPaymentsList) : ?>
<div class="admin-last admin-lastpayments">
    <h2><?php __e('Last %s Payments', $num); ?></h2>
    <div class="grid-container">
        <table class="grid grid-no-highlight">
            <tr>
                <th class="helper-corner-left" nowrap="nowrap"><?php __e('Date/Time') ?></th>
                <th><?php __e('Invoice') ?></th>
                <th class="not-important"><?php __e('Items') ?></th>
                <th><?php __e('Amount') ?></th>
                <th class="helper-corner-right"><?php __e('User') ?></th>
            </tr>
            <?php foreach ($lastPaymentsList as $p): ?>
            <tr class="grid-row <?php echo (@$rownum++%2) ? 'odd' : 'even' ?>">
                <td nowrap="nowrap"><time datetime="<?php p(date('c', amstrtotime($p->dattm))) ?>" title="<?php p($this->getElapsedTime($p->dattm)) ?>"><?php p(amDate($p->dattm)) ?><br /><small><?php p(amTime($p->dattm)) ?></small></time></td>
                <td><a class="link" href="<?php echo REL_ROOT_URL ?>/admin-user-payments/index/user_id/<?php p($p->user_id) ?>#invoice-<?php p($p->invoice_id) ?>"><?php p($p->invoice_id) ?>/<?php p($p->public_id) ?></a><br />
                    <small><?php p($p->paysys_id) ?><?php if($p->coupon_code): p(', ' . $p->coupon_code); endif; ?></small></td>
                <td><?php p($p->items) ?></td>
                <td align="right">
                    <?php p(Am_Currency::render($p->amount, $p->currency)) ?>
                    <?php if (!is_null($p->refund_amount) && $p->refund_amount == $p->amount) : ?>
                    <br /><span class="red"><?php __e('Refunded') ?>
                    <?php elseif (!is_null($p->refund_amount)) : ?>
                    <br /><span class="red"><?php echo Am_Currency::render($p->refund_amount, $p->currency) ?> <?php __e('refunded') ?></span>
                    <?php endif; ?>
                </td>
                <td><?php if ($p->dattm >= $p->added && (amstrtotime($p->dattm) - amstrtotime($p->added)) < 7200) : ?>
                    <span class="widget-label widget-label_<?php echo (sqlDate($p->dattm) == sqlDate('today')) ? 'today' : 'yesterday' ?>"><?php __e('new') ?></span>
                    <?php endif; ?>
                    <?php if (sqlDate($p->dattm) == sqlDate('today')) : ?>
                    <span class="widget-label widget-label_today"><?php __e('today') ?></span>
                    <?php elseif(sqlDate($p->dattm) == sqlDate('yesterday')): ?>
                    <span class="widget-label widget-label_yesterday"><?php __e('yesterday') ?></span>
                    <?php endif; ?>
                    <?php if(trim($p->name)) : ?>
                        <strong><?php p($p->name) ?></strong>
                        (<a class="link" href="<?php echo $this->userUrl($p->user_id) ?>"><?php p($p->login) ?></a>)
                    <?php else: ?>
                        <a class="link" href="<?php echo $this->userUrl($p->user_id) ?>"><?php p($p->login) ?></a>
                    <?php endif; ?>
                    <br />
                    <?php p($p->email) ?></td>
            </tr>
            <?php endforeach ?>
        </table>
    </div>
</div>
<?php else: ?>
<div class="widget-nodata">
    <h2><?php __e('Last %s Payments', $num); ?></h2>
    <p><?php __e("You don't have any payments yet") ?></p>
</div>
<?php endif; ?>