<h2><?php __e('Revenue Goal') ?> &middot; <?php p($reportTitle) ?></h2>
<div class="widget-recurring-goal">
    <div class="progress-bar-conteiner">
        <div class="progress-bar">
            <div class="progress-bar-bar" style="width:<?php p($width) ?>%;">
                <div style="padding:0.5em;">&nbsp;</div>
            </div>
            <div class="progress-bar-title">
                <div style="padding:0.5em;">
                    <?php if ($amount >= $goal) : ?>
                        <?php __e('Completed!') ?> <?php echo Am_Currency::render($amount); ?>
                    <?php else : ?>
                        <?php echo Am_Currency::render($amount); ?> / <?php echo Am_Currency::render($goal); ?>
                    <?php endif; ?>
                </div>
            </div>
            <div style="padding:0.5em">&nbsp;</div>
        </div>
    </div>
</div>