<?php
$totalPaid = $di->db->selectCell("SELECT ROUND(SUM(amount/base_currency_multi),2) "
    . "FROM ?_invoice_payment "
    . "WHERE user_id=?", $user->pk());
$totalRefund = $di->db->selectCell("SELECT ROUND(SUM(amount/base_currency_multi),2) "
    . "FROM ?_invoice_refund "
    . "WHERE user_id=?", $user->pk());
?>
<div class="info">
    <div style="float:right">
    <?php if ($di->authAdmin->getUser()->hasPermission('grid_u', 'delete')) : ?>
    <a style="color:red" target="_top"
       href="<?php p(REL_ROOT_URL.'/admin-users/delete?' . http_build_query(array(
           'id' => $user->pk()
       ))) ?>"
    ><?php __e('Delete User') ?></a>
    <?php endif; ?>
    </div>
    <?php
    printf('%s: <strong>%d</strong> &middot; %s: <strong>%s</strong>%s &middot; %s%s: <a class="link" href="%s">%s</a> &middot; %s: <span style="color:#488f37">%s</span>%s',
        ___('ID'), $user->pk(),
        ___('Username'), $user->login,
        $di->authAdmin->getUser()->hasPermission('grid_u', 'login-as') ?
            sprintf(' <a class="link" href="%s" target="_blank">%s</a>',
                $this->escape(REL_ROOT_URL . '/admin-users/login-as?id='.$user->pk()),
                ___('Login as User')) : '',
        ($user->name_f || $user->name_l) ?
                sprintf('%s: <strong>%s</strong> &middot; ', ___('Name'), trim(Am_Html::escape($user->name_f." ".$user->name_l))) :
                '',
        ___('Email'),
        REL_ROOT_URL."/admin-email?search-type=advanced&search=".urlencode(json_encode(array('member_id_filter'=>array('val'=>$user->pk())))),
        Am_Html::escape($user->email),
        ___('Total Paid'), Am_Currency::render($totalPaid),
        ($totalRefund > 0 ? sprintf(' &middot; %s: <span class="red">%s<span>', ___('Refunds'), Am_Currency::render($totalRefund)) : '')
        );
    ?>
</div>