<div class="tree-full-wrapper">
<?php
if (!$isAjax) {
    $this->setLayout('admin/layout.phtml');
}
function renderNode($id, Am_Record $c, Am_View $view) {
    $out = sprintf('<li id="node-%d"><div>
            <div class="tree-actions">
            <a title="%s" href="javascript:;" class="edit">%s</a>
            <a title="%s" href="javascript:;" class="add">%s</a>
            <a title="%s" href="javascript:;" class="del">%s</a>
            </div>
            <span class="text"><small>#<span class="c-id" title="ID">%d</span></small> - <strong class="c-title" title="Title">%s</strong></span>
        </div>',
            $id,
            ___('Edit'),
            $view->icon('edit'),
            ___('Add Child'),
            $view->icon('add'),
            ___('Delete'),
            $view->icon('delete'),
            $c->pk(),
            Am_Html::escape($c->title)
    );
    $out .= '<ul>';
    foreach ($c->getChildNodes() as $child)
        $out .= renderNode($child->pk(), $child, $view);
    $out .= '</ul>';
    $out .= '</li>';
    return $out;
}
function getNodeData(Am_Record $c, & $data) {
    $data[$c->pk()] = $c->toArray() + array('id' => $c->pk());
    foreach ($c->getChildNodes() as $child)
        getNodeData($child, $data);
}
?>
<?php if ($note) : ?>
<div class="info"><?php p($note) ?></div>
<?php endif; ?>
<div class="tree-wrapper">
<ul class="tree-nodes">
<?php
foreach ($nodes as $node) {
    echo renderNode($node->pk(), $node, $this);
}
$data = array();
foreach ($nodes as $node) {
    getNodeData($node, $data);
}
?>
</ul>
<!-- template for creating new nodes -->
<ul style="display: none">
<?php
$tmpl->title = "TITLE";
echo str_replace('999', 'TPL', renderNode(999, $tmpl, $this));
?>
</ul>
</div>
<input type="button" class="add-root" value="<?php __e('Add Root Node')?>" />
<script type="text/javascript">
    var nodes = <?php echo json_encode($data); ?>;
</script>
<div id="node-form" style="display:none">
    <div class="am-form">
        <form method="post" action="<?php $this->pUrl(null, 'save') ?>">
            <div class="row">
                <div class="element-title"><label for="node-title"><?php __e('Title') ?></label></div>
                <div class="element"><input type="text" id="node-title" name="title" class="el-wide translate" /></div>
            </div>
            <div class="row">
                <div class="element-title"><label for="node-description"><?php __e('Description') ?></label></div>
                <div class="element">
                    <textarea id="node-description" class="el-wide translate" rows="3" name="description"></textarea>
                </div>
            </div>
            <?php if ($tmpl instanceof ProductCategory) : ?>
            <div class="row">
                <div class="element-title">
                    <label for="node-code"><?php __e('Code') ?></label>
                    <div class="comment"><?php __e('if code is present, products will be hidden in shopping cart and this code is required to see these products') ?></div>
                </div>
                <div class="element">
                    <input id="node-code" type="text" name="code" size="12"/>
                    <a href="javascript:;" class="generate-pass local"><?php __e('generate') ?></a>
                </div>
            </div>
            <?php endif; ?>
            <div class="row">
                <div class="element-title"><label for="node-sort"><?php __e('Sort') ?></label></div>
                <div class="element">
                    <input type="text" id="node-sort" name="sort_order" size="4" value="0" />
                </div>
            </div>
            <input type="hidden" name="parent_id" />
            <input type="hidden" name="id" />
        </form>
    </div>
</div>
<script type="text/javascript">
    jQuery(function(){
        var frm = jQuery("#node-form form");
        function findRoot(id)
        {
            var found  = jQuery("#node-"+id+" > ul");
            if (found.length) return found;
            return jQuery(".tree-nodes");
        }
        jQuery("#node-form").dialog({
            buttons: {
                'Ok' : function() {
                    frm.ajaxSubmit({
                        success: function(data){
                            var id = data.id;
                            if (nodes[id]) // existing category updated
                            {
                                jQuery('#node-'+id+' > div .c-title').text(data.title);
                                jQuery('#node-'+id+' > div .c-id').text(data.id);
                            } else { // new category added
                                var tpl = jQuery("li#node-TPL").html();
                                var $el = jQuery('<li id="node-'+id+'">' + tpl + '</li>');
                                $el.find('.c-title').text(data.title);
                                $el.find('.c-id').text(data.id);
                                findRoot(data.parent_id).append($el);
                            }
                            nodes[id] = data;
                            jQuery("#node-form").dialog("close");
                        },
                        clearForm: true
                    });
                },
                'Cancel' : function() { jQuery(this).dialog("close"); }
            },
            modal : true,
            title : "<?php j(___('Edit')) ?>",
            width: 600,
            autoOpen: false
        });
        jQuery(".tree-wrapper").on('click', "a.edit", function(){
            frm[0].reset();
            frm.find('input[type=hidden]').val(""); //reset do not affect hidden fields
            var li = jQuery(this).closest("li");
            var id = parseInt(li.attr("id").replace(/node-/, ''));
            var record = nodes[id];
            if (!record) return; // ????
            for (var k in record)
            {
                var found = frm.find('input[name="'+k+'"]');
                if (!found.length){
                    found = frm.find('textarea[name="'+k+'"]');
                    if (!found.length) continue;
                }
                found.val(record[k]);
            }
            frm.find('input, textarea').change();
            jQuery("#node-form").dialog("option", "title", "<?php j(___('Edit')) ?>").dialog("open");
        });
        jQuery(".tree-wrapper").on('click', "a.add", function(){
            var li = jQuery(this).closest("li");
            var id = parseInt(li.attr("id").replace(/node-/, ''));
            frm[0].reset();
            frm.find('input, textarea').change();
            frm.find('input[type=hidden]').val(""); //reset do not affect hidden fields
            jQuery("input[name='parent_id']").val(id);
            jQuery("#node-form").dialog("option", "title", "<?php j(___('Add')) ?>").dialog("open");
        });
        jQuery(".tree-full-wrapper").on('click', "input.add-root",function(){
            frm[0].reset();
            frm.find('input, textarea').change();
            frm.find('input[type=hidden]').val(""); //reset do not affect hidden fields
            jQuery("#node-form").dialog("option", "title", "<?php j(___('Add')) ?>").dialog("open");
        });
        jQuery(".tree-wrapper").on('click', "a.del", function(){
            if (confirm("<?php j(___('Do you really want to delete this item?')) ?>"))
            {
                var li = jQuery(this).closest("li");
                var id = parseInt(li.attr("id").replace(/node-/, ''));
                jQuery.ajax({
                    url : '<?php $this->pUrl(null, 'del') ?>/id/' + id,
                    method: 'post',
                    success: function(responseText)
                    {
                        if (responseText != "OK")
                        {
                            flashError("<?php j(___('Error deleting record! Please refresh page and try again')) ?>");
                            return;
                        }
                        jQuery("li#node-" + id + " > ul > li").detach().appendTo(li.closest("ul"));
                        li.remove();
                    }
                });
            }
        });
        jQuery("a.generate-pass").click(function(){
            var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz";
            var pass = "";
            var len = 10;
            for(var i=0; i<len; i++){
                pass += chars.charAt(Math.floor(Math.random() * chars.length));
            }
            jQuery(this).closest('.row').find("input").val(pass);
        });
    });
</script>
</div>