<?php
$this->layoutNoTitle = true;
$this->setLayout('admin/layout.phtml');
?>
<?php if (!$di->config->get('dont_check_updates') && Am_Di::getInstance()->authAdmin->getUser()->isSuper()): ?>
<script type="text/javascript">
    if (!document.cookie.match(/[^;]am_upgrade_checked=1[;$]/))
    {
        jQuery.getJSON(window.rootUrl + '/admin-upgrade/check', function(updates){
            var $ul = jQuery('<ul class="upgrades"></ul>');
            var up_cnt = 0;
            jQuery.each(updates, function(k,record){
                var link = jQuery('<a href="javascript:" data-href="'+record.dismiss_url+'" class="dismiss local">dismiss (x)</a>');
                var changelog = jQuery('<a href="javascript:;" class="changelog local">changelog</a>');
                changelog.data('text', record.text);
                var update = jQuery('<a href="' + window.rootUrl + '/admin-upgrade">update</a>');
                var li = jQuery("<li class='upgrade'>"
                    + record.notice
                    +"</li>");
                li.append(" ").append(changelog);
                li.append(" ").append(update);
                li.append(" ").append(link);
                changelog.click(function(){
                    var $div = jQuery('<div style="display:none;" id="chagelog-popup"></div>');
                    jQuery('body').append($div);
                    var $pre = jQuery('<pre></pre>')
                    $div.append($pre.html(jQuery(this).data('text')));

                    $div.dialog({
                        autoOpen: true,
                        modal : true,
                        title : "Changelog",
                        width : 800,
                        position : ['center', 100],
                        close : function() {
                            $div.remove();
                        }
                    });
                })
                link.click(function(){
                    jQuery.get(link.data('href'));
                    li.remove();
                    up_cnt--
                    jQuery(".upgrade-caption-count").empty().append(up_cnt);
                    if (up_cnt <= 0) {
                        jQuery('.upgrades-conteiner').remove();
                    }
                });
                $ul.append(li);
                up_cnt++;
            });
            if (up_cnt) {
                var $div = jQuery('<div class="upgrades-conteiner"></div>');
                $div.append(
                '<div class="upgarde-controll">[<a href="#" id="upgarde-controll-link">+</a>]</div>' +
                    '<div class="upgrade-caption"><span class="upgrade-caption-count">' + up_cnt + '</span> upgrades available' + '</div>'
            ).append($ul)
                jQuery('.content').prepend($div);

                jQuery('#upgarde-controll-link').click(function(){
                    var $a = jQuery(this);
                    if ($a.hasClass('opened')) {
                        $a.removeClass('opened').empty().append('+');
                        jQuery('.upgrades').hide();
                        jQuery('.upgrade-caption').show();
                    } else {
                        $a.addClass('opened').empty().html('&minus;');
                        jQuery('.upgrade-caption').hide();
                        jQuery('.upgrades').show();
                    }
                    return false;
                })
            }
        });
    }
</script>
<?php endif; //!$di->config->get('dont_check_updates') && Am_Di::getInstance()->authAdmin->getUser()->isSuper() ?>
<div class="dashboard-customize-link-wrapper">
<a href="<?php p(REL_ROOT_URL) ?>/admin/customize-dashboard" class="link dashboard-customize-link"><?php __e('Customize') ?></a>
</div>
<div class="dashboard">
    <div class="top">
        <div>
            <?php echo $this->blocks('admin/dashboard/top') ?>
        </div>
    </div>
    <?php foreach(array('top', 'aside', 'main','bottom') as $target) : ?>
    <div class="<?php p($target) ?>">
        <div>
            <?php foreach ($widgets[$target] as $k => $widget) : ?>
            <div class="widget" id="widget-<?php p($target);?>-<?php p($k) ?>" data-title="<?php p($widget->getTitle());?>"></div>
            <?php endforeach; ?>
        </div>
    </div>
    <?php endforeach; ?>
</div>
<img id="ajax-loader-image" style="display:none" src="<?php echo $this->_scriptImg('/ajax-loader-small-gray.gif');?>" />
<script type="text/javascript">
jQuery(document).ready(function($){
    jQuery(".widget").each(function(){
        var container = jQuery(this);

        jQuery.ajax({
            url: '<?php p(REL_ROOT_URL) ?>/admin/widget/id/'+jQuery(this).attr('id'),
            beforeSend: function(){
                container.data('timeoutID', window.setTimeout(function (){
                    container.html("&nbsp;Widget '"+container.data('title')+"' loading...");
                    var img = jQuery('#ajax-loader-image').clone();
                    container.prepend(img);
                    img.show();
                }, 1000));
            },
            success: function(result){
                window.clearTimeout(container.data('timeoutID'));
                $result = jQuery(result);
                var script = $result.find('script').detach();
                container.html($result);
                script.each(function(){
                    eval(jQuery(this).text());
                });
            }
        });
    });
    setInterval(function(){
        jQuery(".widget").each(function(){
            var container = jQuery(this);
            
            jQuery.ajax({
                url: '<?php p(REL_ROOT_URL) ?>/admin/widget/id/'+jQuery(this).attr('id'),
                success : function(result){
                    $result = jQuery(result);

                    var script = $result.find('script').detach();
                    container.html($result);
                    script.each(function(){
                        eval(jQuery(this).text());
                    });
                }
            });
        });
    }, 60 * 1000);
});
</script>