<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title><?php p(strip_tags($title)) ?></title>
        <?php
        $this->adminHeadInit();
        echo $this->headLink() . "\n";
        echo $this->headStyle() . "\n";
        echo $this->headScript() . "\n";
        ?>
    </head>
    <body>
        <div class="layout login">
            <?php echo $content ?>
        </div>
        <div style="height:30px; margin: 0 auto 0; text-align: center; font-size: 0.8rem" id="am-credits">Built on <a href="http://www.amember.com/" title="flexible, user-friendly membership software (subscription script)">aMember Pro&trade; membership software</a></div>
    </body>
</html>