<?php $this->setLayout('admin/user-layout.phtml'); ?>
<div class="info">
    <p><?php __e('Do you really want to Delete User %s?', sprintf('<strong>%s</strong>', $user->login)) ?></p>
    <br />
    <div class="buttons">
        <form method="post" action="<?php p(REL_ROOT_URL . '/admin-users/delete') ?>">
            <input type="hidden" name="id" value="<?php p($user->pk()) ?>" />
            <input type="submit" name="_save_" id="user-delete-confirm" value="<?php __e('Yes, Delete User') ?>" /> <a id="user-delete-cancel" style="padding-left:1em" href="<?php p($this->userUrl($user->pk())) ?>"><?php __e('No, cancel') ?></a>
        </form>
    </div>
</div>
<script type="text/javascript">
  jQuery('#user-delete-confirm').click(function(){
    jQuery('#user-delete-cancel').hide();
    jQuery(this).attr('disabled', 'disabled');
    jQuery(this).closest('form').submit();
    return false;
  })
</script>