<?php include $this->_script('_error.phtml'); ?>
<div class="am-login-form-wrapper" <?php if(array_key_exists('sendpass', $_GET)): ?>style="display:none;"<?php endif;?>>
    <?php echo $this->blocks('login/form/before') ?>
    <div class="am-form am-login-form">
        <?php echo $content ?>
    </div>
    <?php echo $this->blocks('login/form/after') ?>
</div>
<div class="am-sendpass-form-wrapper" <?php if(array_key_exists('sendpass', $_GET)): ?>style="display:block;"<?php endif;?>>
    <div class="am-form am-sendpass-form">
        <form name="sendpass" method="post" action="<?php echo REL_ROOT_URL ?>/sendpass">
            <fieldset>
                <legend><?php __e('Lost password?') ?></legend>
                <div class="row">
                    <div class="element-title">
                        <label for="sendpass"><?php __e('Username/Email') ?></label>
                    </div>
                    <div class="element"><input type="text" name="login" id="sendpass" size="15" placeholder="<?php __e('Username/Email') ?>" /></div>
                </div>
                <div class="row">
                    <div class="element">
                        <input type="submit" value="<?php __e('Get Password') ?>" />
                        <a href="<?php p(REL_ROOT_URL) ?>/login" class="local-link am-form-login-switch"><?php __e('Log In') ?></a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">
jQuery('.am-form-login-switch').click(function(){
    jQuery('.am-login-form-wrapper, .am-sendpass-form-wrapper').toggle();
    jQuery('.am-login-form-wrapper .errors, .am-sendpass-form-wrapper .errors, .am-body-content .errors').remove();
    return false;
});
jQuery('.am-login-form-wrapper form, .am-sendpass-form-wrapper form').submit(function(){
    jQuery('.am-body-content .errors').remove();
});
</script>