<?php
    $scriptId = "am-$type-" . filterId($this->id);
    $divId = "div-".$scriptId;
    $rootUrl = $isSecure ? ROOT_SURL : ROOT_URL;
    $jwPlayerJs = $rootUrl . "/application/default/views/public/js/jwplayer/jwplayer.js";
    $playerParams['width'] = $width;
    $playerParams['height'] = $height;
    $playerParams['file'] = $media;
    $playerParams['image'] = $this->poster;
    $playerParams['flashplayer'] = $rootUrl . "/application/default/views/public/js/jwplayer/jwplayer.flash.swf";
    $playerParams['html5player'] = $rootUrl . "/application/default/views/public/js/jwplayer/jwplayer.html5.js";
    $types = array(
        'video/mp4' =>'mp4',
        'video/flv' =>'flv',
        'video/webm' =>'webm',
        'audio/mp4' => 'aac',
        'audio/mpeg' => 'mp3',
        'audio/ogg' => 'vorbis'
        );
    $playerParams['type'] = @$types[$mime];
?>
    <?php if (!empty($media)) : // user has access to media ?>
jQuery(document).ready(function($) {
    var runMedia = function()
    {
        var $a = jQuery('<a id="<?php p($divId) ?>" class="am-video"><?php if ($this->poster) { echo '<div class="am-video-poster-icon"></div><div class="am-video-poster"><img src="' . $this->escape($this->poster) . '" alt="" /></div>'; } ?></a>');
        $a.attr("href","<?php p($media) ?>");
        $a.css({
            width : '100%',
            'max-width' : '<?php p($width)?>px',
            'height' : '<?php p($height)?>px',
            display: 'inline-block'
        });
        jQuery("script#<?php echo $scriptId ?>").after($a);
        jQuery(window).resize(function(){
            $a.css({
                height: parseInt($a.innerWidth()*<?php p($height)?>/<?php p($width)?>) + 'px'
            });
        }).resize();
        $a.wrap('<div class="am-video-wrapper"><center></center></div>')
        jwplayer('<?php p($divId)?>').setup(<?php echo (empty($playerParams) ? '{}' : json_encode($playerParams)) ?>);
        jQuery('#'+'<?php p($divId)?>').css({display: 'inline-block'});
        
    }
    // if !jwplayer  loaded, load it in async mode
    if (typeof jwplayer == 'function')
    {
        runMedia();
    } else {
        jQuery.getScript('<?php p($jwPlayerJs)?>', function(){
            jwplayer.key = '<?php p($playerParams['key']);?>';
            runMedia();
        });
    }
});
<?php else: // no media ?>
jQuery(document).ready(function($) {
    var $a = jQuery('<a id="<?php p($divId)?>" class="am-video-no-access"></a>');
    $a.attr("href",'<?php echo $link;?>' + '?_amember_redirect_url=' + btoa(window.location.href));
    $a.text('<?php j($error) ?>');
    jQuery("script#<?php echo $scriptId ?>").after($a);
});
<?php endif; ?>