<?php $title = $di->config->get('site_title', 'Index Page'); $this->setLayout('layout.phtml'); ?>
<?php __e('If you are a registered member, please %slogin%s','<a href="' . Am_Html::escape(REL_ROOT_URL . '/login') . '">','</a>') ?>.
<?php if (!$di->config->get('signup_disable')) : ?>
<?php __e('If you are not registered yet, please %ssignup%s','<a href="'. Am_Html::escape(REL_ROOT_URL . '/signup') .'">','</a>') ?>.
<?php endif; ?>