<?php $title = ___('Access Denied'); if ($useLayout) {$this->setLayout('layout.phtml');} ?>
<p>
   <?php __e('You have no access to %s', $accessObjectTitle) ?>.
   <?php __e('Visit %sorder page%s to order additional subscriptions', '<a href="'. $this->escape($orderUrl).'">', '</a>'); ?>.
</p>