.wpb-js-composer {
    .faq-accordion {
        .vc_tta.vc_general .vc_tta-panel-body {
            padding: 0;
        }

        .vc_tta-container .vc_tta-panels .vc_tta-panel .mk-text-block {
            font-size: inherit;
            line-height: inherit;
            width: 100%;
        }

        .vc_tta-container .vc_tta-panels .vc_tta-panel .mk-text-block p {
            font-size: 17px;
            font-weight: normal;
        }

        .vc_tta.vc_general.vc_tta-o-all-clickable .vc_tta-panel .vc_tta-panel-title > a,
        .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title > a {
            color: #89b25b !important;
            font-size: 27px;
            font-weight: 400;
            text-transform: capitalize;
        }

        .mk-accordion.fancy-style .mk-accordion-tab i {
            margin-right: 0;
        }
    }
}
