.sidedash-navigation-ul {
    margin: 20px 0;

    li {
        a,
        ul li a {
            padding-left: 20px;
        }

        &:first-child {
            background: #203c5a;

            .mk-nav-arrow {
                height: 60px;
                width: 100%;

                svg {
                    position: absolute;
                    right: 17px;
                    top: 20px;
                }
            }
        }

        &:first-child a:hover {
            background: #355577;
        }
    }
}
