/* Helpdesk */
.am-helpdesk {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-top: 0.5em;
}
.am-helpdesk h3 {
  text-align: left;
  padding-top: 0;
  margin-top: 0;
}

/* Ticket */
.am-helpdesk-ticket {
  margin-bottom: 0.5em;
}
.am-helpdesk-ticket .am-helpdesk-ticket-info {
  padding: 0.4em 0;
}

.am-helpdesk-ticket-header {
  overflow: hidden;
}

.am-helpdesk-ticket-status {
  float: right;
}

.am-helpdesk-ticket-actions-conteiner {
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: #ccc 1px solid;
  margin-top: 0.5em;
}

.am-helpdesk-ticket-actions {
  overflow: hidden;
}

.am-helpdesk-ticket-action {
  display: inline-block;
  padding: 0.5em;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.am-helpdesk-ticket-action.am-helpdesk-action-active {
  background-color: #dbdbdb;
}

.am-helpdesk-ticket-action-fold-all {
  padding-left: 0.5em;
  line-height: 0.6em;
  font-size: 1.3em;
  float: right;
}
.am-helpdesk-ticket-action-fold-all a {
  text-decoration: none;
}

.am-helpdesk-ticket-fields {
  padding-bottom: 0.5em;
}

/* Reply Panel */
.am-helpdesk-reply-panel {
  padding: 0.5em;
  background: #dbdbdb;
  display: none;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.am-helpdesk-reply-panel-tools {
  overflow: hidden;
  padding: 0.5em 0;
}

.am-helpdesk-reply-panel-tool {
  float: left;
  padding-right: 0.5em;
}

.am-helpdesk-reply-panel-content .am-form div.row.no-label .element {
  padding: 0 0 0.5em;
}
.am-helpdesk-reply-panel-content .am-form div.row.no-label .element textarea {
  font-family: monospace;
  line-height: 140%;
  resize: vertical;
  border: none;
  padding: 1em;
}
.am-helpdesk-reply-panel-content .am-form div.row.no-label .element textarea:focus {
  background: white;
  border: none;
}
.am-helpdesk-reply-panel-content .am-form {
  margin: 0;
}
.am-helpdesk-reply-panel-content .am-form form {
  background: none;
  border: 0;
  box-shadow: none;
}
.am-helpdesk-reply-panel-content .am-form div.row {
  border: 0;
}
.am-helpdesk-reply-panel-content .am-form .element-title,
.am-helpdesk-reply-panel-content .am-form .element {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.am-helpdesk-reply-panel-content .am-form #row-attachments-0 {
  display: none;
}

.am-helpdesk-form #row-attachments-0 {
  display: none;
}

/* Message */
.am-helpdesk-message {
  margin-bottom: 0.5em;
  border-radius: 3px;
}
.am-helpdesk-message.am-helpdesk-message-inbound {
  background: #fff9ea;
}
.am-helpdesk-message.am-helpdesk-message-outbound {
  background: #f1f1f1;
}

.am-helpdesk-message-brief {
  display: none;
}

.am-helpdesk-message-has-attachments {
  float: right;
}

.am-helpdesk-message-closed .am-helpdesk-message-brief {
  display: inline;
}
.am-helpdesk-message-closed .am-helpdesk-message-full {
  display: none;
}
.am-helpdesk-message-closed .am-helpdesk-message-header {
  opacity: 1;
}

.am-helpdesk-message-outbound.am-helpdesk-message-closed .am-helpdesk-message-header {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.am-helpdesk-message-outbound {
  border: #dbdbdb 1px solid;
}

.am-helpdesk-message-inbound {
  border: #dbdbdb 1px solid;
  background-color: #ededed;
}

.am-helpdesk-message-comment {
  border: #ccc 1px solid;
}
.am-helpdesk-message-comment .am-helpdesk-message-header {
  background-color: #7bc971;
}

.am-helpdesk-message-header {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: 0.5em;
  margin: 0;
  overflow: hidden;
  opacity: 0.8;
}

.am-helpdesk-message-author {
  font-weight: bold;
}

.am-helpdesk-message-author-avatar {
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1em;
}

.am-helpdesk-message-content {
  padding: 0.5em;
  margin: 0;
}
.am-helpdesk-message-content pre {
  color: #4d4948;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 150%;
  font-family: monospace;
  font-size: 12px;
}

.am-helpdesk ul.am-helpdesk-message-attachments {
  margin: 0.5em 0 0;
}
.am-helpdesk ul.am-helpdesk-message-attachments li.am-helpdesk-message-attachments-item {
  list-style-type: none;
}
.am-helpdesk ul.am-helpdesk-message-attachments li.am-helpdesk-message-attachments-item:before {
  content: "\2013\00a0";
}

.am-helpdesk-message-action {
  display: inline-block;
  padding: 0.5em;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.am-helpdesk-message-action.am-helpdesk-action-active {
  background-color: #dbdbdb;
}

.am-helpdesk-message-action-fold {
  padding-left: 0.5em;
  line-height: 0.6em;
  font-size: 1.3em;
  float: right;
}
.am-helpdesk-message-action-fold a {
  text-decoration: none;
}

/* History */
.am-helpdesk-history {
  border-bottom: 1px solid #a1a1a1;
  margin-bottom: 0.5em;
}
.am-helpdesk-history h1 {
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}

.am-helpdesk-history-content {
  display: none;
  border-top: 1px solid #a1a1a1;
  padding-top: 0.5em;
}

.am-helpdesk-history-title {
  overflow: hidden;
  margin-bottom: 0.5em;
}

.am-helpdesk-history-title-action {
  float: right;
}
.am-helpdesk-history-title-action a {
  display: block;
  padding-right: 10px;
  background: url("../img/arrow.png") no-repeat center right;
}

ul.am-helpdesk-faq-cat .am-helpdesk-faq-cat-item {
  list-style-type: none;
}

.am-helpdesk-grid-msg-cnt {
  background: #babec0;
  color: white;
  padding: 1px 4px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 6px;
}

.am-helpdesk-grid-msg {
  color: #888;
}
