<?php
$title = $catActive ? $catActive : ___('Affiliate info');
$this->headLink()->appendStylesheet($this->_scriptCss('aff.css'));
$this->setLayout('member/layout.phtml');
/* @var $di Am_Di */
?>
<?php echo $this->blocks('aff/top') ?>
<?php echo $this->blocks('aff/links/top') ?>
<?php if (!$catActive) : ?>
    <?php echo $intro; ?>
    <h2><?php __e('Your General Affiliate Link') ?></h2>
    <div class="am-aff-banner-preview">
        <?php p($generalLink) ?>
    </div>
    <?php if ($canUseCustomRedirect) : ?>
    <?php include $this->_script('aff/_custom-redirect.phtml'); ?>
    <?php endif; ?>
    <?php echo $this->blocks('aff/links/middle') ?>
<?php endif; ?>
<?php if (count($category) && !(count($category)==1 && $catActive)) : ?>
    <div class="am-block">
        <ul class="am-aff-banner-cat-list">
        <?php foreach ($category as $cat) : ?>
            <?php if ($cat == $catActive) : ?>
                    <li class="am-aff-banner-cat-list-item"><h2><?php p($cat) ?></h2></li>
            <?php else: ?>
                    <li class="am-aff-banner-cat-list-item"><h2><a href="<?php echo REL_ROOT_URL . '/aff/aff?' . http_build_query(array('c' => $cat)) ?>"><?php p($cat) ?></a></h2></li>
            <?php endif; ?>
        <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>
<!-- aff banners -->
<?php if (count($affBanners)) : ?>
<h2><?php __e('Banners and Links') ?></h2>
    <?php foreach ($affBanners as $banner) : ?>
    <?php $url = $this->escape(ROOT_URL . '/b/' . $this->obfuscate($banner->pk())) . '/' . urlencode($di->user->login); ?>
    <?php $code  = '<script type="text/javascript" src="' . $url . '"></script>' ?>
    <div class="am-aff-banner-preview">
        <div>
            <div class="am-aff-banner-preview-preview">
                <div class="am-aff-banner-preview-preview-conteiner">
                <?php echo str_replace(array('http://', 'https://'), '//', $code) ?>
                </div>
            </div>
            <div class="am-aff-banner-preview-info">
                <div class="am-aff-banner-preview-info-conteiner">
                    <dl class="am-aff-banner-preview-info-details">
                        <dt><?php __e('Title') ?></dt>
                        <dd><?php p($banner->title) ?></dd>
                        <dt><?php __e('Affiliate Link') ?></dt>
                        <dd><?php p(sprintf('%s/aff/go/%s?i=%d', ROOT_SURL, urlencode($di->user->login), $banner->pk())) ?></dd>
                        <dt><?php __e('Target URL') ?></dt>
                        <dd><a href="<?php p($banner->url) ?>"><?php p($banner->url) ?></a></dd>
                        <?php if ($banner->desc) : ?>
                        <dt><?php __e('Description') ?></dt>
                        <dd><?php p($banner->desc) ?></dd>
                        <?php endif; ?>
                    </dl>
                    <a href="javascript:;" onclick="jQuery(this).siblings('textarea').toggle()" class="local-link"><?php __e('Source Code &mdash; Copy/Paste Into Your Website') ?></a><br />
                    <textarea class="el-wide" style="display:none; margin-top: 1em;" rows="8"><?php p($code); ?></textarea>
                </div>
            </div>
        </div>
    </div>
    <?php endforeach; ?>
<?php endif; ?>
<!-- aff downloads -->
<?php if (count($affDownloads)) : ?>
<h2><?php __e('Marketing Materials') ?></h2>
<ul class="am-list am-aff-mm">
    <?php foreach ($affDownloads as $download) : ?>
    <li class="am-aff-mm-item"><a href="<?php p(ROOT_URL . '/file/download/path/' . $download->getPath()) ?>"><?php p($download->getName()) ?></a>
            <?php if ($download->desc) : ?>
                <em class="am-aff-mm-item-desc"><?php __e($download->desc) ?></em>
            <?php endif; ?>
    </li>
    <?php endforeach; ?>
</ul>
<?php endif; ?>
<?php echo $this->blocks('aff/links/bottom') ?>