#mk-page-introduce, .am-credits, .am-copyright, .am-copyright a  { display: none !important; }
/*.am-body-content { padding: 100px 20px 20px 20px; }*/
#mk-footer, #mk-footer p { font-size: 14px !important; }
#menu-footer-menu li.menu-item a { font-size: 1.2rem !important; }
.mk-dashboard-trigger .mk-css-icon-menu { top: 40% !important; }
.the-toolbar .content-wrapper a { font-size: 1.1rem !important; }
.main-navigation-ul > li.menu-item > a.menu-item-link { font-size: 18px !important; }