<script>
var recaptchaSiteKey = "6LcmDx4UAAAAAO0gtfMrSVx5lQrdJVjlGu2zKNx1";
var s5FormScript = "https://stage5trading.com/wp-content/themes/jupiter-child/libraries/3rdPartyDemoForm/functions.js";
var demoProviders = new Array(
  "Stage5",
  "Telvent",
  "Ninja",
  "FutureSourceJava",
  "MarketDelta",
  "MarketDeltaCloud",
  "iBroker",
  "Bluewater",
  "SierraChart",
  "MotiveWaveWAPI",
  "FipertecWAPI",
  "BookMap",
  "AdvancedTS",
  "Multicharts",
  "MultichartsWAPI",
  "ItGlobal",
  "TradingView",
  "Photontrader",
  "Jigsaw",
  "CQG"
);
var partnerNames = new Array(
  "AgenaTrader",
  "AMS Trading Group",
  "Anthony Giacomin",
  "DayTradingRadio - DTR",
  "DTN IQFeed",
  "Emini Mind",
  "Financial Juice",
  "FuturesTrader71",
  "Hamzei Analytics",
  "iBroker Mobile",
  "Investor RT",
  "Italian Support",
  "Jigsaw Trading",
  "Jon Sopelana",
  "MarketDelta",
  "Max Timmins",
  "Motive Wave",
  "MultiCharts",
  "OrderFlowTrading ATAS",
  "Ramiro Ontaneda",
  "Razvan Arion",
  "S5 BookMap",
  "S5 Mobile Trader",
  "Sierra Chart",
  "Trade Navigator - Genesis",
  "Trade Runner"
);

var demoProviderLabel = "Demo Provider"; //The label of the demo provider drop-down if checked.
var demoProviderLabelOrder = 1; //Where to show the demo provider drop-down if checked.(goes form 1 to n)


//Is not used right now
var mailSubject = "Code for demo form";
var mailBodyStart = "";
var mailBodyEnd = "";

</script>

<style>
#mainTable > tbody > tr > td,th {
  border: solid 1px;
}

#codePreview {
  box-sizing: border-box;
  resize: none;
}

#preview {
  display: none;
}

#previewFrame {
  width: 100%;
  height: 100%;
  border: hidden;
}
</style>
<title>Demo form generator</title>
<table id="mainTable" style="width:100%;">
  <!--<tr>
    <th width="50%">Settings</th>
    <th width="50%">
      Preview<br>
      <i style="font-weight:100;">The recaptcha will give an error in the preview</i>
    </th>
  </tr>-->
  <tr>
    <td>
      <center><h2>Settings</h2></center>
      <b>Instructions:</b>
      <ol>
        <li>Please pick a demo provider annd a partner name in the drop-downs.</li>
        <li>The code below can be inserted on a 3rd party website.</li>
      </ol>
      <form id="settingsForm" onchange="refreshView()">
        <table>
          <tr>
            <td>Demo provider</td>
            <td>
              <select id="setting_demoProvider"></select>
               / Or make a drop-down: <input id="setting_demoProviderAll" type="checkbox">
            </td>
          </tr>
          <tr>
            <td>Partner name</td>
            <td>
              <select id="setting_partnerName"></select>
            </td>
          </tr>
          <tr style="display: none;">
            <td>S5 Form Script Link</td>
            <td>
              <input id="setting_s5FormScript" type="text" placeholder="link">
            </td>
          </tr>
          <tr style="display: none;">
            <td>Referrer URL</td>
            <td>
              <input id="setting_referrerURL" type="text" placeholder="link">
            </td>
          </tr>
          <tr style="display: none;">
            <td>Recaptcha Site Key</td>
            <td>
              <input id="setting_recaptchaSiteKey" type="text" placeholder="link">
            </td>
          </tr>
          <tr style="display: none;">
            <td>Style sheet link(if any)</td>
            <td>
              <input id="setting_styleSheetLink" type="text" placeholder="link">
            </td>
          </tr>
          <tr style="display: none;">
            <td>Style sheet(will be included in the file)</td>
            <td>
              <textarea id="setting_styleSheet"></textarea>
            </td>
          </tr>
          <!--<tr><td colspan="2"><br>
            <p><a id="mailLink" href="">Send code by mail</a></p>
          </td></tr>-->
        </table>
      </form>
    </td>
    <td width="50%" style="display: none;">
      <iframe id="previewFrame" src="about:blank"></iframe>
      <div id="preview">
        <form name="S5T_form" id="S5T_form" action="" method="POST" onsubmit="S5T_beforeSubmit(event)">
        <input type="hidden" id="S5T_partnerName" name="S5T_partnerName" value=""/>
        <input type="hidden" id="referrerURL" name="referrerURL">
            <table id="S5T_demoTable">
                <tbody id="S5T_demoTableTBody">
                  <tr>
                      <td>First Name*</td>
                      <td><input type="text" id="FirstNameEDIT" name="FirstNameEDIT" width="20" maxlength="32" required></td>
                  </tr>
                  <tr>
                      <td>Last Name*</td>
                      <td><input type="text" id="LastNameEDIT" name="LastNameEDIT" width="20" maxlength="32" required></td>
                  </tr>
                  <tr>
                      <td>Email Address*</td>
                      <td><input type="email" id="EmailEDIT" name="EmailEDIT" width="20" maxlength="64" required></td>
                  </tr>
                  <tr>
                      <td>Phone</td>
                      <td><input type="text" id="PhoneEDIT" name="PhoneEDIT" width="20" maxlength="64"/></td>
                  </tr>
                  <tr>
                    <td colspan="2" style="height: 30px;">
                      <span id="S5T_errorMsg" style="color:red"></span>
                      <span id="S5T_successMsg" style="color:green"></span>
                    </td>
                  </tr>
                </tbody>
            </table>

            <br/><b>
            Instructions will be sent to the email address
            that you provide, including a username and password.</b>
            <br/><br/>
            <input id="S5T_submitButton" type="submit" value="Submit">
            <button style="display:none;" id="S5T_recaptcha" class="g-recaptcha" data-callback="S5T_submit">Submit</button>
        </form>
      </div>
    </td>
  </tr>
  <tr><td colspan="2">
    <textarea id="codePreview" readonly></textarea>
  </td></tr>
</table>

<script>

document.getElementById("setting_recaptchaSiteKey").value = recaptchaSiteKey;

var partnerName = document.getElementById("setting_partnerName");
for(i in partnerNames)
{
  var opt = document.createElement("option");
    opt.value = partnerNames[i];
    opt.innerHTML = partnerNames[i];
  partnerName.appendChild(opt);
}

var setting_demoProvider = document.getElementById("setting_demoProvider");
for(i in demoProviders)
{
  var opt = document.createElement("option");
    opt.value = demoProviders[i];
    opt.innerHTML = demoProviders[i];
  setting_demoProvider.appendChild(opt);
}



function resizeTextarea()
{
  codePreview = document.getElementById("codePreview");
  codePreview.style.width = "100%";
  codePreview.style.height = 'auto';
  codePreview.style.height =  (codePreview.scrollHeight+20)+"px";
}

function refreshView()
{
  var form = document.getElementById("S5T_form");
  var table = document.getElementById("S5T_demoTable");
  var tBody = document.getElementById("S5T_demoTableTBody");

  document.getElementById("S5T_partnerName").value = document.getElementById("setting_partnerName").value;

  document.getElementById("setting_demoProvider").disabled = false;

  if(document.getElementById("S5T_demoProviderDropDown") != null)
  {
    tBody.removeChild(document.getElementById("S5T_demoProviderDropDown"));
  }
  if(document.getElementById("PLNameEDIT") != null)
  {
    form.removeChild(document.getElementById("PLNameEDIT"));
  }

  if(!document.getElementById("setting_demoProviderAll").checked)
  {
    var input = document.createElement("input");
      input.id = "PLNameEDIT";
      input.type = "hidden";
      input.value = document.getElementById("setting_demoProvider").value;
    form.insertBefore(input, form.firstChild);

  }
  else
  {
    document.getElementById("setting_demoProvider").disabled = true;
    var tr = document.createElement("tr");
      tr.id = "S5T_demoProviderDropDown";
      var first = document.createElement("td");
        first.innerHTML = demoProviderLabel;
      tr.appendChild(first);
      var second = document.createElement("td");
        var select = document.createElement("select");
          select.id = "PLNameEDIT";
          for(i in demoProviders)
          {
            var opt = document.createElement("option");
              opt.value = demoProviders[i];
              opt.innerHTML = demoProviders[i];
            select.appendChild(opt);
          }
        second.appendChild(select);
      tr.appendChild(second);

    tBody.insertBefore(tr, tBody.getElementsByTagName("tr")[demoProviderLabelOrder-1]);
  }
  /*if(document.getElementById("setting_demoProviderStr").value.length > 0)
  {
    document.getElementById("PLNameEDIT").value = document.getElementById("setting_demoProviderStr").value;
  }*/
  document.getElementById("referrerURL").value = document.getElementById("setting_referrerURL").value;
  if(document.getElementById("setting_referrerURL").value.length > 0)
  {
    document.getElementById("S5T_form").removeAttribute("onclick");
  }
  else {
    document.getElementById("S5T_form").setAttribute("onclick", "document.getElementById('referrerURL').value=window.location.href");
  }


  document.getElementById("S5T_recaptcha").setAttribute("data-sitekey", document.getElementById("setting_recaptchaSiteKey").value);
  //document.getElementById("S5T_form").action = document.getElementById("setting_s5FormScript").value;



  var addition = "";
  var setting_styleSheet = document.getElementById("setting_styleSheet");
  if(setting_styleSheet.value.length > 0)
  {
    var val = setting_styleSheet.value.trim();
    if(val.substring(0,7) != "<style>")
    {
      val = "<style>" + val;
    }
    if(val.substring(val.length-8) != "</style>")
    {
      val+= "</style>";
    }
    addition+= val;
  }
  var setting_styleSheetLink = document.getElementById("setting_styleSheetLink");
  if(setting_styleSheetLink.value.length > 0)
  {
    addition+= "<link rel=\"stylesheet\" href=\""+setting_styleSheetLink.value+"\">";
  }
  else {
    document.getElementById("codePreview").value =
    "<script src='"+s5FormScript+"'><\/script>" +
    "<script src='https://www.google.com/recaptcha/api.js'><\/script>" +
    addition + document.getElementById("preview").innerHTML;

    var doc = document.getElementById('previewFrame').contentWindow.document;
    doc.open();
    doc.write(addition + document.getElementById("preview").innerHTML);
    doc.close();
  }

  //document.getElementById("mailLink").href = "mailto:?subject="+ mailSubject +"&body=" + mailBodyStart + document.getElementById("codePreview").value + mailBodyEnd;

  resizeTextarea();

}

refreshView();
</script>
