.myinputstyle {
	font: normal normal bold 16px/1 Verdana, Geneva, sans-serif;
	color: white;
	 line-height: 1.4rem;
   
}
.myinputstyle select {
   width: 290px !important;
   
}

.myinputstyle input {
     line-height: 16px;
   width: 250px !important;
	
}

.myinputstyle input.medium {
    line-height: normal;
    width: 160px !important;
}

.myinputstyle input.small {
     line-height: normal;
   width: 100px !important;
}

button, input, select {
    line-height: normal;
    border-width: 0px;
    background: #808080;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 0.3rem 1.25rem;
	 
}
button,input[type=submit]{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid rgba(220,220,220,0.7);
  font: bold 14px/normal Verdana, Geneva, sans-serif;
  color: rgba(255,255,255,0.9);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #8ab25c;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0px 0px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	line-height: normal;
    text-transform: uppercase;
   
}