<form id="form" action="https://www.dormanaccounts.com/eApp/Demos/RequestReceiveData.aspx" method="post" onsubmit="return validate();">

        <input type="hidden" id="brokerid" name="brokerid" value="232" />
        <input type="hidden" id="languageCodeId" name="languageCodeId" value="4" />
        <input type="hidden" id="platform" name="platform" value="7" />

        <div class="myinputstyle">
            <fieldset>
                <legend>Free MotiveWaveWAPI Demo</legend>
                <dl>
                    <dt>First Name*</dt>
                    <dd>
                        <input type="text" id="first_name" name="first_name" maxlength="25" />
                    </dd>
                    <dt>Last Name*</dt>
                    <dd>
                        <input type="text" id="last_name" name="last_name" maxlength="25" />
                    </dd>
                    <dt>Address 1*</dt>
                    <dd>
                        <input type="text" id="address1" name="address1" maxlength="100" />
                    </dd>
                    <dt>Address 2</dt>
                    <dd>
                        <input type="text" id="address2" name="address2" maxlength="100" />
                    </dd>
                    <dt>City*</dt>
                    <dd>
                        <input type="text" id="city" name="city" maxlength="100" />
                    </dd>
                    <dt>Country*</dt>
                    <dd>
                        <select name="country" id="country" onchange="ShowCountryCode();"></select>
                    </dd>
                    <dt>State</dt>
                    <dd>
                        <select name="state" id="state" style="display:none";></select>
                        <input type="text" id="stateOther" name="stateOther" maxlength="100" />
                    </dd>
                    <dt>Postal Code*</dt>
                    <dd>
                        <input type="text" id="zipcode" name="zipcode" maxlength="20" />
                    </dd>
                    <dt>Phone*</dt>
                    <dd>
                        <input class="small" type="text" id="country_code" name="country_code" maxlength="6" />
                        <input class="medium" type="text" id="phone" name="phone" maxlength="25" />
                    </dd>
                    <dt>Email*</dt>
                    <dd>
                        <input type="text" id="email" name="email" maxlength="100" />
                    </dd>
                </dl>
            </fieldset>
            <input type="submit" value="Submit Demo Request" />
        </div>

        <script type="text/javascript" src="https://www.dormanaccounts.com/eApp/demos/demoform.js"></script>
        <link href="https://www.dormanaccounts.com/eApp/demos/demoform.css" rel="stylesheet" type="text/css" />

    </form>
