.am-cart {
  clear: both;
  overflow: hidden;
}
.am-cart ul.am-cart-front-category-list {
  list-style: none;
  margin: 0;
  margin-top: 1em;
}
.am-cart ul.am-cart-front-category-list .am-cart-front-category-list-item {
  font-size: 1.2rem;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5em;
}
.am-cart ul.am-cart-front-category-list .am-cart-front-category-list-item-desc:before {
  content: "\2014\00a0";
}
.am-cart ul.am-cart-front-category-list .am-cart-front-category-list-item-desc {
  font-size: 1rem;
  color: #777;
}
.am-cart .am-cart-product.am-cart-product-brief.am-cart-product-in-basket {
  opacity: .3;
}
.am-cart .am-cart-product.am-cart-product-brief.am-cart-product-in-basket:hover {
  opacity: 1;
}
.am-cart .am-cart-product {
  border: solid 1px #e0e0e0;
  text-align: left;
  padding: 1em;
  margin-bottom: 0.5em;
  box-shadow: 0 1px 1px #e0e0e0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.am-cart .am-cart-product:hover {
  box-shadow: 0 0 8px #ddd;
  border-color: #aaa;
}
.am-cart .am-cart-product .am-cart-product-status {
  color: #688296;
  margin-bottom: 0.5em;
}
.am-cart .am-cart-product .am-cart-product-content-title {
  overflow: hidden;
  margin-bottom: 1em;
}
.am-cart .am-cart-product .am-cart-product-content-title a, .am-cart .am-cart-product .am-cart-product-content-title h2 {
  float: left;
}
.am-cart .am-cart-product .am-cart-product-content-terms {
  font-weight: bold;
}
.am-cart .am-cart-product .am-cart-product-content-desc {
  overflow: hidden;
  margin-bottom: 1em;
}
.am-cart .am-cart-product .am-cart-product-content-desc .am-cart-product-content-desc-img-wrapper {
  float: left;
  margin: 0px 0.5em 0.5em 0px;
}
.am-cart .am-cart-product .am-cart-product-content-desc .am-cart-product-content-desc-full {
  clear: both;
}
.am-cart .am-cart-product .am-cart-product-content-details .am-cart-product-content-desc .am-cart-product-content-desc-img-wrapper {
  float: none;
  text-align: center;
  margin: 0px;
  background: #ccc;
}
.am-cart .am-cart-product .am-cart-product-content-buttons input {
  padding: 0.4em 0.5em;
}
.am-cart .am-cart-product.am-cart-product-two-column .am-cart-product-content-title a {
  float: none;
}
.am-cart .am-cart-product.am-cart-product-two-column .am-cart-product-content-desc {
  overflow: hidden;
  margin-bottom: 1em;
}
.am-cart .am-cart-product.am-cart-product-two-column .am-cart-product-content-desc .am-cart-product-content-desc-img {
  float: none;
  display: block;
  margin: 0 0 0.5em 0;
}

.am-cart-main {
  float: left;
  width: 65%;
}

.am-cart-sidebar {
  float: right;
  width: 34.9%;
}

.am-cart-category-list {
  margin-bottom: 0.5em;
}

.am-cart-layout-two-coll {
  overflow: hidden;
}

.am-cart-layout-two-coll-coll {
  float: left;
  width: 50%;
}

.am-cart-layout-two-coll-content {
  padding-right: 1em;
}

.am-cart-layout-one-coll {
  overflow: hidden;
}

.am-cart-layout-one-coll-content {
  padding-right: 1em;
}

.am-cart-login label {
  display: inline-block;
  width: 25%;
}

.am-cart-login-element {
  padding-bottom: 1em;
}

.am-cart-tag-list a {
  margin: 0 0.5em 0.5em 0;
  display: inline-block;
  background: #eee;
  padding: .2em 0 .2em .4em;
  overflow: hidden;
  text-decoration: none;
}
.am-cart-tag-list a .am-cart-tag-list-item-count {
  background: #dfe8f0;
  padding: .2em .4em;
}

.am-basket {
  width: 100%;
}
.am-basket .am-basket-img {
  float: left;
  margin: 0px 0.8em 0.8em 0px;
  border: 1px solid #eeeeee;
}
.am-basket .am-basket-totals td {
  padding: 0.2em 0em 0.2em 0.2em;
}
.am-basket .am-basket-row {
  border-top: 1px solid #eeeeee;
}
.am-basket .am-basket-row td {
  padding: 1em 0.2em 1em;
}
.am-basket .am-basket-price {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}
.am-basket .am-basket-qty {
  text-align: center;
  vertical-align: top;
}
.am-basket .am-basket-qty input[type=text] {
  text-align: right;
}
.am-basket .am-basket-discount {
  text-align: right;
}
.am-basket .am-basket-tax {
  text-align: right;
}
.am-basket .am-basket-total {
  text-align: right;
  font-weight: bold;
  vertical-align: top;
}
.am-basket .am-basket-delete {
  font-size: 0.9em;
}
.am-basket .am-basket-delete input {
  display: none;
}
.am-basket .am-basket-totals {
  text-align: right;
  font-size: 1.2rem;
}
.am-basket .am-basket-totals .am-basket-total {
  padding-left: 1em;
  width: 1%;
  font-weight: normal;
}
.am-basket .am-basket-totals td {
  border: none !important;
}
.am-basket .am-basket-terms td {
  border: none !important;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 1em;
}
.am-basket .am-basket-totals-granttotal {
  font-weight: bold;
}
.am-basket .am-basket-totals-granttotal .am-basket-total {
  font-weight: bold;
}

.am-cart-checkout .am-cart-checkout-paysys {
  border-top: #dfe8f0 solid 1px;
}
.am-cart-checkout .am-cart-checkout-paysys .am-cart-checkout-paysys-item {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border-bottom: #dfe8f0 solid 1px;
}
.am-cart-checkout .am-cart-checkout-paysys .am-cart-checkout-paysys-item .am-cart-checkout-paysys-item-title {
  display: block;
}
.am-cart-checkout .am-cart-checkout-paysys .am-cart-checkout-paysys-item label {
  cursor: pointer;
}
.am-cart-checkout .am-cart-checkout-paysys div.active {
  background-color: #eff8ff;
  border-left: #dfe8f0 solid 1px;
  border-right: #dfe8f0 solid 1px;
}

.am-cart-checkout-coupon-wrapper {
  margin-bottom: 1em;
}

.am-cart-checkout-paysys {
  margin-bottom: 1em;
}

.am-cart-checkout-buttons .am-cart-checkout-buttons-checkout {
  float: right;
  margin-left: 0.5em;
}
.am-cart-checkout-buttons .am-cart-checkout-buttons-update {
  float: right;
  margin-left: 0.5em;
}

.am-basket-preview-items {
  width: 100%;
  margin: 0 0 0.5em 0;
}
.am-basket-preview-items td {
  padding: 0.2em 0;
}

.am-basket-preview-item {
  padding: 0 0.2em 0.2em 0;
  color: #303030;
}

.am-basket-preview-item-qty {
  text-align: right;
}

.am-basket-preview-item-total {
  text-align: right;
}

#cart-basket {
  background-color: #DFE8F0;
  border-color: #CCDDEB;
}

@media all and (max-width: 500px) {
  .am-cart-main,
  .am-cart-sidebar {
    float: left;
    width: 100%;
  }

  .am-cart-layout-one-coll-content {
    padding-right: 0;
  }

  .am-cart-layout-two-coll-content {
    padding-right: 0;
  }

  .am-cart-product-content-desc-img {
    max-width: 100%;
    height: auto;
  }
}
@media all and (max-width: 750px) {
  .am-cart-layout-two-coll-coll {
    float: none;
    width: 100%;
  }
}
#cart-search input[type=text] {
  border-radius: 3px 0 0 3px;
  border-width: 1px 0 1px 1px;
  box-sizing: border-box;
  width: 70%;
  float: left;
}
#cart-search input[type=submit] {
  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
  width: 30%;
}

.am-cart-login .am-cart-login-element label, .am-cart-login .am-cart-login-element input {
  width: 100%;
  box-sizing: border-box;
}
.am-cart-login .am-cart-login-element label {
  display: none;
}
.am-cart-login .am-cart-login-element.am-focus label {
  display: block;
}
