<?php if ($items) : ?>
<div class="am-helpdesk-faq-search-result">
    <ul class="am-helpdesk-faq-list">
    <?php foreach ($items as $f) : ?>
        <li class="am-helpdesk-faq-list-item"><a href="<?php echo REL_ROOT_URL ?>/helpdesk/faq/i/<?php echo urlencode($f->title) ?>" target="_blank"><?php p($f->title) ?></a></li>
    <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>