<?php
$hasImg = false;
$hasQty = false;
foreach ($cart->getItems() as $item) {
    $hasImg = $hasImg || $item->tryLoadProduct()->img_cart_path;
    $hasQty = $hasQty || $item->qty > 1;
}
?>
<style>
    .am-basket-img{
        width: <?php echo $di->config->get('cart.img_cart_width', 50); ?>px;
        height: <?php echo $di->config->get('cart.img_cart_height', 50); ?>px;
    }
</style>
<?php $colspan = $hasQty ? 2 : 1; ?>
<table class = "am-basket">
    <tr>
        <th class="am-basket-title"><?php __e('Item') ?></th>
        <th class="am-basket-price"><?php __e('Price') ?></th>
        <?php if ($hasQty) : ?>
            <th class="am-basket-qty"><?php __e('Qty') ?></th>
        <?php endif; ?>
    </tr>
    <?php foreach ($cart->getItems() as $item): ?>
        <tr class="am-basket-row">
            <td class="am-basket-title-col">
                <?php if($hasImg) : ?>
                <div class="am-basket-img">
                    <?php if ($item->tryLoadProduct()->img_cart_path) : ?>
                        <img src="<?php echo REL_ROOT_URL ?>/data/public/<?php echo $item->tryLoadProduct()->img_cart_path ?>" />
                    <?php endif; ?>
                </div>
                <?php endif; ?>
                <div class="am-basket-title"><strong><?php p($item->item_title) ?></strong></div>
                <?php if ($isBasket) : ?>
                    <div class='am-basket-delete'><a href="javascript:;" class="local-link"><input type="checkbox" name="d[<?php echo $item->item_id ?>]" value="1"><?php __e('Delete') ?></a></div>
                <?php endif; ?>
            </td>

            <td class="am-basket-price">
                <?php p($cart->getCurrency($item->first_price)) ?>
            </td>
            <?php if ($hasQty) : ?>
                <td class="am-basket-qty">
                    <?php
                    echo (($item->is_countable && $item->variable_qty && $isBasket) ?
                        $this->formText("qty[$item->item_id]", $item->qty, array('size' => 1)) : p($item->qty))
                    ?>
                </td>
            <?php endif; ?>
        </tr>
    <?php endforeach ?>
    <tr class="am-basket-row">
        <td colspan="<?php echo $colspan + 1; ?>"></td>
    </tr>
    <?php if ($cart->getInvoice()->first_subtotal != $cart->getInvoice()->first_total) : ?>
        <tr class="am-basket-totals am-basket-totals-subtotal">
            <td colspan="<?php echo $colspan; ?>"><?php __e('Subtotal') ?></td>
            <td class="am-basket-total"><?php p($cart->getCurrency($cart->getInvoice()->first_subtotal)) ?></td>
        </tr>
    <?php endif; ?>
    <?php if ((float) $cart->getInvoice()->first_discount) : ?>
        <tr class="am-basket-totals am-basket-totals-discount">
            <td colspan="<?php echo $colspan; ?>"><?php __e('Discount') ?></td>
            <td class="am-basket-total"><?php p($cart->getCurrency($cart->getInvoice()->first_discount)) ?></td>
        </tr>
    <?php endif; ?>
    <?php if ((float) $cart->getInvoice()->first_shipping) : ?>
        <tr class="am-basket-totals am-basket-totals-shipping">
            <td colspan="<?php echo $colspan; ?>"><?php __e('Shipping') ?></td>
            <td class="am-basket-total"><?php p($cart->getCurrency($cart->getInvoice()->first_shipping)) ?></td>
        </tr>
    <?php endif; ?>
    <?php if ((float) $cart->getInvoice()->first_tax) : ?>
        <tr class="am-basket-totals am-basket-totals-tax">
            <td colspan="<?php echo $colspan; ?>"><?php __e('Tax') ?></td>
            <td class="am-basket-total"><?php p($cart->getCurrency($cart->getInvoice()->first_tax)) ?></td>
        </tr>
    <?php endif; ?>
    <tr class="am-basket-totals am-basket-totals-granttotal">
        <td colspan="<?php echo $colspan; ?>"><?php __e('Total') ?></td>
        <td class="am-basket-total"><?php p($cart->getCurrency($cart->getInvoice()->first_total)) ?></td>
    </tr>
    <?php if (!empty($cart->getInvoice()->rebill_times)): ?>
        <tr class="am-basket-terms">
            <td colspan="<?php echo $colspan + 1; ?>">
                <?php __e('Terms') ?>: <?php echo $cart->getInvoice()->getTerms() ?>
            </td>
        </tr>
    <?php endif ?>
</table>

<script type="text/javascript">
jQuery('.am-basket-delete > a').click(function () {
    $(this).find('input').attr('checked', 'checked');
    $(this).closest('form').find('.am-cart-checkout-buttons-update').click();
});
</script>