<?php
$title = $di->config->get('site_title');
$this->setLayout('cart/layout.phtml');
?>
<div class="am-cart-layout-one-coll">
    <div class="am-cart-layout-one-coll-coll">
        <div class="am-cart-layout-one-coll-content">
            <ul class="am-cart-front-category-list">
                <?php foreach ($productCategoryOptions as $id => $title): ?>
                <?php if (!$id) continue; ?>
                <li class="am-cart-front-category-list-item">
                    <a href="<?php p(REL_ROOT_URL . '/cart?c=' . $id) ?>"><?php p($title) ?></a>
                    <?php if($productCategories[$id]->description) : ?>
                    <span class="am-cart-front-category-list-item-desc"><?php p($productCategories[$id]->description) ?></span>
                    <?php endif; ?>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
</div>