<?php
Am_Di::getInstance()->plugins_protect->get('wordpress')->startLayout($this, $title,true);
get_header();
?>

<div class="the-toolbar" style="position: fixed; top: 0px; z-index: 1000;">
	<div class="content-wrapper">
		<a class="email" href="https://stage5trading.com/contact/">Contact Us</a>
		<a class="phone" href="tel:3128969897">312-896-9897</a>
		<a class="phone" href="tel:8002586675">800-258-6675</a>
	</div>
</div>

<div id="theme-page">
<?php 
include dirname(__FILE__)."/../amember.php";
?>
</div>
<?php
get_footer();
?>
