/** Common body styles */
body,
html {
  height: 100%;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  color: #313131;
}

html {
  font-size: 13px;
}

hr {
  border: none;
  height: 1px;
  background: #b0b0b0;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #333;
  margin-bottom: 1em;
  text-shadow: 0 -1px 1px white;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8em;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.8em;
}

a,
a:visited {
  color: #34536e;
}

a.link {
  text-decoration: none;
  position: relative;
}

a.link:after {
  border-bottom: 1px #9aa9b3 solid;
  content: '';
  height: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  position: absolute;
}

a.link:hover:after {
  opacity: 0;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

a.local {
  text-decoration: none;
  position: relative;
}

a.local:after {
  border-bottom: 1px #9aa9b3 dashed;
  content: '';
  height: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  position: absolute;
}

.red,
.red a,
.red strong {
  color: #BA2727;
}

.info {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  background: #dfe8f0;
  border: 1px solid #ccddeb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #9fafbd;
}

strong {
  font-weight: bold;
  color: #555;
}

a strong {
  color: #34536e;
}

em {
  font-style: italic;
}

p {
  margin-bottom: 0.5em;
}

/* Layout */
#header {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 1em 2em 1em 1em;
  height: 25px;
  background: url("../img/admin/header-bg.png") repeat-x top left;
  background: linear-gradient(#424242, #212121);
  line-height: 25px;
}
#header .header-right {
  float: right;
  overflow: hidden;
}

/** ajax loading element */
.ajax-loading {
  display: none;
  position: fixed;
  margin: 0;
  padding: 0.5em 1em;
  top: 10px;
  left: 40%;
  z-index: 10000;
  opacity: 0.9;
  color: white;
  line-height: 24px;
  font-size: 16px;
  background: black;
}
.ajax-loading img {
  float: left;
  margin: 0 0.5em 0 0;
}

/* login form */
.user-identity-block {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0 0 0 20px;
  background: url("../img/admin/identity-glyph.png") no-repeat left center;
  color: white;
}
.user-identity-block a {
  color: #ec645a;
}
.user-identity-block .user-identity-block-user-narrow {
  display: none;
}
@media all and (max-width: 765px) {
  .user-identity-block .user-identity-block-user-narrow {
    display: inline;
  }
  .user-identity-block .user-identity-block-user-wide {
    display: none;
  }
}

.logo-block a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/** language select */
.am-lang-choice div {
  margin: 0;
  padding: 2em 1.5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: black;
  color: white;
}

#lang-switch-icon {
  cursor: pointer;
  position: relative;
  z-index: 100;
}

#footer {
  background: #2e2e2e;
  color: #919191;
  height: 30px;
}

.footer-content {
  margin: 0;
  padding: 0.5em 2em 0.5em 1em;
}

.footer-text {
  overflow: hidden;
  white-space: nowrap;
}

.footer-actions {
  float: right;
  padding-left: 1em;
}

.layout {
  background: url("../img/admin/content-left-bg.png") repeat-y left top #ededed;
  min-height: 100%;
  margin-bottom: -30px;
  overflow: hidden;
}

.login {
  background: #ededed;
  background: radial-gradient(circle, #fafafa, #bdbdbd);
  padding-top: 6%;
  box-sizing: border-box;
}

.layout-two-coll {
  padding-bottom: 30px;
}

.coll-left {
  float: left;
  padding-bottom: 30px;
}

.layout-two-coll {
  margin-left: 210px;
}

.layout-two-coll:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.coll-left {
  margin-left: -210px;
  width: 210px;
}

.coll-right {
  background: url("../img/admin/content-bg.png") repeat-x top left #ededed;
  float: right;
  width: 100%;
}

.spacer-second {
  height: 6px;
}

.spacer-first {
  display: none;
}

.coll-right .spacer-second {
  background: #9c9c9c;
}

.coll-left .spacer-second {
  background: #545454;
  border-right: 10px solid #9c9c9c;
}

.coll-right .spacer-first {
  background: #bdbdbd;
}

.coll-left .spacer-first {
  background: #8c8c8c;
  border-right: 10px solid #bdbdbd;
}

.collapsed .layout {
  background-image: url("../img/admin/collapsed-content-left-bg.png");
}
.collapsed .layout-two-coll {
  margin-left: 50px;
}
.collapsed .coll-left {
  margin-left: -50px;
  width: 50px;
}
.collapsed .admin-menu-collapsed {
  display: block;
}
.collapsed .admin-menu {
  display: none;
}

.content {
  margin: 0 2em;
  padding: 1em 0;
}

.copyright {
  color: #919191;
  text-align: center;
  font-size: 70%;
}

.admin-warnings ul {
  margin-bottom: 1em;
  background: #fcbdbd;
  border: 1px solid #faa7a7;
  color: #ba2727;
  box-shadow: 0 2px 4px #d6d6d6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.admin-warnings ul li {
  margin-left: 0px;
  padding: 0.5em 1em;
  list-style: none;
  text-align: left;
}
.admin-warnings ul strong {
  color: #ba2727;
}

ul.list {
  margin-bottom: 1em;
  margin-left: 2em;
}
ul.list li {
  list-style-type: disc;
}

/* END Layout */
/* Helpers */
.clear {
  clear: both;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.helper-corner-left {
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

.helper-corner-right {
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

/* END Helpers */
/* Pagination */
.am-pagination {
  clear: both;
  font-size: 100%;
  padding: 0.5em 0;
  margin: 0.5em 0;
}
.am-pagination a {
  text-decoration: none;
  border: solid 1px #91aabd;
  color: #5e6e7a;
  background: #d3dce3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px 1px #fff;
}
.am-pagination a, .am-pagination span {
  padding: 0.3em 0.6em;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.am-pagination .am-pagination-current {
  background: #8fabbd;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #91aabd;
  text-shadow: 0 -1px 1px #596d7d;
}
.am-pagination .am-pagination-current.am-pagination-prev,
.am-pagination .am-pagination-current.am-pagination-next {
  color: #afb5ba;
  border-color: #cad3db;
  background: #e3e6e8;
  text-shadow: none;
}

/* Grid */
.check-all-offer {
  background-color: #ffc;
  padding: 0.5em;
  border: 1px solid white;
  border-bottom: none;
}

.filter-wrap {
  color: #333;
  background: #dbdbdb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em;
  text-align: right;
  margin-bottom: 1em;
  box-shadow: 0 1px 0 #b0b0b0;
  overflow: hidden;
}
.filter-wrap .filter-title {
  float: right;
  margin-right: 1em;
  line-height: 2em;
}
.filter-wrap .filter-inputs {
  float: right;
  margin-right: 0.5em;
  text-align: left;
}
.filter-wrap .filter-button {
  float: right;
  text-align: left;
}
.filter-wrap form.filter input[type=text] {
  background-image: url("../img/icons/magnify.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px;
}
.filter-wrap form.filter input[type=text].datepicker {
  background-image: url("../img/icons/calendar.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px;
}

.group-wrap,
.norecord-actions {
  margin-bottom: 1em;
}
.group-wrap .link,
.norecord-actions .link {
  display: inline-block;
  margin: 0.4em 1em;
}

.grid-total {
  padding: .5em;
  text-align: right;
}

.grid-container {
  border: 1px solid #a1a1a1;
  box-shadow: 0 2px 4px #d6d6d6;
  margin-bottom: 1em;
  overflow-x: auto;
}

.grid {
  width: 100%;
}
.grid tr.grid-row {
  border-bottom: 1px solid #ddd;
}
.grid tr.grid-row.expanded, .grid tr.grid-row.even, .grid tr.grid-row.odd {
  border-bottom: none;
}
.grid tr.grid-row.odd td {
  background-color: #d3dce3;
}
.grid tr.grid-row.odd td.sorted {
  background-color: #bed4e2;
}
.grid tr.grid-row.selected {
  background: #ffc;
}
.grid tr.grid-row.selected td {
  background: none !important;
  border-bottom: 1px solid #e5e5e5;
}
.grid tr.grid-row.emphase {
  background-color: #ffc;
}
.grid tr.grid-row.emphase td {
  background: none !important;
}
.grid tr.grid-row > td {
  padding: .8em .5em;
  vertical-align: top;
}
.grid tr.grid-row > td.break {
  word-break: break-word;
  word-wrap: break-word;
}
.grid th {
  padding: 0.5em;
  border: 1px solid white;
  background: url("../img/admin/grid-header-bg.png") repeat-x top left;
  color: white;
  text-shadow: 0 -1px 1px #1e2e3b;
}
.grid th a {
  padding-right: 20px;
  display: block;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 1px #1e2e3b;
  background: url("../img/admin/grid-sortable.png") no-repeat right center;
}
.grid th a.sorted-asc {
  background: url("../img/admin/grid-asc.png") no-repeat right center;
}
.grid th a.sorted-desc {
  background: url("../img/admin/grid-desc.png") no-repeat right center;
}
.grid tr.grid-row > td {
  background: #ededed;
}
.grid tr.grid-row > td.sorted {
  background: #d9e6ee;
}
.grid tr.grid-row > td.actions {
  text-align: center;
}
.grid tr.grid-row > td.record-sort {
  background-image: url("../img/admin/grid-sortable.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: move;
}
.grid tr.grid-row > td.expandable-data {
  background: #eef;
}
.grid tr.grid-row > td.expanded {
  background: #eef !important;
  border-bottom-color: #eef;
}
.grid tr.grid-row > td.expandable {
  cursor: pointer;
}
.grid tr.grid-row > td.expandable div.arrow {
  display: inline-block;
  width: 7px;
  height: 5px;
  overflow: hidden;
  float: right;
  margin: 0px;
  padding-left: 10px;
  background: url("../img/arrow.png") no-repeat right;
}
.grid tr.grid-row > td.expandable div.placeholder {
  padding-right: 1em;
}
.grid .editable {
  display: inline-block;
  width: 8px;
  height: 8px;
  overflow: hidden;
  float: right;
  margin: 0px;
  padding-left: 10px;
  background: url("../img/pencil.png") no-repeat right;
}
.grid .live-edit,
.grid .live-select {
  cursor: pointer;
}
.grid .disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
}
.grid th.required {
  color: #ba2727;
  text-shadow: none;
}
.grid tr.grid-row:hover > td {
  background-color: #bed4e2 !important;
}
.grid tr.grid-row:hover > td.expanded {
  background-color: #eef !important;
}
.grid tr.grid-row.expandable-data-row:hover > td {
  background-color: #eef !important;
}
.grid tr.grid-row > td.selected {
  background: #d9e6ee !important;
}
.grid.grid-no-highlight tr.grid-row:hover > td {
  background-color: inherit !important;
}
.grid.grid-no-highlight tr.grid-row.odd > td {
  background-color: #d3dce3 !important;
}

.grid.grid-small {
  font-size: 80%;
}

.grid-action-export-preset-list {
  margin: 1em;
}
.grid-action-export-preset-list .grid-action-export-preset-list-item {
  padding-bottom: .5em;
}
.grid-action-export-preset-list .grid-action-export-preset-list-item:hover .grid-action-export-preset-list-action {
  display: inline;
}
.grid-action-export-preset-list .grid-action-export-preset-list-action {
  display: none;
}
.grid-action-export-preset-list .grid-action-export-preset-list-action a,
.grid-action-export-preset-list .grid-action-export-preset-list-action a:visited {
  color: #BA2727;
}

/* END Grid */
/* Form*/
.am-form {
  margin-bottom: 1em;
  /* support for form elements without the label */
  /* support for wide elements */
}
.am-form input, .am-form textarea, .am-form select, .am-form button {
  display: inline-block;
}
.am-form form {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px -1px #b0b0b0;
  background: #fff;
  margin: 0;
  padding: 0;
  text-align: left;
}
.am-form fieldset {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
}
.am-form fieldset legend {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0.5em 0;
  font-family: Arial;
  font-size: 120%;
  color: #333;
  white-space: nowrap;
  background: #ddd;
  border-bottom: 1px solid #d5d5d5;
  text-indent: 1em;
}
.am-form fieldset.am-adv-fieldset > legend {
  cursor: pointer;
  color: #34536e;
}
.am-form fieldset.am-adv-fieldset > legend .am-adv-fieldset-lable {
  position: relative;
}
.am-form fieldset.am-adv-fieldset > legend .am-adv-fieldset-lable:after {
  border-bottom: 1px #9aa9b3 dashed;
  content: '';
  height: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  position: absolute;
}
.am-form fieldset.am-adv-fieldset-closed > legend .am-adv-fieldset-lable {
  font-weight: bold;
}
.am-form .row:first-child .element-title:first-child {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.am-form .row.disabled {
  opacity: .5;
}
.am-form .row.row-highlight {
  background: #ffe;
}
.am-form div.reqnote {
  clear: both;
  font-size: 80%;
  margin: 0.5em 0 0 1em;
}
.am-form div.row {
  border-bottom: 1px solid #ededed;
  margin: 0;
}
.am-form div.element-title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1em;
  background-color: #ededed;
}
@media all and (min-width: 500px) {
  .am-form div.element-title {
    background-color: transparent;
    width: 35%;
    float: left;
    text-align: right;
    padding: 0.5em 0.5em 1em 1em;
  }
}
.am-form div.element-title label {
  font-weight: bold;
  color: #555;
}
.am-form div.element-title .comment,
.am-form div.element-title .comment strong,
.am-form div.element-title .comment b {
  color: #777;
}
.am-form div.element {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1em;
}
@media all and (min-width: 500px) {
  .am-form div.element {
    margin-left: 35%;
    padding: 0.5em 1em 1em 0.5em;
  }
}
@media all and (max-width: 500px) {
  .am-form div.element input[type=text],
  .am-form div.element input[type=password],
  .am-form div.element input[type=submit],
  .am-form div.element textarea,
  .am-form div.element select {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.2em;
  }
}
.am-form div.row.no-label .element {
  margin: 0;
  padding: 0.5em 1em;
}
.am-form div.row.no-label div.element-title {
  width: 0;
  display: none;
}
.am-form div.row.row-wide .element {
  margin: 0;
  padding: 0.5em 1em;
}
.am-form div.row.row-wide .element-title {
  float: none;
  width: 100%;
  text-align: left;
  padding: 0.5em 1em;
}
.am-form textarea {
  overflow: auto;
}
.am-form input[type=text],
.am-form input[type=password],
.am-form select,
.am-form textarea {
  padding: 0.5em;
}
.am-form span.error,
.am-form span.required {
  color: #ba2727;
}
.am-form span.error {
  display: block;
}
.am-form input.error,
.am-form textarea.error,
.am-form select.error {
  border: 1px solid #ba2727;
}
.am-form select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}
.am-form span.mceEditor {
  display: block;
}

input.datepicker,
input[type=text].datepicker {
  background-image: url("../img/icons/calendar.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px;
}

.el-wide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

div.row:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.am-avatar-preview {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

/* Tabs - user member area menu */
ul.am-tabs {
  display: block;
  overflow: hidden;
  margin: 0 0 1em 0;
  padding: 0 0.5em 0.5em 0.5em;
  background: #dbdbdb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #b0b0b0;
  text-align: left;
}
ul.am-tabs #menu-member {
  width: 1em;
  height: 1.2em;
  text-indent: 2em;
  overflow: hidden;
  background: url("../img/admin/dashboard.png") no-repeat center center;
}
ul.am-tabs li.active #menu-member,
ul.am-tabs #menu-member:hover {
  background-image: url("../img/admin/dashboard-h.png");
}
ul.am-tabs li {
  display: block;
  margin: 0 0.5em 0 0;
  padding: 0;
  float: left;
  background: url("../img/admin/tab-bg.png") repeat-x top left #e8e8e8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
}
ul.am-tabs > li {
  margin-top: 0.5em;
}
ul.am-tabs a {
  display: block;
  box-sizing: content-box;
  margin: 0;
  height: 1.2em;
  line-height: 1.2em;
  padding: 0.5em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
  text-decoration: none;
}
ul.am-tabs li.active > a,
ul.am-tabs li.normal > a:hover {
  background: url("../img/admin/tab-hover-bg.png") repeat-x top left #e34b3d;
  border-color: #c7665b;
  color: white;
  text-shadow: 0 -1px 1px #c43d33;
}
ul.am-tabs li.active,
ul.am-tabs li.normal:hover {
  background: url("../img/admin/tab-hover-bg.png") repeat-x top left #e34b3d;
}
ul.am-tabs ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 5;
}
ul.am-tabs ul li {
  float: none;
}
ul.am-tabs li:hover > ul {
  display: block;
}
ul.am-tabs span.arrow {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 5px;
  margin: 0 0 2px 5px;
  padding: 0;
  overflow: hidden;
  z-index: 15;
  background: url("../img/admin/arrow.png") no-repeat left;
}
ul.am-tabs a:hover span.arrow,
ul.am-tabs li.active span.arrow {
  background-image: url("../img/admin/arrow-white.png");
}
ul.am-tabs .has-children > ul {
  background: url("../img/admin/tab-bg.png") repeat-x top left #e8e8e8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-top-left-radius: 0;
  border: 1px solid #ccc;
  min-width: 150px;
  overflow: hidden;
}
ul.am-tabs .has-children > ul > li {
  margin: 0;
}
ul.am-tabs .has-children > ul a {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  background: none;
}
ul.am-tabs .has-children ul li {
  border-radius: 0;
  background: none;
}
ul.am-tabs .has-children > ul li.active {
  background-image: url("../img/admin/tab-hover-bg.png");
  background-color: #e34b3d;
}
ul.am-tabs .has-children > a:hover {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
ul.am-tabs li.expanded > a {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* END Tabs */
/* Common Form Elements */
a.button {
  display: inline-block;
  text-decoration: none;
}

a.button,
input[type=button],
input[type=submit] {
  background: url("../img/admin/form-button-bg.png") repeat-x top left #e8e8e8;
  border: 1px solid #ccc;
  padding: 0.5em 1.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
}

a.button:hover,
a.button.active,
input[type=button]:hover,
input[type=submit]:hover,
input[type=button].active,
input[type=submit].active {
  cursor: pointer;
  border-color: #c7665b;
  background-image: url("../img/admin/form-button-hover-bg.png");
  background-color: #e34b3d;
  color: white;
  text-shadow: 0 1px 1px #c43d33;
}

input[type=button]:active,
input[type=submit]:active {
  cursor: pointer;
  background: url("../img/admin/form-button-bg.png") repeat-x top left #e8e8e8;
  border: 1px solid #ccc;
  padding: 0.5em 1.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
}

input[type=button]:disabled,
input[type=submit]:disabled {
  color: #ccc;
  border: 1px solid #ccc;
  background: url("../img/admin/form-button-bg.png") repeat-x top left #e8e8e8;
  text-shadow: none;
}

input:disabled,
input[readonly],
input[type=text][readonly]:focus {
  background: #e8e8e8;
  border: 1px solid #ccc;
  color: #ccc;
  box-shadow: none;
}

select,
textarea,
input[type=text],
input[type=password] {
  padding: 0.5em;
  border: 1px solid #c2c2c2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

button:focus,
textarea:focus,
select:focus,
input:focus {
  outline: none;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
  background-color: #ffffcf;
  border-color: #51a7e8;
  box-shadow: 0 0 2px #51a7e8;
}

select:focus {
  border-color: #51a7e8;
  box-shadow: 0 0 2px #51a7e8;
}

textarea.error,
input.error {
  background-color: #fce6e6;
  border: 1px solid #ba2727;
}

/* END Common Form Elements */
.lookup-block {
  display: inline-block;
  margin: 0 0 0 2em;
  float: right;
}
@media all and (max-width: 600px) {
  .lookup-block {
    display: none;
  }
}

.input-lookup {
  overflow: hidden;
  line-height: normal;
  width: 125px;
  border: 1px solid #c2c2c2;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #e8e8e8;
  transition: width .4s, border-radius .4s;
}
.input-lookup .input-lookup-button {
  margin: 0;
  padding: 0.2em 1em;
  float: right;
  background: url("../img/admin/form-button-bg.png") repeat-x top left #e8e8e8;
  border: none;
  border-left: 1px solid #ccc;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
  display: none;
}
.input-lookup .input-lookup-button:active {
  margin: 0;
  padding: 0.2em 1em;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  border: none;
  border-left: 1px solid #c7665b;
  background: url("../img/admin/form-button-hover-bg.png") repeat-x top left #e34b3d;
  color: white;
  text-shadow: 0 1px 1px #c43d33;
}
.input-lookup.hover {
  border-color: #c7665b;
}
.input-lookup.state-open {
  background: white;
  width: 250px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.input-lookup.state-open.state-has-value .input-lookup-button {
  display: block;
}
.input-lookup.state-open.state-has-value .input-lookup-empty {
  display: block;
}
.input-lookup.state-open input[type=text].lookup {
  cursor: text;
  background: white;
  text-align: left;
  padding-left: 0;
}
.input-lookup.state-open .input-lookup-input-inner-wrapper {
  padding-right: 20px;
}

.input-lookup-input-inner-wrapper {
  position: relative;
}

.input-lookup-input {
  padding: 0.2em;
  overflow: hidden;
}
.input-lookup-input .input-lookup-empty {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  cursor: pointer;
  opacity: .3;
  background: url("../img/icons/decline-d.png") no-repeat center center transparent;
  display: none;
}
.input-lookup-input .input-lookup-empty:hover {
  opacity: 1;
  background-image: url("../img/icons/decline.png");
}
.input-lookup-input input[type=text].lookup {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: #e8e8e8;
  background-image: url("../img/icons/magnify.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}
.input-lookup-input input[type=text].lookup:focus {
  outline: 0;
  border: none;
  box-shadow: none;
}

/* Menu */
.menu-collapse,
.menu-expand {
  overflow: hidden;
}

.menu-collapse a,
.menu-expand a {
  display: inline-block;
  margin-left: 10px;
  padding: 0.5em 0.5em 0.5em 30px;
  color: #2e2e2e;
  text-decoration: none;
  white-space: nowrap;
}

.menu-collapse a {
  background: url("../img/admin/menu-c.png") no-repeat left center;
}

.menu-expand a {
  background: url("../img/admin/menu-e.png") no-repeat left center;
}

.menu-wrapper,
.menu-collapse-wrapper {
  padding-right: 10px;
  background: url("../img/admin/content-left-bg.png") repeat-y top right;
}

.admin-menu-item-alert {
  border-radius: 1.2em;
  margin-left: 1em;
  min-width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  padding: 0.2em;
  font-size: 70%;
  background: #ffe;
  display: inline-block;
  text-align: center;
  color: #333;
}

ul.admin-menu {
  text-align: left;
  background-color: #eef;
  position: relative;
  background-image: url("../img/admin/menu-bottom-line.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 1px;
}
ul.admin-menu a {
  display: block;
  padding: 0.5em 0.5em 0.5em 40px;
  overflow: hidden;
  color: white;
  text-shadow: 0 -1px 1px #1f3240;
  text-decoration: none;
}
ul.admin-menu li a.bold {
  /* outlined menu items */
  font-weight: bold;
}
ul.admin-menu > li {
  background: url("../img/admin/menu-bg.png") repeat-x top left;
  overflow: hidden;
}
ul.admin-menu > li.active {
  background: url("../img/admin/menu-bg-active.png") repeat-x top left;
}
ul.admin-menu ul li {
  background: #8fabbd;
}
ul.admin-menu ul a {
  color: #244357;
  border-bottom: 1px solid #85a1b4;
  text-shadow: none;
}
ul.admin-menu ul li.active {
  background: url("../img/admin/menu-subitem-bg-active.png") repeat-x top left;
}
ul.admin-menu ul li.active a {
  border-right: none;
  background: url("../img/admin/menu-subitem-arrow.png") no-repeat right center;
}
ul.admin-menu > li.opened a.folder {
  background-image: url("../img/admin/menu-u.png");
  background-repeat: no-repeat;
  background-position: right center;
}
ul.admin-menu > li.active.opened a.folder {
  background-image: url("../img/admin/menu-active-u.png");
}
ul.admin-menu > li.closed a.folder {
  background-image: url("../img/admin/menu-d.png");
  background-repeat: no-repeat;
  background-position: right center;
}
ul.admin-menu > li.active.closed a.folder {
  background-image: url("../img/admin/menu-active-d.png");
}

.menu-glyph {
  background-image: url("../img/sprite/icon.png");
  background-repeat: no-repeat;
  background-position: left center;
}

ul.admin-menu .menu-glyph-delimeter {
  background-image: url("../img/admin/menu-glyph-delimeter.png");
  background-repeat: no-repeat;
  background-position: 32px center;
}

li.active .menu-glyph-delimeter {
  background-image: url("../img/admin/menu-glyph-delimeter-active.png");
}

ul.admin-menu-collapsed {
  display: none;
  position: relative;
  padding-bottom: 1px;
  background-color: #eef;
  background-image: url("../img/admin/collapsed-menu-bottom-line.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  text-align: left;
}
ul.admin-menu-collapsed .menu-glyph-delimeter {
  padding-left: 0.5em;
  background-image: url("../img/admin/menu-glyph-delimeter-active.png");
  background-repeat: no-repeat;
  background-position: left center;
}
ul.admin-menu-collapsed a {
  display: block;
  padding: 0.5em;
  overflow: hidden;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 1px #1f3240;
}
ul.admin-menu-collapsed > li {
  position: relative;
  background: url("../img/admin/menu-bg.png") repeat-x top left;
}
ul.admin-menu-collapsed > li.active {
  background: url("../img/admin/menu-bg-active.png") repeat-x top left;
}
ul.admin-menu-collapsed > li.active > div > a {
  border-right: none;
}
ul.admin-menu-collapsed ul {
  display: none;
  position: absolute;
  left: 40px;
  top: 0;
  z-index: 1000;
}
ul.admin-menu-collapsed ul a {
  padding-left: 10px;
}
ul.admin-menu-collapsed ul li.caption {
  padding: 0.5em 0.5em 0.5em 0;
  overflow: hidden;
  background: url("../img/admin/menu-bg-active.png") repeat-x top left;
  color: white;
  text-shadow: 0 -1px 1px #1f3240;
}
ul.admin-menu-collapsed ul li {
  background: #8fabbd;
  white-space: nowrap;
}
ul.admin-menu-collapsed ul a {
  border-bottom: 1px solid #85a1b4;
  color: #244357;
  text-shadow: none;
}
ul.admin-menu-collapsed li a.bold {
  /* outlined menu items */
  font-weight: bold;
}

/* END Menu */
/* Form Login */
.form-login-wrapper {
  padding: 5em 0 1em 0;
  width: 100%;
  text-align: center;
}

.form-send-pass-info {
  padding: .5em .5em 1em;
}

.form-login {
  display: inline-block;
  width: 100%;
  max-width: 350px;
}
.form-login form {
  border: 1px solid #546E7A;
  box-shadow: 0 0 10px #aaa;
  border-width: 2px 1px 1px;
}
.form-login fieldset legend {
  text-align: center;
  border-bottom: none;
  padding: .8em 0;
  background: #eceff1;
  color: #546e7a;
}
.form-login input[name=login],
.form-login input[name=am_admin_login] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/icons/users.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 30px;
  width: 100%;
}
.form-login input[name=am_admin_passwd] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/icons/key.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 30px;
  width: 100%;
}
.form-login input[name=login],
.form-login input[name=am_admin_login],
.form-login input[name=am_admin_passwd] {
  line-height: 1.5em;
}
.form-login div.element-title label {
  line-height: 2em;
  font-weight: normal;
}
.form-login div.row {
  border: none;
}
@media all and (min-width: 500px) {
  .form-login div.row {
    padding-top: .5em;
  }
}

/* END Form Login */
/* Storage Filter */
.input-storage-filter-wrapper {
  overflow: hidden;
  padding: 0.4em;
  border: 1px solid #C2C2C2;
  border-radius: 0px;
  margin-bottom: .2em;
  background: white;
}

.input-storage-filter-inner-wrapper {
  position: relative;
  padding-right: 15px;
}

.input-storage-filter-empty {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  cursor: pointer;
  opacity: .3;
  background: url("../img/icons/decline-d.png") no-repeat center center transparent;
  display: none;
}

.input-storage-filter-empty:hover {
  opacity: 1;
  background-image: url("../img/icons/decline.png");
}

input[type=text].input-storage-filter {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}

input[type=text].input-storage-filter:focus {
  border: none;
  box-shadow: none;
}

input[type=text].input-storage-filter:focus {
  border: none;
  outline: 0;
  background: none;
}

/* END Storage Filter */
/* Options Editor Form Element */
.options-editor {
  padding: 0.4em;
  border: 1px solid #c2c2c2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}
.options-editor div.editable {
  display: inline-block;
  width: 8px;
  height: 8px;
  overflow: hidden;
  float: right;
  margin: 0px;
  padding-left: 10px;
  background: url("../img/pencil.png") no-repeat right;
}
.options-editor table td {
  padding: 0.5em;
  vertical-align: middle;
}
.options-editor table th {
  padding: 0.5em;
  vertical-align: middle;
  font-weight: bold;
  background: #c2c2c2;
  color: #555;
}
.options-editor table a {
  text-decoration: none;
}
.options-editor input, .options-editor input[type=checkbox] {
  margin: 0;
}
.options-editor tr > td:first-child {
  padding-left: 10px;
}
.options-editor tr.option {
  border-bottom: 1px dashed #ccc;
}
.options-editor tr.option > td:first-child {
  background: url("../img/sortable.png") no-repeat left center;
}

/* END Options Editor Form Element */
/* Setup Menu */
.notebook-wrapper {
  margin-bottom: 1em;
  color: #333;
  background: #dbdbdb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 1px #b0b0b0;
  padding: 0.5em 0 0 0.5em;
}

.notebook {
  width: 100%;
}
.notebook a {
  display: block;
  padding: 0.5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}
.notebook td {
  background: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.notebook td a {
  margin-right: 0.5em;
}
.notebook td.notsel a {
  background: url("../img/admin/tab-bg.png") repeat-x top left #e8e8e8;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
}
.notebook td.notsel a:hover {
  border: 1px solid #c7665b;
  background-image: url("../img/admin/tab-hover-bg.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #e34b3d;
  color: white;
  text-shadow: 0 -1px 1px #c43d33;
}
.notebook td.sel a {
  border: 1px solid #c7665b;
  background-image: url("../img/admin/tab-hover-bg.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #e34b3d;
  color: white;
  text-shadow: 0 -1px 1px #c43d33;
}

/* END Setup Menu */
/* Uploader */
.upload-control {
  display: inline-block;
}
.upload-control .upload-control-upload {
  background: url("../img/admin/form-button-bg.png") repeat-x top left #e8e8e8;
  border: 1px solid #ccc;
  padding: 0.5em 1.2em;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
}
.upload-control .upload-control-upload.upload-control-reupload {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.upload-control .upload-control-browse {
  display: inline-block;
  background: url("../img/admin/form-button-bg.png") repeat-x top left #e8e8e8;
  border: 1px solid #ccc;
  border-left: none;
  padding: 0.5em 1.2em;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
  cursor: pointer;
}
.upload-control .upload-control-upload.hover, .upload-control .upload-control-browse.hover {
  border-color: #c7665b;
  background-image: url("../img/admin/form-button-hover-bg.png");
  background-color: #e34b3d;
  color: white;
  text-shadow: 0 -1px 1px #c43d33;
}
.upload-control span.uploading {
  background: url("../img/ajax-loader-small.gif") no-repeat left center;
  padding-left: 20px;
}
.upload-control .upload-control-upload.upload-control-upload-single {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* END Uploader */
/* Translations */
.trans-cancel {
  clear: both;
}

textarea.text-edit {
  width: 90%;
}

textarea.changed {
  background: #e4ffc9;
}

/* END Translations */
.widget-quickstart h3 {
  font-size: 120%;
}
.widget-quickstart li {
  margin-bottom: 0.4em;
  overflow: hidden;
}
.widget-quickstart li img {
  float: left;
  padding: 0 0.5em 0.5em 0;
}

.widget-quickstart-content {
  padding: 1em;
  background: #ffffcf;
  border: solid 1px #a1a1a1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
  color: #454430;
  box-shadow: 0 2px 4px #d6d6d6;
}

.widget-quickstart-disable {
  float: right;
  font-size: xx-small;
}

/* Custom input[type=file] element */
.input-file {
  width: 400px;
  overflow: hidden;
  border: 1px solid #c2c2c2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
}

.input-file-input {
  padding: 0.4em;
  height: 1em;
  position: relative;
  overflow: hidden;
}

.input-file-button {
  float: right;
  background: url("../img/admin/form-button-bg.png") repeat-x top left #e8e8e8;
  border: none;
  border-left: 1px solid #ccc;
  padding: 0.4em 1em;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
}

.input-file.hover {
  border-color: #c7665b;
}
.input-file.hover .input-file-button {
  border-color: #c7665b;
  background-image: url("../img/admin/form-button-hover-bg.png");
  background-color: #e34b3d;
  color: white;
  text-shadow: 0 -1px 1px #c43d33;
}

/* END Custom input[type=file] element */
.dashboard {
  overflow: hidden;
}
@media all and (min-width: 1100px) {
  .dashboard .main {
    margin-right: 500px;
    padding-right: 1em;
  }
}
@media all and (min-width: 1100px) {
  .dashboard .aside {
    float: right;
    width: 500px;
  }
}
.dashboard .bottom,
.dashboard .top {
  clear: both;
}

.dashboard-customize .connectedSortable {
  border: 1px #244357 dashed;
  padding-bottom: 50px;
  margin-bottom: 1em;
}

.dashboard.dashboard-customize .aside {
  width: 520px;
}
.dashboard.dashboard-customize .main {
  margin-right: 520px;
}

.dashboard-customize-link-wrapper {
  overflow: hidden;
  margin-bottom: 0.4em;
}

.dashboard-customize-link {
  float: right;
}

div.admin-last div.grid-container {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.widget-ui {
  border: 2px #8fabbd solid;
  z-index: 2000;
  margin-bottom: 0.5em;
}

.widget-ui-manage {
  background: url("../img/admin/menu-bg.png") repeat-x top left;
  color: white;
  padding: 0.5em 6px;
  cursor: move;
  text-shadow: 0 -1px 1px #1f3240;
}

.widget-ui-conteiner {
  background: #ededed;
  position: relative;
}
.widget-ui-conteiner .widget-ui-content {
  opacity: .35;
  filter: Alpha(Opacity=35);
  padding: 0.5em 6px;
}

.widget-ui .widget-link {
  float: right;
  margin-left: 0.5em;
}

.widget {
  margin-bottom: 0.5em;
}
.widget h2 {
  margin-bottom: 0.2em;
  font-weight: normal;
}
.widget .grid-container {
  overflow: hidden;
}
.widget .grid th {
  border: none;
  background: #d3dce3;
  color: inherit;
  text-shadow: none;
}
.widget .grid tr.grid-row > td {
  border: none;
  padding: .8em .5em;
}
.widget .widget-nodata {
  text-align: center;
  padding: 2em;
  background: #e6e6e6;
  font-size: 1.1rem;
}

.admin-index-report-wrapper {
  border: solid 1px #a1a1a1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 4px #d6d6d6;
  margin-bottom: 1em;
}

.admin-index-report {
  border: solid 1px white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}

.admin-dashboard-wrapper {
  border: solid 1px #a1a1a1;
  margin-bottom: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.admin-dashboard {
  border-collapse: separate;
  /* to make radius working */
  width: 100%;
  border: solid 1px white;
  box-shadow: 0 2px 4px #d6d6d6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.admin-dashboard td {
  vertical-align: top;
  padding: 10px;
  width: 50%;
}
.admin-dashboard td.first {
  border-right: solid 1px white;
}
.admin-dashboard dl {
  overflow: hidden;
}
.admin-dashboard dt {
  width: 55%;
  float: left;
}
.admin-dashboard dd {
  margin-left: 55%;
  width: 45%;
  text-align: right;
}

.widget-recurring-revenue {
  border: solid 1px #a1a1a1;
  box-shadow: 0 2px 4px #d6d6d6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em;
  background: lightgreen;
  font-size: 2rem;
  text-align: center;
}

ul.widget-top-affiliate {
  margin: 1em;
}
ul.widget-top-affiliate li {
  padding-bottom: 0.2em;
}

.widget-recurring-goal {
  border: solid 1px #a1a1a1;
  box-shadow: 0 2px 4px #d6d6d6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 2rem;
}
.widget-recurring-goal .progress-bar-conteiner {
  display: inline-block;
  width: 100%;
  color: #333333;
  background: #dbdbdb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: right;
}
.widget-recurring-goal .progress-bar {
  position: relative;
  text-align: left;
}
.widget-recurring-goal .progress-bar-bar {
  z-index: 1;
  position: absolute;
  background: lightgreen;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.widget-recurring-goal .progress-bar-title {
  z-index: 2;
  position: absolute;
  text-align: center;
  width: 100%;
}

.widget-label {
  padding: 0 4px;
  font-size: 8px;
  line-height: 9px;
  text-transform: uppercase;
  border-radius: 5px;
}

.widget-label_today {
  background: #ffffcf;
}

.widget-label_yesterday {
  background: #daebd5;
}

.admin-activity .admin-activity_event {
  border-left: 2px solid #a1a1a1;
}
.admin-activity .admin-activity_event-time {
  color: #aaa;
  font-size: 80%;
}
.admin-activity .admin-activity_event-extra {
  color: #aaa;
}
.admin-activity .admin-activity_event-payment {
  border-left: 2px solid #488f37;
}
.admin-activity .admin-activity_event-refund {
  border-left: 2px solid #BA2727;
}
.admin-activity .admin-activity_payment-amount {
  font-size: 120%;
  font-weight: normal;
}
.admin-activity .admin-activity_payment-amount-sign {
  color: #488f37;
}
.admin-activity .admin-activity_refund-amount {
  font-size: 120%;
  font-weight: normal;
}
.admin-activity .admin-activity_refund-amount-sign {
  color: #BA2727;
}

.import-preview {
  width: 100%;
  margin: 0;
}

.import-table-wrapper {
  overflow: scroll;
  width: 100%;
  border: 1px solid #a1a1a1;
  box-shadow: 0 4px 8px #d6d6d6;
  clear: both;
  margin-bottom: 1em;
}

.import-area {
  display: inline-block;
  text-align: center;
  width: 100%;
}

/* CKEditor Customiztion */
.cke_button_label.cke_button__createplaceholder_label {
  display: inline;
}

/* JQuery UI customization */
.ui-widget {
  font-size: 13px !important;
  font-family: Tahoma, Arial, san-serif !important;
}

.ui-widget-content {
  color: #313131 !important;
}
.ui-widget-content a, .ui-widget-content a:visited {
  color: #34536e;
}

.ui-autocomplete-loading {
  background: white url("../js/jquery/images/ui-anim_basic_16x16.gif") right center no-repeat;
}

button.ui-button.ui-button-text-only {
  padding: 0.5em 1.2em;
  font-weight: normal;
}
button.ui-button.ui-button-text-only .ui-button-text {
  padding: 0;
}
button.ui-button.ui-button-text-only.ui-state-default {
  background: url("../img/admin/form-button-bg.png") repeat-x top left #e8e8e8;
  border: 1px solid #ccc;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
}
button.ui-button.ui-button-text-only.ui-state-hover {
  border-color: #c7665b;
  background-image: url("../img/admin/form-button-hover-bg.png");
  background-color: #e34b3d;
  color: white;
  text-shadow: 0 -1px 1px #c43d33;
}

.ui-dialog {
  padding: 0.5em;
  border: solid 3px #545454;
  background: #eee;
}
.ui-dialog .ui-dialog-content {
  padding: 0;
}
.ui-dialog .ui-dialog-titlebar {
  margin: -0.5em -0.5em 0.5em;
  background: #dbdbdb;
  border: none;
  border-radius: 0;
  padding: 1em;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  color: #484848;
}
.ui-dialog .ui-dialog-titlebar .ui-icon-closethick {
  background-image: url("../img/admin/modal-close.png");
  background-position: center;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  border: none;
  background: none;
  border-radius: 0;
}
.ui-dialog .ui-dialog-buttonpane {
  margin: 0.5em -0.5em -0.5em;
  padding: 0;
}

.ui-datepicker-title select {
  padding: 0.2em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* END JQuery UI customization */
.glyph {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
}

.sprite-icon {
  width: 16px;
  height: 16px;
  background-image: url("../img/sprite/icon.png");
}

.sprite-flag {
  width: 16px;
  height: 11px;
  background-image: url("../img/sprite/flag.png");
}

#mask {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .50;
  filter: alpha(opacity=50);
  background-color: #CCC;
  width: 100%;
  height: 100%;
  zoom: 1;
}

#flash-message {
  color: black;
  top: 10px;
  right: 10px;
  padding: 1px;
  position: fixed;
  z-index: 1000;
}
#flash-message div {
  margin-bottom: 0.2em;
  padding: 1em;
  width: 350px;
  background: #ffffcf;
  border: solid 3px #545454;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #454430;
}
#flash-message .message {
  color: black;
}
#flash-message .error {
  color: #ba2727;
  font-weight: bold;
}

#advanced-search {
  transition: top 0.5s ease;
}

.popup-wide {
  text-align: left;
  width: 612px;
  float: right;
}
.popup-wide a {
  color: white;
}
.popup-wide .popup-top-arrow {
  height: 32px;
  background: url("../img/admin/popup-wide-top-arrow.png") no-repeat left bottom;
}
.popup-wide .popup-top {
  background: url("../img/admin/popup-wide-top.png") no-repeat left bottom;
  height: 32px;
}
.popup-wide .popup-content {
  padding: 0 2em;
  overflow: hidden;
  background: url("../img/admin/popup-wide-content.png") repeat-y left top;
  color: white;
}
.popup-wide .popup-bottom {
  height: 18px;
  background: url("../img/admin/popup-wide-bottom.png") no-repeat left top;
}

.popup {
  width: 412px;
  float: right;
  text-align: left;
}
.popup a {
  color: white;
}
.popup .popup-top-arrow {
  height: 32px;
  background: url("../img/admin/popup-top-arrow.png") no-repeat left bottom;
}
.popup .popup-top {
  height: 32px;
  background: url("../img/admin/popup-top.png") no-repeat left bottom;
}
.popup .popup-content {
  padding: 0 2em;
  overflow: hidden;
  background: url("../img/admin/popup-content.png") repeat-y left top;
  color: white;
}
.popup .popup-bottom {
  height: 18px;
  background: url("../img/admin/popup-bottom.png") no-repeat left top;
}
.popup select {
  margin-right: 10px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 10px;
}

.search-fields {
  margin: 1em 0 1em;
  width: 100%;
  font-size: 11px;
}
.search-fields input,
.search-fields select,
.search-fields button {
  margin-right: 0.5em;
  font-size: 1em;
}
.search-fields select {
  max-width: 200px;
}
.search-fields td {
  vertical-align: top;
  padding: 1em 0.5em 1em 0;
  font-size: 1em;
}
.search-fields td.input {
  overflow: hidden;
}
.search-fields td.input > div {
  float: left;
}
.search-fields td.name {
  width: 18%;
}
.search-fields td.action {
  padding: 1em 0;
  width: 16px;
}
.search-fields tr {
  border-bottom: 1px dashed #ddd;
}

.popup input[type=submit] {
  float: right;
}

#addSearchField {
  margin-bottom: 10px;
}

#save-advanced-search input[type="text"] {
  background-color: #ffc;
  width: 100%;
  box-sizing: border-box;
}

.dir-browser div.path {
  padding: 0.5em 0;
}

.user-invoice {
  margin-bottom: 1em;
  padding: 1px;
  border: 1px solid #a1a1a1;
  box-shadow: 0 4px 8px #d6d6d6;
  backgroud: white;
}
.user-invoice .expand-details {
  margin-right: 1em;
  padding-left: 15px;
  display: inline-block;
  float: left;
  background: url("../img/admin/arrow-d.png") no-repeat left center;
}
.user-invoice .expand-details.open {
  background-image: url("../img/admin/arrow-u.png");
}

.user-invoice-actions {
  width: 20em;
  float: right;
  text-align: right;
}

.user-invoice-pending {
  opacity: .35;
}

.user-invoice-open.user-invoice-pending {
  opacity: 1;
}

.user-invoice-header {
  padding: 0.5em;
  background-color: #ededed;
  font-weight: normal;
}

.user-invoice-record {
  padding: 0.5em;
  overflow: hidden;
  background-color: #f0f0f0;
}

.pending-invoices {
  margin-bottom: 1em;
}

.user-invoice-record-details {
  overflow: hidden;
}
.user-invoice-record-details .user-invoice-record-details-products {
  margin-bottom: 0.2em;
  width: 45%;
  float: left;
}
.user-invoice-record-details .user-invoice-record-details-payments {
  margin-bottom: 0.2em;
  width: 45%;
  float: right;
}
.user-invoice-record-details .user-invoice-record-details-commissions {
  clear: both;
}

.user-access-title {
  margin-bottom: 1em;
}

tr.grid-row.user-access-form {
  border-bottom: none;
}

tr.grid-row.user-access-form td {
  background: #bfd3e0;
  border-color: #bfd3e0;
}

.access-status-expired {
  font-style: italic;
}

.access-status-active {
  font-weight: bold;
  color: #555;
}

.access-status-future {
  font-style: italic;
  font-weight: bold;
  color: #555;
}

.user-status-pending {
  font-style: italic;
}

.user-status-expired {
  font-style: italic;
  color: #BA2727;
}

.user-status-active {
  font-weight: bold;
  color: #555;
}

.user-status-future {
  font-style: italic;
  font-weight: bold;
  color: #555;
}

.user-status-refunded {
  color: #BA2727;
}

div.errors ul {
  margin-bottom: 1em;
  background: #fcbdbd;
  border: 1px solid #faa7a7;
  color: #ba2727;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

ul.error,
ul.errors {
  background: #fcbdbd;
  border: 1px solid #faa7a7;
  color: #ba2727;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 1em;
}

div.errors ul li {
  margin-left: 0px;
  padding: 0.5em 1em;
  list-style: none;
  text-align: left;
}

ul.error li,
ul.errors li {
  margin-left: 0px;
  padding: 0.5em 1em;
  list-style: none;
  text-align: left;
}

span.error {
  color: #ba2727;
}

.tree-nodes {
  display: inline-block;
  margin-bottom: 1em;
  text-align: left;
}
.tree-nodes > li {
  font-size: 120%;
}
.tree-nodes ul {
  margin-left: 1em;
}
.tree-nodes li > div {
  padding: 0.4em;
  overflow: hidden;
}
.tree-nodes li > div:hover {
  background: #dfe8f0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.tree-nodes .tree-actions {
  padding-left: 2em;
  float: right;
}

._grid_ {
  width: 100%;
}

/* collpasible list styles. _..._ added by HtmlReg filter so we cannot avoid it */
._collapsible_ ._head_ {
  font-weight: bold;
  padding-left: 20px;
  background: url("../img/icons/bullet_toggle_plus.png") no-repeat left center;
}
._collapsible_ ._more_ {
  display: none;
  padding-left: 40px;
  background-color: #ffe;
}
._collapsible_ ._item_._open_ ._head_ {
  background: url("../img/icons/bullet_toggle_minus.png") no-repeat left center;
}
._collapsible_ ._item_._open_ ._more_ {
  display: block;
}

/* entire item - title text and .collapsible-more */
/* */
table._logdetail_ {
  font-size: 8pt;
  border-collapse: collapse;
}

div.upgrades-conteiner {
  background: #ffffcf;
  border: 1px solid #545454;
  color: #454430;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  overflow: hidden;
}

div.upgarde-controll {
  float: right;
}
div.upgarde-controll a {
  text-decoration: none;
}

ul.upgrades {
  display: none;
}
ul.upgrades li {
  padding-bottom: 0.5em;
}

div.warning_box {
  background: none repeat scroll 0 0 #ffffcf;
  border: 1px solid #545454;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #454430;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 0.5em 1em;
}

div.mail-editor div.mail-editor-element {
  margin: 1em 0;
}

.admin-help {
  font-size: .83em;
  vertical-align: super;
}
.admin-help a {
  text-decoration: none;
}

.maint-mode-warning {
  font-family: Helvetica, Arial, serif;
  width: 100%;
  height: 2em;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  background-color: #E34B3D;
  text-align: center;
  padding-top: 1em;
}
.maint-mode-warning a {
  color: white;
}

.disabled-text {
  color: #777;
  font-style: italic;
}

.player-config div {
  padding: 0.2em 0.4em;
  display: none;
}

.magicselect-item-sortable {
  padding-left: 10px;
  background: url("../img/sortable.png") no-repeat left center;
}

.am-sortable-list {
  overflow-y: auto;
  max-height: 20em;
}
.am-sortable-list .am-sortable-list-item {
  background: url("../img/sortable.png") no-repeat scroll left center transparent;
  padding: 2px;
  padding-left: 10px;
  margin: 3px;
  width: 50%;
}

.live-edit-placeholder {
  font-style: italic;
  color: #aaa;
}

.acbp_left, .acbp_right {
  height: 25px;
  float: left;
  margin: 5px 0;
}

.acbp_left {
  width: 30%;
}

.acbp_right {
  width: 60%;
}

.am-form div.am-element-recaptcha {
  margin-left: 0;
  text-align: center;
}

.am-form div.am-element-recaptcha > div {
  display: inline-block;
}

.morris-hover {
  position: absolute;
  z-index: 1000;
}

.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}

.select2-disabled {
  color: #bbb;
}

.plan-title-text {
  cursor: pointer;
}

/*# sourceMappingURL=admin.css.map */
