body,
html {
  height: 100%;
  font-size: 13px;
}

.am-layout {
  min-height: 100%;
  margin: 0 0 -30px 0;
  padding: 0;
}
@media all and (min-width: 800px) {
  .am-layout {
    background: url("../img/layout-bg.png") repeat-y top center #ededed;
  }
}

.am-credits {
  margin-top: -2em;
  color: #333;
  height: 2em;
  text-align: center;
  font-size: 0.8rem;
}
.am-credits a {
  color: #3f7fb0 !important;
}

.am-common {
  font-family: Tahoma, Arial, san-serif;
  color: #303030;
}
.am-common h1 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #333;
  margin-bottom: 0.6em;
}
.am-common h2 {
  font-size: 1.2rem;
  margin-bottom: 0.4em;
}
.am-common h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.am-common em {
  font-style: italic;
}
.am-common p {
  padding-bottom: 0.5em;
}
.am-common strong {
  font-weight: bold;
}
.am-common hr {
  background-color: #dbdbdb;
  border: 0;
  width: 100%;
  height: 1px;
}
.am-common a {
  color: #3f7fb0;
}
.am-common a:focus {
  outline: none;
}
.am-common a:hover {
  text-decoration: none;
}
.am-common ul {
  margin: 0 0 1em 2em;
}
.am-common ul li {
  list-style-type: disc;
}
.am-common ol {
  margin: 0 0 1em 2em;
}
.am-common ol li {
  list-style-type: decimal;
}

.am-main {
  /* applies to am-header-content/am-body-content-wrapper/am-footer-content-wrapper */
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}
@media all and (max-width: 320px) {
  .am-main {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.am-header {
  overflow: hidden;
  background: #325069;
}
.am-header .am-header-content-wrapper {
  border-width: 0 1px;
  border-style: solid;
  border-color: #688296;
  background: url("../img/header-wrapper-bg.png") repeat-x top left #355873;
}
.am-header .am-header-content {
  padding: 10px 0;
  overflow: hidden;
}
.am-header .am-header-content .am-header-content-logo {
  float: left;
  margin-right: 1em;
}

.am-header-line {
  height: 12px;
  background: #9c9c9c;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #ebebeb;
}

@media all and (min-width: 800px) {
  .am-body {
    background: url("../img/body-bg.png") repeat-x left top #ededed;
  }
}
.am-body .am-body-content-wrapper {
  text-align: left;
  background: white;
  padding-bottom: 50px;
  padding-top: 1em;
}
@media all and (min-width: 800px) {
  .am-body .am-body-content-wrapper {
    border-color: #dbdbdb;
    border-width: 0 1px;
    border-style: solid;
  }
}
.am-body .am-body-content-top {
  overflow: hidden;
}

.am-footer {
  color: #919191;
  height: 30px;
}
.am-footer .am-footer-content-wrapper {
  background: #325069;
  color: white;
  height: 30px;
}
.am-footer .am-footer-content {
  padding-top: 0.5em;
}
.am-footer .am-footer-content a {
  color: white;
}
.am-footer .am-footer-actions {
  float: right;
}

@media all and (max-width: 500px) {
  .am-member-payment-history-items {
    display: none;
  }
}
@media all and (max-width: 600px) {
  .am-member-payment-history-paysys {
    display: none;
  }
}
ul.am-breadcrumbs {
  font-size: 90%;
  margin: 0 0 0.5em;
  overflow: hidden;
  padding: 0 1em 0 0;
}
ul.am-breadcrumbs .am-breadcrumbs-item,
ul.am-breadcrumbs .am-breadcrumbs-separator {
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0;
  list-style: none;
}

/* Grid */
.check-all-offer {
  background-color: #ffc;
  padding: 0.5em;
  border: 1px solid white;
  border-bottom: none;
}

.filter-wrap {
  color: #333;
  background: #dbdbdb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em;
  text-align: right;
  margin-bottom: 1em;
  box-shadow: 0 1px 0 #b0b0b0;
  overflow: hidden;
}
.filter-wrap .filter-title {
  float: right;
  margin-right: 1em;
  line-height: 2em;
}
.filter-wrap .filter-inputs {
  float: right;
  margin-right: 0.5em;
  text-align: left;
}
.filter-wrap .filter-button {
  float: right;
  text-align: left;
}
.filter-wrap form.filter input[type=text] {
  background-image: url("../img/icons/magnify.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px;
}
.filter-wrap form.filter input[type=text].datepicker {
  background-image: url("../img/icons/calendar.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px;
}

.group-wrap,
.norecord-actions {
  margin-bottom: 1em;
}
.group-wrap .link,
.norecord-actions .link {
  display: inline-block;
  margin: 0.4em 1em;
}

.grid-total {
  padding: .5em;
  text-align: right;
}

.grid-container {
  border: 1px solid #a1a1a1;
  box-shadow: 0 2px 4px #d6d6d6;
  margin-bottom: 1em;
  overflow-x: auto;
}

.grid {
  width: 100%;
}
.grid tr.grid-row {
  border-bottom: 1px solid #ddd;
}
.grid tr.grid-row.expanded, .grid tr.grid-row.even, .grid tr.grid-row.odd {
  border-bottom: none;
}
.grid tr.grid-row.odd td {
  background-color: #d3dce3;
}
.grid tr.grid-row.odd td.sorted {
  background-color: #bed4e2;
}
.grid tr.grid-row.selected {
  background: #ffc;
}
.grid tr.grid-row.selected td {
  background: none !important;
  border-bottom: 1px solid #e5e5e5;
}
.grid tr.grid-row.emphase {
  background-color: #ffc;
}
.grid tr.grid-row.emphase td {
  background: none !important;
}
.grid tr.grid-row > td {
  padding: .8em .5em;
  vertical-align: top;
}
.grid tr.grid-row > td.break {
  word-break: break-word;
  word-wrap: break-word;
}
.grid th {
  padding: 0.5em;
  border: 1px solid white;
  background: url("../img/grid-header-bg.png") repeat-x top left;
  color: white;
  text-shadow: 0 -1px 1px #1e2e3b;
}
.grid th a {
  padding-right: 20px;
  display: block;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 1px #1e2e3b;
  background: url("../img/grid-sortable.png") no-repeat right center;
}
.grid th a.sorted-asc {
  background: url("../img/grid-asc.png") no-repeat right center;
}
.grid th a.sorted-desc {
  background: url("../img/grid-desc.png") no-repeat right center;
}
.grid tr.grid-row > td {
  background: #ededed;
}
.grid tr.grid-row > td.sorted {
  background: #d9e6ee;
}
.grid tr.grid-row > td.actions {
  text-align: center;
}
.grid tr.grid-row > td.record-sort {
  background-image: url("../img/grid-sortable.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: move;
}
.grid tr.grid-row > td.expandable-data {
  background: #eef;
}
.grid tr.grid-row > td.expanded {
  background: #eef !important;
  border-bottom-color: #eef;
}
.grid tr.grid-row > td.expandable {
  cursor: pointer;
}
.grid tr.grid-row > td.expandable div.arrow {
  display: inline-block;
  width: 7px;
  height: 5px;
  overflow: hidden;
  float: right;
  margin: 0px;
  padding-left: 10px;
  background: url("../img/arrow.png") no-repeat right;
}
.grid tr.grid-row > td.expandable div.placeholder {
  padding-right: 1em;
}
.grid .editable {
  display: inline-block;
  width: 8px;
  height: 8px;
  overflow: hidden;
  float: right;
  margin: 0px;
  padding-left: 10px;
  background: url("../img/pencil.png") no-repeat right;
}
.grid .live-edit,
.grid .live-select {
  cursor: pointer;
}
.grid .disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
}
.grid th.required {
  color: #ba2727;
  text-shadow: none;
}
.grid tr.grid-row:hover > td {
  background-color: #bed4e2 !important;
}
.grid tr.grid-row:hover > td.expanded {
  background-color: #eef !important;
}
.grid tr.grid-row.expandable-data-row:hover > td {
  background-color: #eef !important;
}
.grid tr.grid-row > td.selected {
  background: #d9e6ee !important;
}
.grid.grid-no-highlight tr.grid-row:hover > td {
  background-color: inherit !important;
}
.grid.grid-no-highlight tr.grid-row.odd > td {
  background-color: #d3dce3 !important;
}

.grid.grid-small {
  font-size: 80%;
}

.grid-action-export-preset-list {
  margin: 1em;
}
.grid-action-export-preset-list .grid-action-export-preset-list-item {
  padding-bottom: .5em;
}
.grid-action-export-preset-list .grid-action-export-preset-list-item:hover .grid-action-export-preset-list-action {
  display: inline;
}
.grid-action-export-preset-list .grid-action-export-preset-list-action {
  display: none;
}
.grid-action-export-preset-list .grid-action-export-preset-list-action a,
.grid-action-export-preset-list .grid-action-export-preset-list-action a:visited {
  color: #BA2727;
}

/* END Grid */
.am-account-toolbar {
  overflow: hidden;
  margin-bottom: 1em;
}

.am-account-toolbar-items {
  overflow: hidden;
}

.am-tabs-narrow-switch {
  cursor: pointer;
  float: left;
  padding-right: 8px;
  display: none;
}

.am-tabs-narrow-dashboard {
  float: left;
  padding-right: 8px;
  display: none;
}

@media all and (max-width: 500px) {
  .am-tabs-narrow-switch,
  .am-tabs-narrow-dashboard {
    display: block;
  }

  .am-lang-title {
    display: none;
  }

  .am-account-toolbar {
    margin-bottom: 0.5em;
  }
  .am-account-toolbar .am-account-toolbar-items {
    padding: 0.5em;
    background: #eee;
  }

  .am-account-toolbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1px 5px grey;
  }
}
.am-user-identity-block {
  background: url("../img/identity-glyph.png") no-repeat left center;
  font-weight: bold;
  padding-left: 25px;
  line-height: 24px;
  float: left;
}
.am-user-identity-block a {
  text-decoration: none;
  font-weight: normal;
}

.am-user-identity-block-avatar {
  font-weight: bold;
  overflow: hidden;
  line-height: 24px;
  float: left;
}
.am-user-identity-block-avatar a {
  text-decoration: none;
  font-weight: normal;
}

.am-user-identity-block-avatar-pic {
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 0.5em;
  float: left;
}
.am-user-identity-block-avatar-pic img {
  width: 24px;
  height: 24px;
}

/* two column layout, used for login/sendpass on login and signup page */
.am-layout-two-coll {
  border: 1px solid #d9d9d9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 3px #e3e3e3;
  background-color: #f5f5f5;
}
@media all and (min-width: 750px) {
  .am-layout-two-coll {
    background: url("../img/two-coll-divider-middel.png") repeat-y top center #f5f5f5;
  }
}
.am-layout-two-coll .am-layout-two-coll-bottom {
  clear: both;
  height: 20px;
  background-color: #f5f5f5;
}
@media all and (min-width: 750px) {
  .am-layout-two-coll .am-layout-two-coll-bottom {
    background: url("../img/two-coll-divider-bottom.png") repeat-y top center;
  }
}
.am-layout-two-coll .am-layout-two-coll-top {
  clear: both;
  height: 20px;
  background-color: #f5f5f5;
}
@media all and (min-width: 750px) {
  .am-layout-two-coll .am-layout-two-coll-top {
    background: url("../img/two-coll-divider-top.png") repeat-y top center;
  }
}
@media all and (min-width: 750px) {
  .am-layout-two-coll .am-coll-left,
  .am-layout-two-coll .am-coll-right {
    float: left;
    width: 50%;
  }
}
.am-layout-two-coll .am-coll-left .am-coll-content {
  margin: 0 1em;
}
.am-layout-two-coll .am-coll-right .am-coll-content {
  margin: 0 1em;
}

/* Pagination */
.am-pagination {
  clear: both;
  font-size: 100%;
  padding: 0.5em 0;
  margin: 0.5em 0;
}
.am-pagination a {
  text-decoration: none;
  border: solid 1px #91aabd;
  color: #5e6e7a;
  background: #d3dce3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px 1px #fff;
}
.am-pagination a, .am-pagination span {
  padding: 0.3em 0.6em;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.am-pagination .am-pagination-current {
  background: #8fabbd;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #91aabd;
  text-shadow: 0 -1px 1px #596d7d;
}
.am-pagination .am-pagination-current.am-pagination-prev,
.am-pagination .am-pagination-current.am-pagination-next {
  color: #afb5ba;
  border-color: #cad3db;
  background: #e3e6e8;
  text-shadow: none;
}

/* Tabs - user member area menu */
ul.am-tabs {
  display: block;
  overflow: hidden;
  margin: 0 0 1em 0;
  padding: 0 0.5em 0.5em 0.5em;
  background: #dbdbdb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #b0b0b0;
  text-align: left;
}
ul.am-tabs #menu-member {
  width: 1em;
  height: 1.2em;
  text-indent: 2em;
  overflow: hidden;
  background: url("../img/dashboard.png") no-repeat center center;
}
ul.am-tabs li.active #menu-member,
ul.am-tabs #menu-member:hover {
  background-image: url("../img/dashboard-h.png");
}
ul.am-tabs li {
  display: block;
  margin: 0 0.5em 0 0;
  padding: 0;
  float: left;
  background: url("../img/tab-bg.png") repeat-x top left #e8e8e8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
}
ul.am-tabs > li {
  margin-top: 0.5em;
}
ul.am-tabs a {
  display: block;
  box-sizing: content-box;
  margin: 0;
  height: 1.2em;
  line-height: 1.2em;
  padding: 0.5em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
  text-decoration: none;
}
ul.am-tabs li.active > a,
ul.am-tabs li.normal > a:hover {
  background: url("../img/tab-hover-bg.png") repeat-x top left #e34b3d;
  border-color: #c7665b;
  color: white;
  text-shadow: 0 -1px 1px #c43d33;
}
ul.am-tabs li.active,
ul.am-tabs li.normal:hover {
  background: url("../img/tab-hover-bg.png") repeat-x top left #e34b3d;
}
ul.am-tabs ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 5;
}
ul.am-tabs ul li {
  float: none;
}
ul.am-tabs li:hover > ul {
  display: block;
}
ul.am-tabs span.arrow {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 5px;
  margin: 0 0 2px 5px;
  padding: 0;
  overflow: hidden;
  z-index: 15;
  background: url("../img/arrow.png") no-repeat left;
}
ul.am-tabs a:hover span.arrow,
ul.am-tabs li.active span.arrow {
  background-image: url("../img/arrow-white.png");
}
ul.am-tabs .has-children > ul {
  background: url("../img/tab-bg.png") repeat-x top left #e8e8e8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-top-left-radius: 0;
  border: 1px solid #ccc;
  min-width: 150px;
  overflow: hidden;
}
ul.am-tabs .has-children > ul > li {
  margin: 0;
}
ul.am-tabs .has-children > ul a {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  background: none;
}
ul.am-tabs .has-children ul li {
  border-radius: 0;
  background: none;
}
ul.am-tabs .has-children > ul li.active {
  background-image: url("../img/tab-hover-bg.png");
  background-color: #e34b3d;
}
ul.am-tabs .has-children > a:hover {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
ul.am-tabs li.expanded > a {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* END Tabs */
/* Tabs Narrow - user member area menu */
.am-tabs-narrow-stuff {
  display: none;
}

.am-tabs-narrow-wrapper {
  display: none;
  clear: both;
}
.am-tabs-narrow-wrapper .am-tabs-narrow-wrapper-tail {
  background: url("../img/menu-pointer.png") no-repeat right;
  width: 24px;
  height: 12px;
  margin-top: -12px;
  margin-left: 0.5em;
  padding-left: 32px;
}

ul.am-tabs-narrow {
  overflow: hidden;
  margin: 0;
  padding: 1em;
  background: #dbdbdb;
  text-align: left;
}
ul.am-tabs-narrow ul {
  margin: 0 0 0 1em;
  padding: 0;
}
ul.am-tabs-narrow li {
  list-style-type: none;
}
ul.am-tabs-narrow li.active > a {
  font-weight: bold;
}

@media all and (max-width: 500px) {
  .am-tabs-wrapper {
    display: none;
  }

  .am-tabs-narrow-wrapper {
    display: block;
  }
}
@media all and (max-width: 600px) {
  ul.am-tabs a {
    padding: 0.4em 0.5em;
  }
  ul.am-tabs li {
    margin: 0 0.2em 0 0;
  }
  ul.am-tabs > li {
    margin-top: 0.2em;
  }
  ul.am-tabs {
    padding: 0 0.2em 0.2em 0.2em;
  }
}

/* END Tabs Narrow */
/* Receipt table from thanks.phtml */
.am-receipt {
  border: 1px solid #E0E0E0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 0.5em;
  border-collapse: collapse;
  box-shadow: 0 1px 1px #e0e0e0;
}
.am-receipt table {
  width: 100%;
}
.am-receipt td {
  background-color: #ededed;
  padding: 0.5em;
  border: 1px solid white;
}
.am-receipt th {
  font-weight: bold;
  padding: 0.5em;
}
@media all and (max-width: 500px) {
  .am-receipt th {
    padding: 0;
    font-weight: normal;
    font-size: 80%;
  }
  .am-receipt .am-receipt-terms {
    font-size: 80%;
  }
}
.am-receipt td.am-receipt-total {
  background-color: #d3dce3;
}
.am-receipt td.am-receipt-terms {
  background: none;
}
.am-receipt td.am-receipt-indent {
  background: none;
}
.am-receipt .am-receipt-row-delimiter td {
  background: none;
}
.am-receipt .am-receipt-price {
  width: 20%;
  text-align: right;
}
.am-receipt .am-receipt-unit-price {
  width: 20%;
  text-align: right;
}
.am-receipt .am-receipt-qty {
  width: 10%;
  text-align: right;
}
.am-receipt .am-receipt-discounted-price {
  text-decoration: line-through;
  color: red;
}

/* Common Form Elements */
a.button {
  display: inline-block;
  text-decoration: none;
}

a.button,
input[type=button],
input[type=submit] {
  background: url("../img/form-button-bg.png") repeat-x top left #e8e8e8;
  border: 1px solid #ccc;
  padding: 0.5em 1.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
}

a.button:hover,
a.button.active,
input[type=button]:hover,
input[type=submit]:hover,
input[type=button].active,
input[type=submit].active {
  cursor: pointer;
  border-color: #688296;
  background-image: url("../img/form-button-hover-bg.png");
  background-color: #4e80a6;
  color: white;
  text-shadow: 0 1px 1px #688296;
}

input[type=button]:active,
input[type=submit]:active {
  cursor: pointer;
  background: url("../img/form-button-bg.png") repeat-x top left #e8e8e8;
  border: 1px solid #ccc;
  padding: 0.5em 1.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
}

input[type=button]:disabled,
input[type=submit]:disabled {
  color: #ccc;
  border: 1px solid #ccc;
  background: url("../img/form-button-bg.png") repeat-x top left #e8e8e8;
  text-shadow: none;
}

input:disabled,
input[readonly],
input[type=text][readonly]:focus {
  background: #e8e8e8;
  border: 1px solid #ccc;
  color: #ccc;
  box-shadow: none;
}

select,
textarea,
input[type=text],
input[type=password] {
  padding: 0.5em;
  border: 1px solid #c2c2c2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

button:focus,
textarea:focus,
select:focus,
input:focus {
  outline: none;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
  background-color: #ffffcf;
  border-color: #51a7e8;
  box-shadow: 0 0 2px #51a7e8;
}

select:focus {
  border-color: #51a7e8;
  box-shadow: 0 0 2px #51a7e8;
}

textarea.error,
input.error {
  background-color: #fce6e6;
  border: 1px solid #ba2727;
}

/* END Common Form Elements */
/* Form*/
.am-form {
  margin-bottom: 1em;
  /* support for form elements without the label */
  /* support for wide elements */
}
.am-form input, .am-form textarea, .am-form select, .am-form button {
  display: inline-block;
}
.am-form form {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px -1px #b0b0b0;
  background: #fff;
  margin: 0;
  padding: 0;
  text-align: left;
}
.am-form fieldset {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
}
.am-form fieldset legend {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0.5em 0;
  font-family: Arial;
  font-size: 120%;
  color: #333;
  white-space: nowrap;
  background: #ddd;
  border-bottom: 1px solid #d5d5d5;
  text-indent: 1em;
}
.am-form fieldset.am-adv-fieldset > legend {
  cursor: pointer;
  color: #3f7fb0;
}
.am-form fieldset.am-adv-fieldset > legend .am-adv-fieldset-lable {
  position: relative;
}
.am-form fieldset.am-adv-fieldset > legend .am-adv-fieldset-lable:after {
  border-bottom: 1px #9aa9b3 dashed;
  content: '';
  height: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  position: absolute;
}
.am-form fieldset.am-adv-fieldset-closed > legend .am-adv-fieldset-lable {
  font-weight: bold;
}
.am-form .row:first-child .element-title:first-child {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.am-form .row.disabled {
  opacity: .5;
}
.am-form .row.row-highlight {
  background: #ffe;
}
.am-form div.reqnote {
  clear: both;
  font-size: 80%;
  margin: 0.5em 0 0 1em;
}
.am-form div.row {
  border-bottom: 1px solid #ededed;
  margin: 0;
}
.am-form div.element-title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1em;
  background-color: #ededed;
}
@media all and (min-width: 500px) {
  .am-form div.element-title {
    background-color: transparent;
    width: 35%;
    float: left;
    text-align: right;
    padding: 0.5em 0.5em 1em 1em;
  }
}
.am-form div.element-title label {
  font-weight: bold;
  color: #555;
}
.am-form div.element-title .comment,
.am-form div.element-title .comment strong,
.am-form div.element-title .comment b {
  color: #777;
}
.am-form div.element {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1em;
}
@media all and (min-width: 500px) {
  .am-form div.element {
    margin-left: 35%;
    padding: 0.5em 1em 1em 0.5em;
  }
}
@media all and (max-width: 500px) {
  .am-form div.element input[type=text],
  .am-form div.element input[type=password],
  .am-form div.element input[type=submit],
  .am-form div.element textarea,
  .am-form div.element select {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.2em;
  }
}
.am-form div.row.no-label .element {
  margin: 0;
  padding: 0.5em 1em;
}
.am-form div.row.no-label div.element-title {
  width: 0;
  display: none;
}
.am-form div.row.row-wide .element {
  margin: 0;
  padding: 0.5em 1em;
}
.am-form div.row.row-wide .element-title {
  float: none;
  width: 100%;
  text-align: left;
  padding: 0.5em 1em;
}
.am-form textarea {
  overflow: auto;
}
.am-form input[type=text],
.am-form input[type=password],
.am-form select,
.am-form textarea {
  padding: 0.5em;
}
.am-form span.error,
.am-form span.required {
  color: #ba2727;
}
.am-form span.error {
  display: block;
}
.am-form input.error,
.am-form textarea.error,
.am-form select.error {
  border: 1px solid #ba2727;
}
.am-form select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}
.am-form span.mceEditor {
  display: block;
}

input.datepicker,
input[type=text].datepicker {
  background-image: url("../img/icons/calendar.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px;
}

.el-wide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

div.row:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.am-avatar-preview {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

/* Special Styles for Signup Form */
.am-signup-form input.valid {
  background: url("../img/icons/valid.png") white right center no-repeat;
}

.am-signup-form input.am-with-action.valid {
  background: url("../img/icons/valid.png") white 90% center no-repeat;
}

.am-signup-form input.am-product-qty.valid {
  background-image: none;
}

.am-aff-referred-by {
  text-align: center;
  color: #777;
}

/* Common styles */
.am-body-content {
  clear: both;
}

div.errors ul, ul.error, ul.errors {
  margin: 0 0 1em 0;
  padding: 0;
  background: #fcbdbd;
  border: 1px solid #faa7a7;
  color: #ba2727;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

div.errors ul li, ul.error li, ul.errors li {
  margin-left: 0px;
  padding: 0.5em 1em;
  list-style: none;
  text-align: left;
}

.error {
  color: #ba2727;
}

.am-signup-link {
  text-align: center;
  margin-top: 1em;
}

.am-copyright {
  margin: 1em 0 0 0;
  text-align: center;
  font-size: 75%;
}
.am-copyright a {
  text-decoration: none;
}

/* language choice select */
.am-lang-choice {
  float: right;
  line-height: 24px;
}
.am-lang-choice select {
  padding: 0.2em;
}

/* Form Login */
.am-signup-login-form-container {
  z-index: 150;
  position: absolute;
  margin: 0 auto;
  width: 754px;
  background-color: white;
  border: solid 3px #ccc;
  padding: 20px;
}

.am-login-form,
.am-sendpass-form {
  margin-bottom: 1em;
  margin: 0 auto;
  max-width: 350px;
}
@media all and (min-width: 500px) {
  .am-login-form,
  .am-sendpass-form {
    width: 350px;
  }
}
.am-login-form legend,
.am-sendpass-form legend {
  text-indent: 0;
  text-align: center;
}
.am-login-form input[name=login],
.am-login-form input[name=amember_login],
.am-sendpass-form input[name=login],
.am-sendpass-form input[name=amember_login] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/icons/users.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 30px;
  width: 100%;
}
.am-login-form input[name=amember_pass],
.am-sendpass-form input[name=amember_pass] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/icons/key.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 30px;
  width: 100%;
}

.am-popup .am-login-form legend,
.am-popup .am-sendpass-form legend {
  display: none;
}
.am-popup .am-login-form form,
.am-popup .am-sendpass-form form {
  border: none;
  box-shadow: none;
}
.am-popup .am-login-form .row,
.am-popup .am-sendpass-form .row {
  border: none;
}
.am-popup .am-login-form .row .element-title,
.am-popup .am-sendpass-form .row .element-title {
  background: none;
}
.am-popup .am-login-form-wrapper,
.am-popup .am-sendpass-form-wrapper {
  margin: 0 -20px;
}

.am-sendpass-form-wrapper {
  display: none;
}

.am-form-login-switch {
  margin-left: 0.5em;
}

#am-form-login-remember {
  margin-top: 0.5em;
  display: block;
}

/* END Form Login */
.agreement {
  font-size: 8pt;
  white-space: pre-wrap;
  max-height: 300px;
  overflow: auto;
}

#mask {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  -moz-opacity: 0.5;
  opacity: .50;
  filter: alpha(opacity=50);
  background-color: #CCC;
  width: 100%;
  height: 100%;
  zoom: 1;
}

.am-active-invoice {
  padding: 0.5em;
  border: 1px solid #EDEDED;
  margin-bottom: 0.5em;
}
.am-active-invoice .am-active-invoice-num {
  font-weight: bold;
}
.am-active-invoice .am-active-invoice-terms {
  font-style: italic;
}
.am-active-invoice .am-active-invoice-cancel {
  color: gray;
}
.am-active-invoice .am-active-invoice-product {
  color: gray;
}
.am-active-invoice .am-active-invoice-product-list {
  margin: 0 0 0 2em;
}
.am-active-invoice .am-active-invoice-product-list li {
  list-style-type: disc;
}

.am-list {
  margin-bottom: 1em;
  margin-left: 2em;
}
.am-list li {
  list-style-type: disc;
}

ul.am-widget-list li {
  list-style-type: none;
}

.small {
  font-size: small;
  font-style: italic;
}

.am-brick-product-popup-cats {
  background: #eee;
  padding: 0.5em;
  margin-bottom: 1em;
}

.am-brick-product-popup-cat-active {
  background: white;
}

.am-product-title {
  font-weight: bold;
}

.am-product-desc {
  font-size: small;
  font-style: italic;
  display: block;
}

.am-paysystem-title {
  font-weight: bold;
}

.am-paysystem-desc {
  font-size: small;
  font-style: italic;
  display: block;
}

.ajax-link,
.local-link,
.local {
  text-decoration: none;
  position: relative;
}

.ajax-link:after,
.local-link:after,
.local:after {
  border-bottom: 1px #9aa9b3 dashed;
  content: '';
  height: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  position: absolute;
}

.am-reuse-card-confirmation {
  font-size: large;
}

.am-thanks-awaiting-refresh {
  margin-top: 20px;
  color: gray;
}

.am-form div.am-element-recaptcha {
  margin-left: 0;
  text-align: center;
}

.am-form div.am-element-recaptcha > div {
  display: inline-block;
}

/* icons */
.glyph {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../img/sprite/icon.png");
  background-repeat: no-repeat;
  background-position: left center;
}

#EmailCode {
  background: #FFFFCF;
  font-size: 1.2rem;
  line-height: 150%;
}

.am-switch-reveal {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -24px;
  cursor: pointer;
  vertical-align: middle;
}

.am-switch-reveal-off {
  background: url("../img/eye-off.png");
}

.am-switch-reveal-on {
  background: url("../img/eye.png");
}

.am-flash {
  display: none;
}

.am-flash-mask {
  position: fixed;
  z-index: 500;
  opacity: 0.8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #eee;
}

.am-flash-content {
  position: fixed;
  z-index: 501;
  top: 20%;
  left: 50%;
  margin-left: -140px;
  width: 280px;
}

.am-flash-content-message {
  background: #dfe8f0;
  border: 1px solid #ccddeb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em 1em;
}

.am-flash-content-error {
  background: #fcbdbd;
  border: 1px solid #faa7a7;
  color: #ba2727;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em 1em;
}

/* outline a block in member area */
.am-block {
  color: #666;
  background: #fff;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 0 1px 1px #e0e0e0;
}
.am-block ul {
  margin: 0;
  padding: 0;
}
.am-block li {
  list-style-type: none;
  margin: 0 0.3em 0 0;
}

.am-block#drop-me {
  border-color: #e34b3d;
}

#drop-me-head {
  color: #e34b3d;
}

/* am-info is a notice on page with border and outlined by color */
.am-info {
  background: #dfe8f0;
  border: 1px solid #ccddeb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

.am-notification {
  background-color: #FFFFCF;
  border-color: #545454;
  color: #454430;
}

.am-block-nodata {
  text-align: center;
  padding: 2em;
  background: #edeef0;
  font-size: 1.2rem;
}

/* Invoice Summary on Signup Page */
.am-invoice-summary {
  color: #666;
  background: #fff;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 0 1px 1px #e0e0e0;
}
.am-invoice-summary table {
  width: 100%;
}
.am-invoice-summary td {
  padding: 0.2em 0.4em;
}
.am-invoice-summary .am-invoice-summary-price {
  text-align: right;
  width: 20%;
}
.am-invoice-summary .am-invoice-summary-item-qty {
  width: 1%;
}
.am-invoice-summary .am-invoice-summary-subtotal,
.am-invoice-summary .am-invoice-summary-discount,
.am-invoice-summary .am-invoice-summary-shipping,
.am-invoice-summary .am-invoice-summary-tax,
.am-invoice-summary .am-invoice-summary-total {
  text-align: right;
  font-size: 1.2rem;
}
.am-invoice-summary .am-invoice-summary-row-subtotal,
.am-invoice-summary .am-invoice-summary-row-discount,
.am-invoice-summary .am-invoice-summary-row-shipping,
.am-invoice-summary .am-invoice-summary-row-tax,
.am-invoice-summary .am-invoice-summary-row-total {
  font-size: 1.2rem;
}
.am-invoice-summary .am-invoice-summary-item {
  border-bottom: 1px dashed #e0e0e0;
}
.am-invoice-summary .am-invoice-summary-item.am-invoice-summary-item-last {
  border-bottom: none;
}
.am-invoice-summary tr.am-invoice-summary-delimeter td {
  padding: 0;
}

.am-popup {
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
  position: absolute;
  text-align: left;
  z-index: 10001;
  display: none;
  background-color: white;
  border-width: 3px 0;
  border-color: #ccc;
  border-style: solid;
  min-width: 320px;
  box-sizing: border-box;
}
@media all and (min-width: 321px) {
  .am-popup {
    border-width: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}
.am-popup .am-popup-close-icon {
  display: inline-block;
  background: url("../img/modal-close.png");
  width: 12px;
  height: 12px;
  float: right;
  text-decoration: none;
}
.am-popup .am-popup-header {
  font-size: 1.1rem;
  font-weight: bold;
  overflow: hidden;
  margin: -10px -20px 1em -20px;
  background: #eee;
  padding: 1em;
}

/* Uploader */
.upload-control {
  display: inline-block;
}
.upload-control .upload-control-upload {
  background: url("../img/form-button-bg.png") repeat-x top left #e8e8e8;
  border: 1px solid #ccc;
  padding: 0.5em 1.2em;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
}
.upload-control .upload-control-upload.upload-control-reupload {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.upload-control .upload-control-browse {
  display: inline-block;
  background: url("../img/form-button-bg.png") repeat-x top left #e8e8e8;
  border: 1px solid #ccc;
  border-left: none;
  padding: 0.5em 1.2em;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  color: #555960;
  text-shadow: 0 -1px 1px #c7c8c9;
  cursor: pointer;
}
.upload-control .upload-control-upload.hover, .upload-control .upload-control-browse.hover {
  border-color: #688296;
  background-image: url("../img/form-button-hover-bg.png");
  background-color: #e34b3d;
  color: white;
  text-shadow: 0 -1px 1px #688296;
}
.upload-control span.uploading {
  background: url("../img/ajax-loader-small.gif") no-repeat left center;
  padding-left: 20px;
}
.upload-control .upload-control-upload.upload-control-upload-single {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* END Uploader */
.morris-hover {
  position: absolute;
  z-index: 1000;
}

.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}

.am-donation {
  padding: 0.5em 0;
}
.am-donation .am-donation-recurring {
  padding-left: 1em;
}
.am-donation .smileyface {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50px;
  display: block;
  border: 1px solid #333;
  background: rgba(255, 230, 50, 0.28);
}
.am-donation .eyes {
  width: 4px;
  height: 8px;
  background: #333;
  border-radius: 5px/10px;
  position: absolute;
  top: 10px;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
}
.am-donation .eyes.lefteye {
  left: 12px;
}
.am-donation .eyes.righteye {
  right: 12px;
}
.am-donation .smile {
  width: 30px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
  border-radius: 0 0 20px 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
}
.am-donation .am-donation-smile-wrap {
  overflow: hidden;
}
.am-donation .am-donation-smile {
  width: 60px;
  float: right;
}
.am-donation .am-donation-slider {
  margin-right: 80px;
  padding: 0 1em;
}
.am-donation .ui-slider-range {
  background: #71BD26 !important;
}
.am-donation .ui-slider-handle {
  border-color: #71BD26 !important;
}
.am-donation a:focus {
  outline: none;
}
.am-donation .am-donation-total {
  font-size: 130%;
  font-style: italic;
  margin-bottom: 0.8em;
}
.am-donation .am-donation-total-amount {
  font-weight: bold;
}
.am-donation .am-donation-smile-wrap .ui-slider {
  height: 4px;
  border: 0;
  background: #eee;
}
.am-donation .am-donation-smile-wrap .ui-slider-handle {
  height: 1.6em;
  width: 1.6em;
  top: -0.8em;
  margin-left: -0.8em;
  border-radius: 0.8em;
  box-shadow: 0 1px 1px #eee;
  cursor: move;
  background: #fefefe;
}
.am-donation .am-donation-smile-wrap .ui-slider-handle:hover {
  background: #fefefe;
}

.am-video-wrapper {
  text-align: center;
  background: black;
}

.am-video {
  position: relative;
  overflow: hidden;
}

.am-video-poster {
  overflow: hidden;
}

.am-video-poster-icon {
  position: absolute;
  background: url("../img/play.png") center center no-repeat;
  height: 100%;
  width: 100%;
}

.am-video-poster-icon:hover {
  background-image: url("../img/play-h.png");
}
