<?php
$lists = $di->newsletterListTable->getAllowed($this->user ? $this->user : $di->user);
$subscribed = $di->newsletterUserSubscriptionTable->getSubscribedIds($this->user ? $this->user->pk() : $di->auth->getUserId());
foreach ($lists as $k => $list) {
    if ($list->hide) unset($lists[$k]);
}
if (!$lists) return; // hide block
?>
<ul class="am-widget-list am-list-newsletters">
<?php
foreach ($lists as $l):
    $id = $l->pk();
    $checked = in_array($id, $subscribed) ? 'checked="checked"' : '';
?>
    <li class="am-list-newsletters-item"><label for="list-<?php echo $id?>">
            <input type="checkbox" class="newsletter-list" name="<?php echo $id ?>" value="1" <?php echo $checked ?> id="list-<?php echo $id ?>" />
            <?php p(___($l->title)) ?></label>
    </li>
<?php endforeach; ?>
</ul>
<script type="text/javascript">
jQuery(document).ready(function($) {
    jQuery("input.newsletter-list").change(function(){
        var vars = {};
        vars[this.name] = this.checked ? 1 : 0;
        <?php if (!empty($this->s) && !empty($this->e)): ?>
        vars.s = "<?php j($this->s); ?>";
        vars.e = "<?php j($this->e); ?>";
        <?php endif // end of unsubscribe-without-login code ?>
        jQuery.post(window.rootUrl + "/newsletter/ajax/update-subscription", vars, function(){
            amFlashMessage('<?php __e('Status of your subscription has been changed.') ?>');
        });
    });
    jQuery("#checkbox-unsubscribed").change(function(){
        jQuery("[id^=member-main-newsletter]").toggle( ! this.checked);
        jQuery("#member-main-newsletter").find('[type=checkbox]').prop('checked', false);
    });
    if (jQuery("#checkbox-unsubscribed:checked").length)
    {
        jQuery("[id^=member-main-newsletter]").hide();
        jQuery("#member-main-newsletter").find('[type=checkbox]').prop('checked', false);
    }
});
</script>