body {
    font-family: $font-bodytext;
    -webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;

    * {
        box-sizing: border-box;
    }
}

.the-toolbar {
    display: block;
    width: 100%;
    height: 32px;
    background: color(primary-medium);
    color: rgba(#FFF,0.8);
    text-align: right;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50000;
        
    .content-wrapper {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        height: 32px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        
        a {
            display: inline-block;
            line-height: 32px;
            font-size: 0.875rem;
            font-weight: normal;
            color: rgba(#FFF,0.8);
            margin-left: 1.5rem;
            text-transform: uppercase;
            
            &:hover {
                color: color(secondary);
                transition: color 0.2s ease-out;
            }
            
            
            &.email,
            &.phone {
                &:before {
                    display: inline-block;
                    font-family: 'FontAwesome';
                    margin-right: 0.35rem;
                    font-size: 0.85rem;
                    line-height: 32px;
                }
            }
            
            &.email {
                &:before {
                    content: "\f0e0";
                    font-size: 0.65rem;
                    vertical-align: middle;
                    margin-bottom: 2px;
                }
            }
            
            &.phone {
                &:before {
                    content: "\f095";
                }
            }
        }
    }
    
    @include responsive($max-width: '560px') {
        .content-wrapper {
            padding: 0;
            text-align: center;
            
            a {
                margin-left: 0.5rem;
            }
        }
    }
}

#wpadminbar {
    display: none;   
}
.mk-grid {
    max-width: 100%;
}

.internal-page-wrapper {
    padding-top: 0;
}

#theme-page {
    padding: 3rem 1rem;
    max-width: 1140px;
    margin: 0 auto;
}

.internal-page-wrapper {
    #theme-page {
        padding-top: 0;
    }
    
    .theme-page-wrapper,
    .theme-page-wrapper .theme-content:not(.no-padding) {
        padding-top: 0 !important;
        
        @include responsive($max-width: '960px') {
            padding: 0 !important;
        }
    }
}

body.home {
    #theme-page {
        padding: 0;
        
        @include responsive($max-width: '520px') {
            padding-top: 190px !important;
        }
    }
}

.unslider + #theme-page {
    padding-top: 0;
}

#theme-page .theme-page-wrapper.left-layout #mk-sidebar, 
#theme-page .theme-page-wrapper.right-layout .theme-content {
    box-sizing: border-box;
}

.theme-page-wrapper.right-layout .theme-content, 
.theme-page-wrapper.left-layout .theme-content {
    width: calc(100% - 30rem);
}


#theme-page .theme-page-wrapper .theme-content {
    padding-top: 0;
    box-sizing: border-box;
}

#theme-page .theme-page-wrapper {
    margin: 0;
}

#theme-page .theme-page-wrapper .theme-content {
    padding-top: 0;
    padding-bottom: 0;
    
}

#mk-header-1 {
    
}

#mk-footer-unfold-spacer {
    display: none;
}

.theme-page-wrapper #mk-sidebar.mk-builtin,
#mk-sidebar {
    width: 30rem;
    height: 100%;
    background: color(primary-medium);
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed !important;
    right: 0;
    top: rem(90px);
    
    
    .menu-tools-menu-container {
        margin-bottom: 1.5rem;
    }
    
    .widget + .widget {
        margin-top: 3rem;
    }
    
    blockquote {
        padding: 50px 0 0 0;
        background: none;
    }

    blockquote:before {
        position: absolute;
        content: "\f10d";
        display: block;
        color: #FFF;
        left: 50%;
        top: 0;
        font-size: 32px;
        margin-left: -1rem;
    }

    blockquote.left {
        float: left;
        margin-left: 0;
        margin-right: 20px;
        text-align: right;
        width: 33%
    }

    blockquote.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
        text-align: left;
        width: 33%
    }
    
    &:after {
        @extend %before-after-absolute;
        width: 100%;
        height: 800%;
        background: color(primary-medium);
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    @include responsive($max-width: '1140px') {
        position: relative !important;
        right: 0;
        top: 0;
    }
}


#mk-theme-container {
    overflow: hidden;
}

.dashboard-opened {
    #mk-theme-container {
        left: 0;
    }
}

.header-logo {
    img {
        &,
        &.mk-desktop-logo {
            width: rem(240px);
            height: auto;
        }
    }
}

.mk-header {
    .mk-header-bg {
        background: #FFF;
    }
    
    .mk-grid {
        max-width: 1140px;
    }
}


.mk-page-introduce {
    background: none;
    
    .page-title {
        font-weight: 600 !important;
        letter-spacing: -2px !important;
        text-align: center;
    }
}

#theme-page .theme-page-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.widget_nav_menu {
    ul {
        &.menu {
            border: none;
            border-radius: 0;
            
            
            li {
                border: none;
                
                a {
                    font-size: 1.25rem;
                }
            }
        }
    }
}

#menu-call-to-action {
    &.menu {
        li {
            &.menu-item {
                margin-bottom: 1.25rem;

                a {
                    @extend %button-default;
                    @extend %button-default.block;
                    @extend %button-default.large;
                    @extend %button-primary;
                    font-weight: normal;

                    &:before {
                        display: none;
                    }
                }
                
                &:first-child {
                    a {
                        @extend %button-secondary;
                    }
                }
            }
        }
    }
    
    @include responsive($max-width: '990px') {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

#mk-boxed-layout {
    height: 100%;
}

#mk-theme-container {
    min-height: 100%;
    position: relative;
    padding-bottom: 376px;
    padding-top: 112px;
    
}

#mk-footer .footer-wrapper {
    padding-top: 20px;
    padding-bottom: 0;
}

#mk-footer {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 50;
    
    .mk-grid {
        max-width: 1140px;
        margin: 0 auto;
    }
    
    #sub-footer {
        text-align: center !important;
        
        .mk-footer-copyright {
            display: inline-block;
            width: 100%;
            letter-spacing: 0;
        }
    }
    
    .footer-logo {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
        
        img {
            display: inline-block;
            width: 65%;
            max-width: rem(300px);
            height: auto;
        }
    }
    
    p {
        display: block;
        font-size: 0.85rem;
        line-height: 1.25em;
        padding-bottom: 1rem;
    }
    
    .widget {
        margin-bottom: 1rem;
    }
    
    .align-center {
        margin-bottom: 0 !important;
    }
    
    @include responsive($media: 'tablet-landscape') {
        .mk-grid {
            text-align: center;
            
            .mk-col-1-3 {
                width: 100%;
                float: none;
                padding: 0;
            }
        }
        
        #menu-footer-menu {
            text-align: center;
            padding: 1rem 0 2rem 0;
            width: 80%;
            margin: 0 auto;
            
            li {
                display: inline-block;
                margin-right: 1.5rem;
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.scroll-down-arrow {
    display: none;
    @include scale(1);
    display: none;
    width: 4rem;
    height: 4rem;
    background: rgba(color(primary),0.65);;
    position: fixed;
    bottom: 0.75rem;
    left: 50%;
    margin-left: -2rem;
    z-index: 5000;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    
    &:before {
        display: block;
        width: 100%;
        height: 100%;
        font-family: FontAwesome;
        content: '\f063';
        line-height: 4rem;
        text-align: center;
        font-size: 1.25rem;
    }
    
    &:hover {
         @include scale(1.2);
        transition: transform 0.5s ease-out;
    }
    
    @include responsive($max-height: '768px') {
        display: none !important;   
    }
}


@include responsive($max-width: '2200px') {
    .theme-page-wrapper.right-layout .theme-content, 
    .theme-page-wrapper.left-layout .theme-content {
        width: calc(100% - 24rem);
    }


    #theme-page .theme-page-wrapper .theme-content {
        
    }

    .theme-page-wrapper #mk-sidebar.mk-builtin,
    #mk-sidebar {
        width: 24rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@include responsive($max-width: '1860px') {
    #theme-page .theme-page-wrapper .theme-content {
        
    }
}

@include responsive($max-width: '1600px') {
    .theme-page-wrapper.right-layout .theme-content, 
    .theme-page-wrapper.left-layout .theme-content {
        width: calc(100% - 20rem);
    }


    #theme-page .theme-page-wrapper .theme-content {
        
    }

    .theme-page-wrapper #mk-sidebar.mk-builtin,
    #mk-sidebar {
        width: 20rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@include responsive($max-width: '1460px') {
    #theme-page .theme-page-wrapper .theme-content {
        
    }

    .theme-page-wrapper #mk-sidebar.mk-builtin,
    #mk-sidebar {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

@include responsive($max-width: '1140px') {
    .theme-page-wrapper.right-layout .theme-content, 
    .theme-page-wrapper.left-layout .theme-content {
        width: calc(100% - 16rem);
    }


    #theme-page .theme-page-wrapper .theme-content {
        
    }

    .theme-page-wrapper #mk-sidebar.mk-builtin,
    #mk-sidebar {
        width: 16rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@include responsive($max-width: '990px') {
    #menu-call-to-action {
        width: 100%;
    }
}

@include responsive($max-width: '960px') {
    .theme-page-wrapper {
    }

    #theme-page .theme-page-wrapper.right-layout .theme-content {
        padding-top: 0 !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .theme-page-wrapper #mk-sidebar.mk-builtin,
    #mk-sidebar {
        text-align: center;

        #menu-call-to-action {
            margin: 0 auto;
        }
    }
}

@include responsive($max-width: '768px') {
    #theme-page {
        padding-top: 4rem !important;
    }
    
    .internal-page-wrapper {
        #theme-page {
            padding-top: 0 !important;
        }
    }
    
    .home #theme-page {
        padding-top: 0 !important;
    }
}

#roll {
    position: relative;
    width: 100%;
    height: 700px;
}

#wrapper {
    overflow: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

#steps {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.step {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 100%;
    left: 0;

    /* optional transition */
    transition: top .5s;
}

.step.prev {
    top: -100%;
}

.step.next {
    top: 100%;
}

.step.curr {
    top: 0;
}

#theme-page .theme-page-wrapper .theme-content {
    padding-left: 15px;
    padding-right: 15px;
}

.header-style-1 .mk-header-padding-wrapper, .header-style-2 .mk-header-padding-wrapper, .header-style-3 .mk-header-padding-wrapper {
    padding-top: 0;
}
