.slider-center {
    text-align: center;
    
    img {
        display: inline-block;
    }
}

%button-default {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    
    &,
    a {
        text-transform: uppercase;
        font-family: $font-alternate !important;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.2em;
        padding: 0.75rem 1.25rem;
        color: #FFF;
        
        &:hover {
            color: #FFF;
        }
    }
    
    &.block {
        display: block;
        width: 100%;
    }
    
    &.large {
        font-size: 1.25rem;
        font-weight: 600;
        padding: 1rem 1.5rem;
    }
}

%button-primary {
    background: color(secondary);
}

%button-secondary {
    background: color(accent);
}

.button-primary {
    @extend %button-default;
    @extend %button-primary;
}

.button-secondary {
    @extend %button-default;
    @extend %button-secondary;
}

//Tabs
.twitter-testimonials {
    padding-bottom: 3rem;
    position: relative;
    
    p {
        margin-top: 2.5rem;
        font-size: 1.65rem !important;
        font-weight: 200;
        font-family: $font-alternate;
    }
    
    .vc_icon_element-icon {
        &:before {
            color: color(secondary) !important;
            position: absolute;
            font-size: 2.5rem;
            left: 50%;
            top: 3.5rem;
            margin-left: -1.5rem;

        }
    }
    
    @include responsive($max-width: '1440px') {
        padding-bottom: 3rem;

        p {
            margin-top: 2rem;
            
        }

        .vc_icon_element-icon {
            &:before {
               top: 2.75rem;

            }
        }

    }
        
    @include responsive($max-width: '1280px') {
        p {
            margin-top: 2.5rem;
            font-size: 19px !important;
        }

        .vc_icon_element-icon {
            &:before {
                font-size: 2.25rem;
                top: 1.85rem;
            }
        }
    }

    @include responsive($max-width: '1100px') {
        p {
            font-size: 18px !important;
        }
        
        .vc_icon_element-icon {
            &:before {
                top: 1.25rem;

            }
        }
    }

    @include responsive($max-width: '1024px') {
    }

    @include responsive($max-width: '765px') {
    }

    @include responsive($max-width: '560px') {
        padding: 1rem !important;

        p {
            font-size: 17px !important;
        }
    }
    
    
}

.vc_tta-container {
    position: static;
    
    .vc_pagination {
        width: 100%;
        height: 2rem;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-left: 0;
        
        .vc_pagination-item {
            list-style: none;
            display: inline-block;
            padding: 0 0.35rem;
            
            a {
                display: block;
                width: 0.75rem;
                height: 0.75rem;
                margin-top: 0.375rem;
                background: #ebebeb;
                cursor: pointer;
                border-radius: 100%;
                
                &:hover {
                    box-shadow: inset 0 0 0 2px color(secondary);
                    transition: box-shadow 0.15s ease-out;
                }
            }

            &.vc_active {
                a {
                    background: color(secondary);
                }
            }

        }
    }

    .vc_tta-panels {
        .vc_tta-panel {
            display: none;
            
            .mk-text-block {
                display: block;
                width: 85%;
                margin: 0 auto;
                font-size: 1.5rem;
                line-height: 1.65em;
                
                p {
                    font-size: 1.5rem;
                    line-height: 1.65em;
                    font-weight: 300;
                }
            }
        
            &.vc_active {
                display: block;
            }
        }
    }
}

//Menues

.main-navigation-ul {
    .menu-item {
        a {
            text-transform: capitalize !important;
            font-family: $font-alternate;
            letter-spacing: 0 !important;
        }
    }
}

.mk-responsive-wrap {
    position: fixed;
    top: 110px;
    left: 0;
    z-index: 5000 !important;
}

body.home {
    .mk-responsive-wrap {
        top: 190px;
    }
}

.mk-fullscreen-nav-wrapper {
    background-image: url('/wp-content/themes/jupiter-child/resources/images/s5logo_white.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80% !important;
    height: 200px !important;
    
    img {
        display: none;
    }
}

.menu-secondary-menu-container,
.menu-brokerage-solutions-container,
.menu-professional-tools-container,
.menu-alternative-investments-container {
    display: block;
    width: 100%;
    height: rem(90px);
    background-color: color(primary-lighter);
    position: relative;
    z-index: 500;
    box-sizing: border-box;
    padding: 0;
    left: 0;
    top: 0;
    
    .secondary-menu-toggle {
        display: none;
        width: 100%;
        height: 2.5rem;
        position: absolute;
        top: 50%;
        left: 0;
        margin: -1.25rem 0 0 0;
        color: #FFF;
        line-height: 2.5rem;
        box-sizing: border-box;
        font-size: 0.875rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        cursor: pointer;

        &:before {
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;
            font-family: 'vc_entypo';
            font-size: 1.25rem;
            line-height: 2.5rem;
            content: '\2b';
            color: #FFF;
            text-align: center;
            font-weight: normal;
        }
        
        &:hover {
            transition: color 0.2s ease-out;
            
            &:before {
                content: '\2b';
            }
        }
        
        &.is-open {
            color: rgba(#FFF,0.5);
            
            &:before {
                content: '\2796';
                color: rgba(#FFF,0.5);
            }
            
            &:hover {
                color: #FFF;
                
                &:before {
                    color: #FFF;
                }
            }
        }
    }
    
    &:after {
        display: block;
        content: "";
        width: 500%;
        height: rem(90px);
        background-color: color(primary-lighter);
        position: absolute;
        top: 0;
        left: -250%;
        z-index: -1;
    }
    
    #menu-secondary-menu,
    .menu {
        display: table;
        width: 100%;
        max-width: 1140px;
        height: rem(90px);
        padding: 0;
        margin: 0 auto;
        text-align: center;
        
        li {
            &.menu-item,
            & {
                display: table-cell;
                height: rem(90px);
                list-style: none;
                line-height: 1.25em;
                text-align: center;
                margin: 0;
                vertical-align: middle;
                text-align: center;
                position: relative;
                box-sizing: border-box;
                padding: 0 0.5rem;
                
                a {
                    display: inline;
                    width: 100%;
                    height: 100%;
                    font-family: $font-alternate;
                    color: color(primary);
                    font-size: 1.35rem;
                    line-height: 1.075em;
                    vertical-align: middle;
                    font-weight: normal;
                    position: relative;
                    text-align: center;
                    box-sizing: border-box;
                    
                }
                
                &:hover {
                    a {
                        color: #FFF;
                        transition: color 0.2s ease-out;
                    }
                }
                
                &.current-menu-item,
                &.current-page-ancestor {
                    a {
                        color: #FFF;
                    }
                    
                    &:hover {
                        a {
                            color: #FFF;
                            transition: color 0.2s ease-out;
                        }
                    }
                }
                
                .sub-menu {
                    display: none;
                    width: auto;
                    height: auto;
                    background: color(primary);
                    position: absolute;
                    top: rem(90px);
                    left: -0.4666666rem;
                    text-align: left;
                    z-index: 10;
                    text-align: center;
                    padding: 1.5rem 0;
                    opacity: 0;
                    transition: opacity 0.35s ease-out;
                    transition-delay: 0.0125s;
                    
                    li {
                        &.menu-item {
                            width: auto;
                            display: block;
                            text-align: left;
                            padding: 0.75rem 1.5rem;
                            margin: 0;
                            
                            a {
                                display: block;
                                width: auto;
                                min-width: auto;
                                max-width: auto;
                                color: #FFF;
                                text-align: left;
                                white-space: nowrap;
                                
                                &:after {
                                    display: none;
                                }
                            }
                            
                            &.current-menu-item {
                                a {
                                    position: relative;

                                    &:after {
                                        @extend %before-after-absolute;
                                        transform: none;
                                        width: 100%;
                                        height: 4px;
                                        background: rgba(#000, 0.2);
                                        top: auto;
                                        right: 0;
                                        bottom: 2px;
                                        left: auto;
                                        margin: 0;
                                        z-index: 50;
                                    }
                                }
                            }
                        }
                    }
                }
                
                &:hover {
                    .sub-menu {
                        display: block;
                        opacity: 1;
                        transition: opacity 0.35s ease-out;
                        transition-delay: 0.0125s;
                    }
                }
            }    
        }
    }
    
    @include responsive($max-width: '860px') {
        height: rem(72px);
        
        &:after {
            height: rem(72px);
        }
        
        #menu-secondary-menu,
        .menu {
            height: rem(72px);

            li.menu-item,
            & {
                height: rem(72px);
                padding-bottom: 6px;
                
                a {
                    font-size: 1.125rem;
                }

                .sub-menu {
                    height: 3rem;
                    top: 3rem;
                    margin-left: 0.75rem;

                    li.menu-item {
                        margin-right: 1rem;
                    }

                    &:after {
                        height: 3rem;
                    }
                }
            }
        }
    }
    
    @include responsive($max-width: '600px') {
        
        .secondary-menu-toggle {
            display: block;
            opacity: 1;
            transition: opacity 0.5s ease-out;
            transition-delay: 0.02s;
        }
        
        #menu-secondary-menu,
        .menu {
            display: none;
            width: auto;
            height: auto;
            background: color(primary-lighter);
            margin-top: 60px;
            
            
            li {
                &.menu-item,
                & {
                    display: block;
                    height: auto;
                    background: color(primary-lighter);
                    padding: 0.5rem 0;
                    
                    a {
                        text-align: center;
                        padding: 0.5rem 0;
                        
                    }
                    
                    &:last-child {
                        padding-bottom: 1.25rem;
                    }
                    
                    &:hover {
                        .sub-menu {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &.is-open {
            #menu-secondary-menu,
            .menu {
                display: block;
                width: 100%;
                margin-top: 0;
                position: absolute;
                top: rem(72px);
                left: 0;
                z-index: 5;
                margin-left: -0.5rem;
                
                &:after {
                    display: block;
                    content: "";
                    width: 200%;
                    height: 100%;
                    position: absolute;
                    left: -90%;
                    top: 0;
                    background-color: color(primary-lighter);
                    z-index: -1;
                }
            }
        }
    }
}

.js-main-nav {
    position: absolute;
    right: 3.25rem;
    bottom: -2.5rem;
}

#menu-footer-menu {
    li {
        &.menu-item {
            text-align: center;

            a {
                display: block;
                width: 100%;
                font-size: 1rem;
                line-height: 1.2em;
                padding: 0;
                text-align: center;
            }
        }
    }
}

.widget .widget_nav_menu .mk-in-viewport {
    padding: 0 !important;
}

.widget-sub-navigation, .widget_nav_menu, .widget_product_categories {
    padding: 0;
}

.widget, .wpb_content_element {
    margin-bottom: 0;
}

.menu-landing-page-container {
    display: block;
    width: 100%;
    height: rem(80px);
    background: color(secondary);
}

#menu-landing-page {
    @extend %clearfix;
    display: block;
    width: 100%;
    max-width: 1140px;
    height: rem(80px);
    text-align: center;
    margin: 0 auto;
    
    li {
        &.menu-item {
            display: table;
            float: left;
            width: 33.333333%;
            padding: 0;
            list-style: none;
            height: rem(80px);
            text-align: center;
            vertical-align: top;
            margin: 0;
            
            a {
                display: table-cell;
                color: #FFF;
                font-family: $font-alternate;
                width: 100%;
                height: 100%;
                height: rem(80px);
                padding: 0 0.75rem;
                line-height: 1em;
                font-size: 1.75rem;
                vertical-align: middle;
                box-sizing: border-box;
                
                &:before {
                    display: none;
                }
            }
            
            &:last-child {
                margin-right: 0;
            }
            
            &:hover {
                background: rgba(color(secondary-medium),0.5);
            }
            
            &.is-active {
                background: color(secondary-medium);
            }
        }
    }
    
    @include responsive($max-width: '1024px') {
        li {
            &.menu-item {
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
    
    @include responsive($max-width: '870px') {
        li {
            &.menu-item {
                a {
                    font-size: 1.35rem;
                }
            }
        }
    }
    
    @include responsive($max-width: '780px') {
        li {
            &.menu-item {
                 word-wrap: break-word;
                
                a {
                    
                    
                }
            }
        }
    }
    
    @include responsive($max-width: '630px') {
        li {
            &.menu-item {
                
                a {
                    font-size: 1.15rem;
                }
            }
        }
    }
    
    @include responsive($max-width: '478px') {
        li {
            &.menu-item {
                
                a {
                    padding: 0;
                    font-size: 1rem;
                }
            }
        }
    }
}

//Grid 

.grid {
    *[class*="grid-"] {
        display: inline-block;
        margin-left: -4px;
        vertical-align: top;
        box-sizing: border-box;
        
        &:first-child {
            margin-left: 0;
        }
    }
    
    .grid-4-12 {
        width: 33.333333%;
    }
    
    .grid-8-12 {
        width: 66.666666%;
    }
    
    .grid-5-12 {
        width: 40%;
    }
    
    .grid-7-12 {
        width: 60%;
    }
    
    .grid-6-12 {
        width: 50%;
    }
}

//Landing Slides


.imageHolder {
    z-index: -2 !important;
}

.landing-page-main {
    width: 100%;
    height: rem(890px);
    overflow: hidden;
    color: #FFF;
    position: relative;

    ul, li {
        margin: 0;
        padding: 0;
    }

    p {
        color: #FFF;
        margin: 0;
        padding: 0;
    }
    
    h1,
    h2,
    h3 {
        font-family: $font-alternate;
    }

    .align-center {
        text-align: center !important;
    }

    .unslider-wrap {
        height: 100%;
    }

    .slide {
        width: 100%;
        height: rem(890px);
        opacity: 0;
        overflow: hidden;

        .slide-image {
            width: 100%;
            height: rem(548px);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin-top: -5px;

            img {
                
            }
            
            .parallax-image {
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
            }
        }
        
        .slide-disclaimer {
            position: absolute;
            left: 2rem;
            bottom: 1rem;
            z-index: 50;
            color: color(primary-lighter);
            font-size: 0.7rem;
            font-weight: 600;
            
            span {
                color: color(secondary);
            }
        }

        .content {
            @include translate(-50%,0);
            width: 100%;
            max-width: 1140px;
            height: 60%;
            min-height: 400px;
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 50%;

            .content-block {
                display: block;
                width: 100%;

                .c1,
                .c2 {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    position: relative;
                }
                
                .call-to-action {
                    
                    p {
                        margin-bottom: 2.5rem !important;
                    }
                    
                    .button-primary {
                        width: 100%;
                        height: rem(50px);
                        line-height:  rem(50px);
                        font-weight: 600;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
                
                .table-wrap {
                    display: table;
                    width: 100%;
                    height: 100%;
                    
                    .table-cell {
                        display: table-cell;
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;
                    }
                }

                *[class*="button-"] {
                    height: rem(50px);
                    line-height: rem(50px);
                    padding-top: 0;
                    padding-bottom: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                .tool-logo {
                    width: 60%;
                    margin: 1rem 0 0 20%;
                }

                .secondary-image {
                    height: 90%;
                    padding-top: 2rem;
                }

                .slide-title {
                    display: inline-block;
                    font-family: $font-alternate;
                    font-size: 2.5rem;
                    line-height: 1em;
                    padding-bottom: 0;
                    margin-bottom: 0 !important;
                }

                p {
                    font-size: 1.15rem;
                    line-height: 1.45rem;
                }

                &:nth-child(1) {
                    height: 35%;
                    bottom: 50%;

                    .c1 {
                        width: 33.333333%;
                        float: left;
                    }

                    .c2 {
                        width: 66.666666%;
                        float: right;

                        .c1,
                        .c2 {
                            width: 50%;
                            padding: 0 3rem;
                        }

                        .c1 {
                            &:after {
                                @include rotate(45);
                                display: block;
                                content: "";
                                width: 1.5rem;
                                height: 1.5rem;
                                position: absolute;
                                top: 50%;
                                right: -0.5rem;
                                margin-top: -0.75rem;
                                z-index: 2;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    height: 65%;
                    bottom: 0;

                    .c1 {
                        width: 33.333333%;
                        float: left;
                    }

                    .c2 {
                        width: 66.666666%;
                        float: right;
                    }
                }
            }
        }

        &.style-1 {
            .content-block {
                &:nth-child(1) {
                    .c2 {
                        .c1 {
                            background: color(secondary);

                            .slide-title {
                                width: 60%;
                                font-weight: 600;
                                font-size: 2.35rem;
                                line-height: 2.15rem;
                                margin: 0 auto;
                            }

                            &:after {
                                background: color(secondary);
                            }
                        }

                        .c2 {
                            background: darken(color(secondary), 7%);
                        }
                    }
                }

                &:nth-child(2) {
                    .c1 {
                        background: darken(color(primary), 18%);
                        padding: 3rem;

                        .tool-logo {
                            margin: 1rem 0 0 0;
                        }
                    }

                    .c2 {
                        background: darken(color(primary), 13%);
                        color: color(secondary);
                    }
                }
            }
        }

        &.style-2 {
            .content-block {
                &:nth-child(1) {
                    .c2 {
                        .c1 {
                            background: color(primary);

                            &:after {
                                background: color(primary);
                            }
                        }

                        .c2 {
                            background: darken(color(primary), 7%);
                        }
                    }
                }

                &:nth-child(2) {
                    .c1 {
                        width: 66.666666%;
                        background: darken(color(primary), 20%);
                        
                        img {
                            width: 85%;
                            height: auto;
                            margin-top: 5%;
                        }
                    }

                    .c2 {
                        width: 33.333333%;
                        background: #fff;
                        box-shadow: inset -1px -1px 0 0 #e6e6e6;
                        color: color(secondary);
                        padding: 4rem 2rem 2rem 2rem;

                        &.borders {
                            box-shadow: none;
                            border-right: 1px solid #e6e6e6;
                            border-bottom: 1px solid #e6e6e6;
                        }
                        
                        h3 {
                            margin-top: -1.5rem;
                        }

                        p {
                            width: 100%;
                            margin: 0 auto 0.5rem auto;
                            color: #767676;
                            font-size: 1.15rem;
                            font-weight: 200;

                            &.twitter-handle {
                                color: #5bbed6;
                                font-size: 1.15rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @include responsive($max-width: '1200px') {
        .slide {
            &.style-1 {
                .content-block {
                    &:nth-child(1) {
                        .c2 {
                            .c1 {

                                .slide-title {
                                    width: 100%;
                                }

                                &:after {
                                }
                            }

                            .c2 {
                            }
                        }
                    }

                    &:nth-child(2) {
                        .c1 {
                            padding: 2rem;

                            .tool-logo {
                                margin: 0;
                            }
                        }

                        .c2 {
                        }
                    }
                }
            }
        }
    }
    
    @include responsive($max-width: '1024px') {
        height: rem(768px);
        
        .slide {
            height: rem(768px);
            
            .slide-image {
                height: rem(400px);
                margin-top: 70px;
            }
            
            .content {
                height: 45%;
                
                .content-block {
                    .slide-title {
                        font-size: 2.125rem;
                    }

                    p {
                        font-size: 1.075rem;
                        line-height: 1.35rem;
                    }
                    
                    &:nth-child(1) {
                        
                        & > .c1 {
                            display: none;
                            width: 0;
                        }


                        & > .c2 {
                            width: 100%;
                            
                            
                            .c1 {
                                width: 40%;
                                padding: 2rem;
                            }
                            
                            .c2 {
                                width: 60%;
                                padding: 2rem;
                                box-shadow: 0 6px 0 0 color(primary);
                            }
                        }
                    }
                    
                    &:nth-child(2) {
                        
                        & > .c1 {
                            width: 100%;
                        }


                        & > .c2 {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    
    
    @include responsive($max-width: '639px') {
        .slide {
            .content {

                .content-block {
                    .slide-title {
                        font-size: 2rem;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    
    @include responsive($max-width: '580px') {
        .slide {
            .content {

                .content-block {

                    .slide-title {
                        font-size: 1.85rem;
                        line-height: 1em;
                    }

                    p {
                        font-size: 1.05rem;
                        line-height: 1.25rem;
                    }

                    
                }
            }
        }
        
    }
    
    @include responsive($max-width: '520px') {
        padding-top: rem(60px);
        display: none;
        
    }
}

//Unslider
.unslider {
    position: relative;
    
    .unslider-arrow {
        display: block;
        width: 3rem;
        height: 3rem;
        background: rgba(#000,0.15);
        text-indent: -30rem;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        margin-top: -1.5rem;
        overflow: hidden;
        z-index: 10;
        
        &.next {
            right: 1.5rem;
            display: none;
        }
        
        &.prev {
            left: 1.5rem;
            display: none;
        }
        
        &:hover {
            width: 3.75rem;
            height: 3.75rem;
            margin-top: -1.875rem;
            background: rgba(#000,0.25);
            transition: all 0.2s ease-out;
            
            &.next {
                right: 1.125rem;
            }

            &.prev {
                left: 1.125rem;
            }
        }
    }
    
    .unslider-nav {
        height: 0;
        overflow: hidden;
    }
}
