.landing-infographic {
    background: color(primary-darker);
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    ul {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        
        li {
            display: block;
            list-style: none;
            margin: 0;
            position: relative;
        }
    }
    
    .data-item {
        color: color(primary-light);
        position: relative;
        
        .data-highlight,
        .data-description {
            display: block;
            vertical-align: top;
            
            sup {
                display: inline-block;
                font-size: 0.65em;
                margin-top: 1rem;
                margin-left: 0.25rem;
                vertical-align: baseline;
                color: color(secondary);
                font-weight: bold;
            }
        }
        
        .data-highlight {
            font-family: $font-alternate;
            font-weight: bold;
            color: color(secondary);
            font-size: 1.95rem;
            line-height: 1.125em;
        }
        
        .data-description {
            font-size: 1.125rem;
            line-height: 1.25em;
            font-weight: 600;
            color: color(primary-light);
            
            span {
                color: color(secondary);
            }
        }
    }
    
    .columns {
        width: 85%;
        margin-left: 7.5%;
        
        .data-item {
            display: table !important;
            height: 100%;
            float: left !important;
            width: 33.333333% !important;
            position: relative !important;
            text-align: center;
            
            .content-wrap {
                display: table-cell;
                height: auto;
                width: 100%;
                vertical-align: middle;
            }
            
            .data-image {
                width: 80%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                opacity: 0;
                
                img {
                    width: 60%;
                    height: auto;
                    margin-top: -40rem;
                }
            }
            
            .data-content {
                opacity: 0;
                
                .data-description {
                    width: auto;
                    max-width: rem(200px);
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    
    .progress-bars {
        height: 100%;
        
        .data-item {
            position: relative;
            
            
            &:before {
                display: block;
                font-family: 'FontAwesome';
                border-radius: 2rem;
                background: color(primary-medium);
                position: absolute;
            }
            
            .data-content {
                display: block;
                height: auto;
                position: absolute;
            }
        }
        
        &.horizontal {
            padding: 2rem 0;

            .data-item {
                width: 100%;
                height: 33.333333%;
                
                &:before {
                    content: "\f061";
                    width: 0;
                    height: 2rem;
                    top: 50%;
                    left: -2rem;
                    margin-top: -1rem;
                    text-align: right;
                    padding-right: 0.5rem;
                    color: color(primary-darker);
                    line-height: 1.925rem;
                }
                
                .data-content {
                    height: 90px;
                    top: 50%;
                    margin-top: -45px;
                    text-align: left !important;
                    opacity: 0;
                }
            }
        }
        
        &.vertical {
            @extend %clearfix;
            width: 90%;
            margin-left: 5%;
            
            .data-item {
                float: left;
                width: 33.333333%;
                height: 100%;
                
                &:before {
                    content: "\f062";
                    width: 2rem;
                    height: 0;
                    bottom: -2rem;
                    left: 50%;
                    margin-left: -1rem;
                    text-align: center;
                    padding-top: 0.25rem;
                    color: color(primary-darker);
                }
                
                .data-content {
                    width: 100%;
                    height: 120px;
                    top: 20%;
                    text-align: center !important;
                    left: 0;
                    opacity: 0;
                    
                    span {
                        text-align: center;
                    }
                    
                    .data-description {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
    
    &.is-active {
        .columns {
            .data-item {
                &:nth-child(1) {
                    .data-image {
                        opacity: 1;
                        transition: opacity 0.75s ease-out;
                        
                        img {
                            margin-top: 0;
                            transition: margin-top 0.25s ease-out;
                        }
                    }

                    .data-content {
                        opacity: 1;
                        transition: opacity 0.5s ease-out;
                        transition-delay: 0.45s;
                    }
                }
                
                &:nth-child(2) {
                    .data-image {
                        opacity: 1;
                        transition: opacity 0.75s ease-out;
                        transition-delay: 0.55s;
                        
                        img {
                            margin-top: 0;
                            transition: margin-top 0.25s ease-out;
                            transition-delay: 0.55s;
                        }
                    }

                    .data-content {
                        opacity: 1;
                        transition: opacity 0.5s ease-out;
                        transition-delay: 0.85s;
                    }
                }
                
                &:nth-child(3) {
                    .data-image {
                        opacity: 1;
                        transition: opacity 0.75s ease-out;
                        transition-delay: 1s;
                        
                        img {
                            margin-top: 0;
                            transition: margin-top 0.25s ease-out;
                            transition-delay: 1s;
                        }
                    }

                    .data-content {
                        opacity: 1;
                        transition: opacity 0.5s ease-out;
                        transition-delay: 1.5s;
                    }
                }
            }
        }
        
        .progress-bars {
            &.horizontal {
                .data-item {
                    &:nth-child(1) {
                        .data-content {
                            left: 64%;
                            opacity: 1;
                            transition: opacity 0.3s ease-out;
                            transition-delay: 0.2s;
                        }

                        &:before {
                            width: 62%;
                            transition: width 0.25s ease-out;
                            transition-delay: 0.1s;
                        }
                    }

                    &:nth-child(2) {
                        .data-content {
                            left: 54%;
                            opacity: 1;
                            transition: opacity 0.3s ease-out;
                            transition-delay: 0.3s;
                        }

                        &:before {
                            width: 52%;
                            transition: width 0.25s ease-out;
                            transition-delay: 0.25s;

                        }
                    }

                    &:nth-child(3) {
                        .data-content {
                            left: 74%;
                            opacity: 1;
                            transition: opacity 0.3s ease-out;
                            transition-delay: 0.4s;
                        }

                        &:before {
                            width: 72%;
                            transition: width 0.25s ease-out;
                            transition-delay: 0.35s;

                        }
                    }
                }
            }
            
            &.vertical {
                .data-item {
                    &:nth-child(1) {
                        .data-content {
                            top: 41%;
                            opacity: 1;
                            transition: opacity 0.3s ease-out;
                            transition-delay: 0.2s;
                        }

                        &:before {
                            height: 35%;
                            transition: height 0.25s ease-out;
                            transition-delay: 0.1s;
                        }
                    }

                    &:nth-child(2) {
                        .data-content {
                            top: 28%;
                            opacity: 1;
                            transition: opacity 0.3s ease-out;
                            transition-delay: 0.3s;
                        }

                        &:before {
                            height: 48%;
                            transition: height 0.25s ease-out;
                            transition-delay: 0.25s;
                        }
                    }

                    &:nth-child(3) {
                        .data-content {
                           top: 13%;
                            opacity: 1;
                            transition: opacity 0.3s ease-out;
                            transition-delay: 0.4s;
                        }

                        &:before {
                            height: 62%;
                            transition: height 0.25s ease-out;
                            transition-delay: 0.35s;
                        }
                    }
                }
            }
        }
    }
    
    @include responsive($max-width: '1021px') {
        
        .data-item {

            .data-highlight,
            .data-description {
                
                sup {
                    display: inline-block;
                    font-size: 0.65em;
                    margin-top: 1rem;
                    margin-left: 0.25rem;
                    vertical-align: baseline;
                    color: color(secondary);
                    font-weight: bold;
                }
            }

            .data-highlight {
                font-size: 1.5rem;
                line-height: 1.125em;
            }

            .data-description {
                font-size: 1.05rem;
                line-height: 1.25em;
            }
        }

        .columns {
            width: 100%;
            margin-left: 0;
            
            .data-item {
                padding: 1.5rem 0;
                
                .data-image {
                    width: 90%;
                    
                    img {
                        width: auto !important;
                        height: rem(90px) !important;
                    }
                }
            }
        }
    }
    
    @include responsive($max-width: '720px') {
        
        &.is-active {
            .progress-bars {
                &.vertical {
                    .data-item {
                        &:nth-child(1) {
                            .data-content {
                                top: 28%;
                            }
                        }

                        &:nth-child(2) {
                            .data-content {
                                top: 20%;
                            }
                        }

                        &:nth-child(3) {
                            .data-content {
                               top: 7%;
                            }
                        }
                    }
                }
            }
        }
        
    }
}