.block-product-details {
    position: relative;
    z-index: 10;
    margin-top: 3rem;
    
    h2,
    h3 {
        &,
        &.mk-fancy-title.shortcode-heading {
            display: block;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            color: color(secondary);
            font-family: $font-alternate;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.15em;
            text-align: center;
            
        }
    }
    
    .mk-text-block  {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.45em;
    }
    
    & + & {
        margin-top: 0;
    }
    
    .vc_icon_element {
        text-align: center;
        padding-bottom: 2.25rem;
        text-align: center;
        
        .vc_icon_element-icon {
            display: block;
            width: 100%;
            text-align: center;
            
            &:before {
                display: block;
                width: 100%;
                font-size: 4rem;
                font-weight: normal;
            }
        }
        
    }
    
    @include responsive($max-width: '990px') {
        .vc_icon_element {
            text-align: center;
            padding-bottom: 2.25rem;

            .vc_icon_element-icon {
                &:before {
                    font-size: 3rem;
                }
            }

        }
    }
}

.mk-text-block {
    .mk-fancy-title,
    .mk-fancy-title.shortcode-heading {
        font-family: $font-alternate !important;
        color: color(secondary);
        font-size: 1.5rem;
        line-height: 1.15em;
        font-weight: normal;
        
        @include responsive($max-width: '800px') {
            font-size: 1.35rem;
            line-height: 1.25em;
        }
    }
}

.wpb_row {
    &.add-whitespace {
        margin-top: 2rem;
    }
}

//Footer Testimonials
.footer-testimonials {
    width: 100vw;
    height: auto;
    background-image: url('/wp-content/themes/jupiter-child/resources/images/testimonials_footer_bg.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0;
    padding-top: 6rem;
    padding-bottom: 3rem;
    
    &:before {
        @extend %before-after-absolute;
        width: 3rem;
        height: 3rem;
        background-image: url('/wp-content/themes/jupiter-child/resources/images/testimonial_quotes.svg');
        background-size: contain;
        background-position: center center;
        left: 50%;
        top: 2rem;
        margin-left: -1.5rem;
        z-index: 3;
    }
    
    &:after {
        @extend %before-after-absolute;
        width: 100%;
        height: 100%;
        background: rgba(color(secondary),0.925);
        top: 0;
        left: 0;
    }

    &.full-width {
        width: 100% !important;
    }

    .slide-testimonial {
        height: 100%;
        text-align: center;
        color: #FFF;
        z-index: 10;
        list-style: none;
        position: relative;

        p {
            display: block;
            width: 50%;
            margin: 0 auto;
            color: #FFF !important;
            
            &.testimonial-content {
                font-size: 1.75rem;
                line-height: 1.15em;
                font-weight: 200;
                margin-bottom: 0.75rem;
            }
            
            &.testimonial-author {
                font-family: $font-alternate;
                font-size: 1.15rem;
                margin-bottom: 1.5rem;
            }
            
            &.testimonial-disclaimer {
                width: 40%;
                font-size: 1rem;
                line-height: 1.1em;
            }
        }
    
    }
    

    @include responsive($max-width: '2200px') {
        width: 100vw;
    }

    @include responsive($max-width: '1600px') {
        width: 100vw;
        
        .slide-testimonial {
            p {
                width: 60%;

                &.testimonial-disclaimer {
                    width: 50%;
                }
            }

        }
    }

    @include responsive($max-width: '1460px') {
        .slide-testimonial {
            p {
                width: 70%;

                &.testimonial-disclaimer {
                    width: 60%;
                }
            }

        }
    }

    @include responsive($max-width: '1140px') {
        width: calc(100% - 16rem);
        
        .slide-testimonial {
            p {
                width: 80%;

                &.testimonial-disclaimer {
                    width: 60%;
                }
            }

        }
    }
    
    @include responsive($max-width: '975px') {
        display: none;
    }
}

//Home Page Slides
.home-slide-s5-analyzer-logo {
    width: 40%;
    text-align: center;

    img {
        display: inline-block !important;
        width: 70% !important;
        height: auto;
    }
}

.page-post-excerpt {
    display: none;
}

.row-block-landing {
    border: 1px solid color(border-light);
    border-top: none;
    
    .column_container {
        height: 0;
        padding-top: 33.332% !important;
        position: relative;
        border-right: 1px solid color(border-light) !important;

        .mk-text-block,
        .mk-blog-container,
        .mk-blockquote,
        .mk-image,
        .mk-twitter-shortcode,
        .wpb_video_widget {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            overflow: hidden;
            padding: 2.5rem;
            
            .blog-loop-comments,
            .blog-share-container,
            .mk-readmore,
            .mk-categories,
            .mk-blog-author {
                display: none;
            }
            
            .the-title,
            .the-title a {
                font-family: $font-alternate;
                color: color(secondary);
                margin-bottom: 1.5rem;
            }
        }
        
        .mk-tweet-list,
        .mk-tweet-shortcode {
            
            position: relative;
            
            li {
                padding: 6rem 0 0 0 !important;
                border-bottom: none;
            }
            
            .tweet-icon {
                display: block;
                width: 100%;
                height: 2rem;
                
                .mk-svg-icon {
                    width: 1.875rem;
                    height: 1.875rem;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: -0.9375rem;
                    fill: #55acee;
                }
            }
            
            .tweet-text {
                border: none;
            }
            
            .tweet-time {
                display: none;
            }
        }
        
        .mk-blog-classic-item {
            border: none;
            
            .featured-image {
                display: none;
            }
        }
        
        .mk-blog-meta {
            padding: 0;
            
            
            .blog-loop-comments,
            .mk-readmore,
            .blog-share-container {
                display: none;
            }
            
            .the-excerpt {
                * {
                    display: none;
                }
                
                *:first-child,
                .page-post-excerpt {
                    display: block;

                    .mk-text-block {
                        padding: 0 18px;
                    }
                }
                
                @include responsive($max-width: 990px) {
                    .wpb_column {
                        padding-left: 0 !important;
                    }
                }
            }
        }
        
        p {
            display: block;
            font-size: 1rem;
            line-height: 1.45em;
            text-overflow: ellipsis;
        }
        
        &:last-child {
            border-right: 0 !important;
        }
        
        @include responsive($max-width: '1440px') {
            
        }
        
        @include responsive($max-width: '1280px') {
            
            p {
                font-size: 19px;
            }
        }
        
        @include responsive($max-width: '1100px') {
            
            .mk-text-block .mk-fancy-title, 
            .mk-text-block .mk-fancy-title.shortcode-heading {
                font-size: 1.5rem !important;
                font-family: $font-alternate;
            }
            
            p {
                
                font-size: 17px;
                line-height: 1.5em;
            }
        }
        
        @include responsive($max-width: '1024px') {
           
        }
        
        @include responsive($max-width: '765px') {
        }
        
        @include responsive($max-width: '560px') {
            
            p {
                font-size: 17px;
            }
        }
    }
    
    @include responsive($max-width: '990px') {
        border: none;

        .column_container {
            height: auto;
            padding: 0 2rem !important;
            border: none !important;
            
            .mk-text-block,
            .mk-blog-container,
            .mk-twitter-shortcode {
                display: block;
                width: 100%;
                height: auto;
                position: static;
                padding: 0;
                
                article {
                    margin-bottom: 0 !important;
                }
            }
            
            .mk-tweet-list,
            .mk-tweet-shortcode {
                li {
                    padding: 4rem 0 2.5rem 0 !important;
                }
            }
        }
    }
}

@include responsive($max-width: '990px') {
    .row-block-landing + .row-block-landing {
        margin-top: 2rem;
    }
    
    .mk-main-wrapper-holder {
        &:last-of-type {
            padding-bottom: 50px !important;
        }
    }
}

.mk-blockquote.quote-style {
    background: none !important;
    padding-top: 4rem;
    position: relative;
    
    p {
        font-size: 1.65rem !important;
        font-weight: 200;
        font-family: $font-alternate;
    }
    
    &:before {
        color: color(secondary) !important;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -1.5rem;
        
    }
    
    @include responsive($max-width: '1440px') {
            padding: 3rem !important;
            padding-top: 4rem !important;
            
        }
        
    @include responsive($max-width: '1280px') {
        padding: 2rem !important;
        padding-top: 4rem !important;

        p {
            font-size: 19px  !important;
        }
    }

    @include responsive($max-width: '1100px') {
        padding: 1.25rem !important;
        padding-top: 4rem !important;

        p {
            font-size: 18px  !important;
        }
    }

    @include responsive($max-width: '1024px') {
        padding: 1rem !important;
        padding-top: 4rem !important;

    }

    @include responsive($max-width: '765px') {
        
    }

    @include responsive($max-width: '560px') {

        p {
            font-size: 17px  !important;
        }
    }
}

.columns-one-third {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #d9e2eb;
    
    .mk-fancy-title {
        padding-bottom: 0;
        margin-bottom: 0;
        font-family: $font-alternate;
        font-weight: normal !important;
        color: color(secondary) !important;
    }
    
    .wpb_column {
        
        &:nth-child(1) {
            width: 30%;
            
            img {
                width: auto;
                height: auto;
                max-height: 210px;
            }
        }
        
        &:nth-child(2) {
            width: 70%;
        }
    }
    
    &:last-of-type {
        border-bottom: none;
    }
    
    @include responsive($max-width: '1100px') {
        .wpb_column {
        
            &:nth-child(1) {
                width: 50%;
            }

            &:nth-child(2) {
                width: 50%;
            }
        }
    }
    
    @include responsive($max-width: '768px') {
        .wpb_column {
            text-align: center;
            
            .mk-image-holder {
                margin: 0 auto;
            }
        
            &:nth-child(1) {
                width: 100%;
            }

            &:nth-child(2) {
                width: 100%;
            }
        }
    }
}

.theme-content {
    &.full-layout {
        .clearboth {
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.textwidget {
    blockquote {
        &:before {
            color: #FFF;
        }
        
        footer {
            p {
                margin-top: 1rem;
                font-size: 0.9rem !important;
                line-height: 1.2em !important;
            }
        }
    }
}

.wpb_row {
    @include responsive($max-width: '990px') {
        .wpb_column {
            display: block;
            width: 100%;
        }
        
        .wpb_column + .wpb_column {
            margin-top: 1.5rem;
        }
    }
}
