// Responsive Breakpoints
$phone-portrait: 320px;
$phone-landscape: 480px;
$tablet-small: 600px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$laptop: 1200px;
$desktop: 1600px;
$desktop-large: 2200px;

@mixin responsive($media: null, $min-width: null, $max-width: null, $max-height: null) {
    @if $media == 'phone-portrait' {
        @media (max-width: $phone-portrait) {
            @content;
        }
    }

    @if $media == 'phone-landscape' {
        @media (max-width: $phone-landscape) {
            @content;
        }
    }
    
    @if $media == 'tablet-small' {
        @media (max-width: $tablet-small) {
            @content;
        }
    }
    
    @if $media == 'tablet-portrait' {
        @media (max-width: $tablet-portrait) {
            @content;
        }
    }
    
    @if $media == 'tablet-landscape' {
        @media (max-width: $tablet-landscape) {
            @content;
        }
    }
    
    @if $media == 'laptop' {
        @media (max-width: $laptop) {
            @content;
        }
    }
    
    @if $media == 'desktop' {
        @media (max-width: $desktop) {
            @content;
        }
    }
    
    @if $media == 'desktop-large' {
        @media (max-width: $desktop-large) {
            @content;
        }
    }

    @if not $media {
        @if $min-width and $max-width {
            @media (min-width: $min-width) and (max-width: $max-width) {
                @content;
            }
        } @else if $min-width {
            @media (min-width: $min-width) {
                @content;
            }
        } @else if $max-width {
            @media (max-width: $max-width) {
                @content;
            }
        } @else if $max-height {
            @media (max-height: $max-height) {
                @content;
            }
        }
    }
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
@mixin scale($scale) {
	 @include transform(scale($scale));
} 

@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}

@mixin skew($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin aspect-ratio($w, $h) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($h / $w) * 100%;
    }
    
    > img,
    > .media {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}