.type-title-main {
    font-weight: 600 !important;
    letter-spacing: -2px !important;
    margin-top: 3rem !important;
    font-size: 3.75rem !important;
    
    @include responsive($max-width: '767px') {
        font-size: 3rem !important;
    }
}

.type-subtitle-main {
    font-family: $font-alternate !important;
    font-size: 2.25rem !important;
    
    @include responsive($max-width: '767px') {
        font-size: 1.85rem !important;
    }
}

.type-intro {
    
    &,
    p {
        font-size: 1.35rem;
        line-height: 1.5em;
        font-weight: 200;
        margin-bottom: 5rem;
    }
    
    @include responsive($max-width: '1200px') {
        &,
        p {
            font-size: 1.65rem;
        }
    }
    
    @include responsive($max-width: '1020px') {
        &,
        p {
            font-size: 1.45rem;
            
        }
    }
    
    @include responsive($max-width: '767px') {
        &,
        p {
            font-size: 1.275rem;
            line-height: 1.5em;
            font-weight: normal;
        }
    }
}

.text-block {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    @include responsive($max-width: '768px') {
        width: 100%;
    }
}

.align-center {
    text-align: center !important;
}

.type-small {
    font-size: 0.75rem !important;
    line-height: 1.35em !important;
}