// UI COLORS:
$colors: (
    primary: #355577,
    primary-lighter: #7fa1c6,
    primary-light: #4d7095,
    primary-medium: #203c5a,
    primary-dark: #1b2836,
    primary-darker: #151e28,
    secondary: #89B25B,
    secondary-medium: #769b4c,
    accent: #da6100,
    border-light: #e6e6e6,
    primary-bg: #355577
);

// TYPOGRAPHIC FAMILIES: 
$font-bodytext: 'open sans', sans-serif;
$font-alternate: 'play', sans-serif;
$font-size-base: 16px;

//DEFAULTS WIDTHS & HEIGHTS
$sizes: (
    sidebar: rem(300px),
    sidebar-tablet: rem(240px)
);
