<?php /* Shopping cart contents */ ?>
<div class="am-basket-preview">
<?php
$hasQty = false;
foreach ($cart->getItems() as $item) {
    $hasQty = $hasQty || $item->qty > 1;
}
?>
<?php if (count($cart->getItems())) : ?>
    <table class="am-basket-preview-items">
    <?php foreach ($cart->getItems() as $item): ?>
    <tr class="am-basket-preview-item">
        <td class="am-basket-preview-item-remove"><a href="javascript:;" onclick="cart.remove(<?php p($item->item_id); ?>)">[x]</a></td>
        <td class="am-basket-preview-item-title"><?php p($item->item_title) ?></td>
        <?php if ($hasQty) : ?>
        <td class="am-basket-preview-item-qty">&times;<?php p($item->qty) ?></td>
        <?php endif; ?>
        <td class="am-basket-preview-item-total"><?php p($this->cart->getCurrency($item->first_total)) ?></td>
    </tr>
    <?php endforeach ?>
    </table>
    <div class="am-basket-preview-actions">
        <a href="<?php $this->pUrl(null, 'view-basket') ?>"><?php __e('View Basket')?></a>
    |
        <a href="<?php $this->pUrl(null, 'checkout') ?>"><?php __e('Checkout')?></a>
    </div>
<?php else: ?>
    <div class="am-basket-preview-empty">
        <?php __e('Your cart is empty. Click %shere%s to continue shopping.', '<a href="' . REL_ROOT_URL . '/cart">', '</a>') ?>
    </div>
<?php endif; ?>
</div>
<script type="text/javascript">
jQuery(function() {
    jQuery('.am-cart-product').removeClass('am-cart-product-in-basket');
    jQuery('.am-cart-product-status').hide();
    jQuery('.am-cart-product').
        find('input[type=button][name=add]').removeAttr('disabled').show();
    jQuery('.am-cart-product').
        find('input[type=button][name=order]').attr('value', '<?php __e('Quick Order') ?>');
<?php foreach ($this->cart->getItems() as $item) : ?>
    jQuery('#am-cart-product-<?php p($item->item_id) ?>').addClass('am-cart-product-in-basket');
    jQuery('#am-cart-product-<?php p($item->item_id) ?>').
        find('.am-cart-product-status').
        empty().
        append('<?php include $this->_script('cart/_product_status.phtml')  ?>').show();
    <?php if (!$item->variable_qty) : ?>
    jQuery('#am-cart-product-<?php p($item->item_id) ?>').
        find('input[type=button][name=add]').prop('disabled', 'disabled').hide();
    jQuery('#am-cart-product-<?php p($item->item_id) ?>').
        find('input[type=button][name=order]').prop('value', '<?php __e('Checkout') ?>');
    <?php endif; ?>
<?php endforeach; ?>
});
</script>