<?php /* Shopping cart categories */ ?>
<div class="am-cart-category-list">
    <div>
        <form method="get" action="<?php p(REL_ROOT_URL . '/cart') ?>">
            <select name="c" style="width:100%">
                <?php echo $this->formOptions($this->productCategoryOptions, $productCategorySelected) ?>
            </select>
        </form>
    </div>
</div>