<?php /* Shopping cart search */ ?>
<form method="get" action="<?php echo REL_ROOT_URL?>/cart/index/search">
    <input type="text" name="q" value="<?php p(@$_REQUEST['q']) ?>">
    <input type="submit" value="<?php __e('Search')?>">
</form>