@charset "utf-8";
/*
 * CSS Document
 * This is where the Modular CSS formatting for elements are done
*/

table.contract-summary-box {
	display: inline-block;
	margin: 5px 15px;
	border-collapse: collapse;
	background-color: #333;
	text-align: center;
}

.display-border {
	border-left: thin solid white;
	border-right: thin solid white;
	border-collapse: collapse;
}

.contract-summary-box td {
	text-align: center;
	color: white;
	padding: 1px 3px;
	min-width: 50px;
	font-weight: normal;
	font-size: 13px;
}

td.contract-symbol {
	cursor: pointer;
}

.contract-summary-box td .delta {
	font-size: 10px;
	display:  inline-block;
	margin-left: 7px;
}

.top-quarter {
	background-color: #666;
	min-height: 15px;
}

.middle-quarter {
	background-color: #666;	
	min-height: 15px;
}

.contract-summary-chart {
	display: block;
	height: 60px;
	width: 100%;
	margin: 0 auto;
	max-width: 400px;
}








/* OLD 
.ticker-element-top-bar {
	display: block;
}

.ticker-element-top-bottom {
	display: block;
	height: 70px;
}
	 

.ticker-element-container {
	display: inline-block;
	font-size: 0px;
	border: 3px solid #666;
	background-color: #666;
	padding: 0;
	margin: 0px 35px 10px 10px;
	text-align: center;
}

.ticker-element-container .ticker-element-ticker {
	display: inline-block;
	min-width: 55px;
	height: 40px;
	background-color: #142f44;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
	vertical-align: middle;
}

.ticker-element-container .ticker-element-data {
	display: inline-block;
	background-color: #666;
	vertical-align: middle;
	height: 40px;
}


.ticker-element-container .element {
	display: inline-block;
	font-size: 12px;
	min-width: 35px;
	margin: 0px;
	height: 40px;
	padding: 0px 8px;
	border-left: 1px solid #ccc;
	vertical-align: middle;
	background-color: #666;
}

.ticker-element-container .top-element {
	display: block;
	font-size: 14px;
	line-height: 16px;
	padding: 3px 0px;
}

.ticker-element-container .bottom-element {
	display: block;
	line-height: 16px;
	font-size: 12px;
}

.ticker-element-container .average {
	font-size: 14px;	
}

.ticker-element-container .delta {
	margin-left: 4px;
	font-size: 10px;
}
*/