html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #32363b;
	color: #f2f2f2;
	font-family: 'Ubuntu', sans-serif;
	index: 0;
}

/* CSS for split pane and dividers */
.toolbar-container {
	height: 7em;
}

.content {
	position: absolute;
	top: 7em;
	left: 0;
	bottom: 0;
	right: 0;
}

.split-pane-divider {
	background-color: none;
}

#horizontal-divider {
	top: 11em;
	height: 10px;
}

#vertical-divider {
	left: 30em;
	width: 10px;
}

#top-component {
	height: 11em;
	min-height: 2.1em;
}

#top-component2 {
	height: 20em;
	min-height: 2.1em;
}

#horizontal-divider2 {
	top: 20em;
	height: 10px;
}

#bottom-component2 {
	top: 20em;
	min-height: 2em;
	margin-top: 10px;
}

#bottom-component {
	top: 11em;
	min-height: 2em;
	margin-top: 10px;
}

#left-component {
	width: 30em;
	min-width: 10em;
}
#right-component {
	left: 30em;
	margin-left: 10px; /* same as divider width */
}

#horizontal-divider:hover, #vertical-divider:hover, #horizontal-divider2:hover {
	background-color: rgba(255, 153, 255, .2);
	-webkit-transition: .6s; /* Safari */
	transition: 0.6s;
}	

/* End of CSS for split panes */

/* Inner design of split panes */	
.panel-container {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0em .4em;
}

.split-pane-inner {
	box-sizing: border-box;
	padding: .3em .3em;
	height: 100%;
	width: 100%;
}

.split-pane-functional-window {
	display: block;
	padding: .6em .6em;
	width: 100%;	
	height: 100%;	
	background-color: rgba(40,40,40,.5);	
	border-radius: 8px;
	box-sizing: border-box;
	overflow: auto;
}

.split-pane-functional-window .titlebar {
	display: block;
	margin-bottom: .5em;
	font-size: .8em;
	color: rgba(255,255,255,.8);
}

.split-pane-functional-window .titlebar a {
	display: inline;
	margin: 0px 8px;
	padding: 3px 10px;
	cursor: pointer;	
	font-size: .9em;
	border-radius: 5px;
	background-color: #0066ff;
	color: #fff;
}

.split-pane-functional-window .titlebar a:hover{
	background-color: #0052cc;
}

.split-pane-functional-window .databar {
	display: inline-block;
	width: 100%;
	overflow: auto;
}

/* End of CSS for inner design of panes */

#selector-toolbar {
	display: block;
	height: 35px;
	line-height: 35px;
	margin: 8px 15px;
	padding: 0px 15px;
	background-color: #595959;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #ccc;
}

.toolbar-left-section {
	display: inline-block;
}

.toolbar-right-section {
	float: right;
	height: 100%;
	display: inline-block;
}

.toolbar-right-section .icon {
	margin: 2px 8px auto 8px;
}

.icon#logout { background-image: url(../images/icon-logout.png); }
.icon#bug-report { background-image: url(../images/icon-bug-report.png); }
.icon#settings { background-image: url(../images/icon-settings.png); }
.icon#help { background-image: url(../images/icon-help.png); }

.icon {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 32px;
	width: 32px;
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
}

.icon:hover {
	height: 32px;
	width: 32px;
	background-position: -32px 0;
}

.switch-platform-icon {
	color: #7a8187;
	font-size: 23px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: top;
	margin: auto 10px;
}

.switch-platform-icon:hover {
	color: #e6e6e6;
}


/* Modal Settings Display */
.main-content {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.modal-content {
	display: block;
	display: none;
	background-color: rgba (50, 50, 50, 0.5);
	height: 100%;
	width: 100%;
}

/* settings tool bar */
.hidden-toolbar {
	display: none;
	text-align: center;
	width: 50%;
	min-width: 50%;
	max-width: 90%;
	margin: 2em auto;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0 0 2em #888888;		
}

.hidden-toolbar .settings-toolbar-top {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.8em;
	background-color: #262626;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.hidden-toolbar .settings-toolbar-bottom {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;		
	padding: 1em 0;
}

/* Trades table Css */
#trades-table {
	display: block;
	margin: 2px 2px;
}

#trades-table th, #trades-table td {
	font-size: 0.7em;
	border: thin solid #ccc;
	padding: 2px 2px;
	text-align: center;
}

/* Charts CSS */
.chart-container {
	display: block;
	min-height: 250px;
	width: 98%;
	margin: 10px 2px;
	padding: 0;
}

/* Trade Emotiocons */
.trade-error#happy { background-image: url(../images/smiley-happy.png); }
.trade-error#normal { background-image: url(../images/smiley-normal.png); }
.trade-error#sad { background-image: url(../images/smiley-sad.png); }

.trade-error {
	display: inline-block;
	margin: 0px 2px;
	padding: 0;
	height: 16px;
	width: 16px;
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
}

.trade-error:hover, .trade-error.chosen {
	height: 16px;
	width: 16px;
	background-position: -16px 0px;
}

.TradeFillID { font-weight: bold; cursor: pointer; font-size: 1.1em; }


/* Connection status page */
.connection-status {
    display:  inline-block;
    border-radius: 5px;
    background-color: darkred;
    font-size: 0.8em;
    line-height: 23px !important;
    padding: 0px 5px !important;
    margin: 2px 5px;
}


/* font-control */
a.font-control {
	display: inline-block; margin: auto 8px;
	font-weight: normal;
	cursor: pointer;
	vertical-align: middle;
}

a.font-control:hover {
	color: #0066ff;
}

a.font-control#large { font-size: 1.3em; }
a.font-control#medium { font-size: 1em; }
a.font-control#small { font-size: 0.7em; }

.s5-watermark {
	display: inline-block;
	vertical-align: top;
	margin-right: 9px;
	height: 15px;
}