
.am-header .am-header-content-wrapper {
    border: none;
    background: none;
}

.am-header {
    background: %color%;
}

.am-layout {
    background: %color%;
}

.am-header-line {
    border:none;
    background: %color%;
}

.am-footer .am-footer-content-wrapper {
    background: %color%;
    color: inherit;
}

.am-body {
    background: none;
}

.am-body .am-body-content-wrapper {
    border: none;
}

.am-header-content-wrapper {
    padding: 0;
}

.am-header-content-content {
    display: none;
}

.am-header .am-header-content .am-header-content-logo {
    float: none;
    margin: 0;
}

.am-header .am-header-content {
    text-align: %logo_align%;
}

.am-main {
    max-width: %max_width%px;
}

.am-header-content img {
    width: %logo_width%;
}

.am-footer-actions {
    display:none;
}

.am-footer .am-footer-content-wrapper {
    color: %color_c%;
}